unpackaged/main/default/flows/AAA_Prefix9DigitMemebrShipNumber.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Membership_number_Length</name>
        <label>Check Membership number Length</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IF_9_Digits</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MembershipNumberLength</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>9.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_MemebrshipNumber</targetReference>
            </connector>
            <label>IF 9 Digits</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>MembershipNumberLength</name>
        <dataType>Number</dataType>
        <expression>LEN({!$Record.Member_ID__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>PrefixMemberShip</name>
        <dataType>String</dataType>
        <expression>&#39;620240&#39; + {!$Record.Member_ID__c}</expression>
    </formulas>
    <interviewLabel>AAA_Prefix9DigitMemebrShipNumber {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AAA_Prefix9DigitMemebrShipNumber</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_MemebrshipNumber</name>
        <label>Update MemebrshipNumber</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Member_ID__c</field>
            <value>
                <elementReference>PrefixMemberShip</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Membership_number_Length</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Member_ClubCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>240</stringValue>
            </value>
        </filters>
        <filters>
            <field>Member_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Reciprocal__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
