unpackaged/main/default/flows/AAA_UpdateFlatbedonWOandCase.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Member_Vehicle_Type</name>
        <label>Check Member Vehicle Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Requires_Flatbed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Member_Vehicle_Record.Vehicle_Drive_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4WD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Member_Vehicle_Record.Vehicle_Drive_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AWD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Member_Vehicle_Record.Vehicle_Drive_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4 X 4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Work_Type</targetReference>
            </connector>
            <label>Requires Flatbed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>AAA_UpdateFlatbedonWOandCase {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AAA_UpdateFlatbedonWOandCase</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Member_Vehicle_Record</name>
        <label>Get Member Vehicle Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Member_Vehicle_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Member_Vehicle__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FSL_Member_Vehicle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Type</name>
        <label>Get Work Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_to_Flatbed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Flatbed Tow</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_to_Flatbed</name>
        <label>Update to Flatbed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Needs_Flatbed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>Get_Work_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Member_Vehicle_Record</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>Member_Vehicle__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Case_Service_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tow</stringValue>
            </value>
        </filters>
        <filters>
            <field>Total_Mileage__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <numberValue>25.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>D3_Tow_Mileage__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <numberValue>25.0</numberValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
