unpackaged/main/default/flows/Approve_Reject_SLIs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Approve_SLI</name>
        <label>Approve SLI</label>
        <locationX>1480</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>Loop_SLIs_1.Adjustment_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>auditLogToInsert.Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>auditLogDetailsApproved</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>auditLogToInsert.Work_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Order.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>auditLogToInsert.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Order.CaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>auditLogToInsert.Service_Line_Items__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_SLIs_1.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>commentToInsert.ACG_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Order.CaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>commentToInsert.FSL_Comment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>auditLogDetailsApproved</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>commentToInsert.FSL_Work_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Order.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_SLIs_3.Ready_for_Invoicing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_SLIs_1.Reason_for_Decision__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reason_for_Decision</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_SLI_Audit_Log_And_Call_Comment_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_new_Product_to_SLI</name>
        <label>Assign new Product to SLI</label>
        <locationX>578</locationX>
        <locationY>2630</locationY>
        <assignmentItems>
            <assignToReference>Loop_SLIs_3.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newProductCodePicklistField</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>hasSLIToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Pay_Facility</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SLI_Cost_1</name>
        <label>Assign SLI Cost</label>
        <locationX>1348</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>Loop_SLIs_1.Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_SLIs_1.Requested_Cost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_SLIs_1.Override_Pricing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Approve_SLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SLI_Cost_3</name>
        <label>Assign SLI Cost</label>
        <locationX>578</locationX>
        <locationY>2330</locationY>
        <assignmentItems>
            <assignToReference>Loop_SLIs_3.Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>hasSLIToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SLI_Product_Code</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SLI_Units_1</name>
        <label>Assign SLI Units</label>
        <locationX>1348</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>Loop_SLIs_1.Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_SLIs_1.Requested_Unit__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_SLI_Cost</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SLI_Units_3</name>
        <label>Assign SLI Units</label>
        <locationX>578</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>Loop_SLIs_3.Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>hasSLIToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Override_Pricing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Product_Code</name>
        <label>Collect Product Code</label>
        <locationX>578</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>productCodeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_all_SLIs_from_query.Product_Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_all_SLIs_from_query</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_SLI_Audit_Log_And_Call_Comment_1</name>
        <label>Collect SLI, Audit Log, And Call Comment</label>
        <locationX>1480</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>slisToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_SLIs_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>auditLogsToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>auditLogToInsert</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>commentsToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>commentToInsert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_SLIs_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_SLI_Audit_Log_And_Call_Comment_2</name>
        <label>Collect SLI, Audit Log, And Call Comment</label>
        <locationX>1564</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>slisToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_SLIs_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>auditLogsToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>auditLogToInsert</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>commentsToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>commentToInsert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_SLIs_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_SLI_Audit_Log_And_Call_Comment_3</name>
        <label>Collect SLI, Audit Log, And Call Comment</label>
        <locationX>578</locationX>
        <locationY>3638</locationY>
        <assignmentItems>
            <assignToReference>hasSLIsToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>slisToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_SLIs_3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>auditLogsToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>auditLogToInsert</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>commentsToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>commentToInsert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reset_Variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Work_Order_To_Update</name>
        <label>Collect Work Order To Update</label>
        <locationX>336</locationX>
        <locationY>4130</locationY>
        <assignmentItems>
            <assignToReference>woToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Order</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Work_Order_Amended_Charges</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Partially_Approve_SLI</name>
        <label>Partially Approve SLI</label>
        <locationX>578</locationX>
        <locationY>3530</locationY>
        <assignmentItems>
            <assignToReference>Loop_SLIs_3.Adjustment_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved with Overrides</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>auditLogToInsert.Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>auditLogDetailsPartialApproved</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>auditLogToInsert.Work_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Order.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>auditLogToInsert.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Order.CaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>auditLogToInsert.Service_Line_Items__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_SLIs_3.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>commentToInsert.ACG_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Order.CaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>commentToInsert.FSL_Comment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>auditLogDetailsPartialApproved</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>commentToInsert.FSL_Work_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Order.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_SLIs_3.Ready_for_Invoicing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_SLIs_3.Reason_for_Decision__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reason_for_Decision_Partial_Approve</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_SLI_Audit_Log_And_Call_Comment_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reject_SLI</name>
        <label>Reject SLI</label>
        <locationX>1564</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>Loop_SLIs_2.Adjustment_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>auditLogToInsert.Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>auditLogDetailsRejected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>auditLogToInsert.Work_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Order.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>auditLogToInsert.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Order.CaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>auditLogToInsert.Service_Line_Items__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_SLIs_2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>commentToInsert.ACG_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Order.CaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>commentToInsert.FSL_Comment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>auditLogDetailsRejected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>commentToInsert.FSL_Work_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Order.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_SLIs_2.Reason_for_Decision__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reason_for_Decision</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_SLI_Audit_Log_And_Call_Comment_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Variables</name>
        <label>Reset Variables</label>
        <locationX>710</locationX>
        <locationY>3830</locationY>
        <assignmentItems>
            <assignToReference>hasSLIToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_SLIs_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Work_Order_Amended_Charges_Indicator</name>
        <label>Set Work Order Amended Charges Indicator</label>
        <locationX>204</locationX>
        <locationY>4346</locationY>
        <assignmentItems>
            <assignToReference>woToUpdate.Amended_Charges_Indicator__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>hasWOToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SLIs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_SLI_Charge_To_Account</name>
        <label>Update SLI Charge To Account</label>
        <locationX>578</locationX>
        <locationY>3230</locationY>
        <assignmentItems>
            <assignToReference>Loop_SLIs_3.Charge_to_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Charge_to_Account</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>hasSLIToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SLI_Updated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_SLI_Override_Pricing</name>
        <label>Update SLI Override Pricing</label>
        <locationX>578</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>Loop_SLIs_3.Override_Pricing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Override_Pricing</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>hasSLIToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_SLI_Cost_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_SLI_Pay_Facility</name>
        <label>Update SLI Pay Facility</label>
        <locationX>578</locationX>
        <locationY>2930</locationY>
        <assignmentItems>
            <assignToReference>Loop_SLIs_3.Pay_Facility__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pay_Facility</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>hasSLIToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Charge_To_Account</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Approve</name>
        <choiceText>Approve</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Approve</stringValue>
        </value>
    </choices>
    <choices>
        <name>Deny</name>
        <choiceText>Deny</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Deny</stringValue>
        </value>
    </choices>
    <choices>
        <name>PartiallyApprove</name>
        <choiceText>Approve with Overrides</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Partially Approve</stringValue>
        </value>
    </choices>
    <choices>
        <name>payFacility</name>
        <choiceText>Pay Facility</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <constants>
        <name>noPendingSLIsSelected</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </constants>
    <decisions>
        <name>Approve_Pending_SLIs</name>
        <label>Approve Pending SLIs?</label>
        <locationX>1368</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Loop_SLIs_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Approve</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Approve_Partially_Approve_Deny</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Approve</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_SLIs_1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assign_SLI_Cost</name>
        <label>Assign SLI Cost?</label>
        <locationX>1480</locationX>
        <locationY>1514</locationY>
        <defaultConnector>
            <targetReference>Approve_SLI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Assign_Cost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_SLIs_1.Requested_Cost__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Loop_SLIs_1.Cost__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_SLIs_1.Requested_Cost__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SLI_Cost_1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assign_SLI_Cost_2</name>
        <label>Assign SLI Cost?</label>
        <locationX>710</locationX>
        <locationY>2222</locationY>
        <defaultConnector>
            <targetReference>Update_SLI_Product_Code</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Assign_Cost_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cost</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cost</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Loop_SLIs_3.Cost__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SLI_Cost_3</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assign_SLI_Units</name>
        <label>Assign SLI Units?</label>
        <locationX>1480</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Assign_SLI_Cost</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Assign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_SLIs_1.Requested_Unit__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Loop_SLIs_1.Unit__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_SLIs_1.Requested_Unit__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SLI_Units_1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assign_SLI_Units_2</name>
        <label>Assign SLI Units?</label>
        <locationX>710</locationX>
        <locationY>1622</locationY>
        <defaultConnector>
            <targetReference>Update_Override_Pricing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Assign_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Quantity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Quantity</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Loop_SLIs_3.Unit__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SLI_Units_3</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_User_Have_Correct_Permissions</name>
        <label>Does User Have Correct Permissions?</label>
        <locationX>719</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Missing_Permissions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Perms</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Back Office</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Work_Order</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Pending_SLIs</name>
        <label>Has Pending SLIs?</label>
        <locationX>408</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>No_Pending_SLIs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Pending_SLIs_From_Work_Order</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pending_SLIs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Selected_SLIs</name>
        <label>Has Selected SLIs?</label>
        <locationX>50</locationX>
        <locationY>5978</locationY>
        <defaultConnector>
            <targetReference>No_SLIs_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Has</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>noPendingSLIsSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Is_Partially_Approved</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_SLIs_To_Update</name>
        <label>Has SLIs To Update?</label>
        <locationX>490</locationX>
        <locationY>4022</locationY>
        <defaultConnector>
            <targetReference>No_Partially_Approved_Updates_Message_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_SLIs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hasSLIsToUpdate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collect_Work_Order_To_Update</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Partially_Approved</name>
        <label>Is Partially Approved?</label>
        <locationX>929</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Approve_or_Reject_SLIs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Partially</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Approve_Partially_Approve_Deny</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PartiallyApprove</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_all_SLIs_from_Work_Order</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SLI_Updated</name>
        <label>SLI Updated?</label>
        <locationX>710</locationX>
        <locationY>3422</locationY>
        <defaultConnector>
            <targetReference>Reset_Variables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hasSLIToUpdate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Partially_Approve_SLI</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Charge_To_Account</name>
        <label>Update Charge To Account?</label>
        <locationX>710</locationX>
        <locationY>3122</locationY>
        <defaultConnector>
            <targetReference>SLI_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_Charge</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Charge_to_Account</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Loop_SLIs_3.Charge_to_Account__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SLI_Charge_To_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Override_Pricing</name>
        <label>Update Override Pricing?</label>
        <locationX>710</locationX>
        <locationY>1922</locationY>
        <defaultConnector>
            <targetReference>Assign_SLI_Cost_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Override</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Override_Pricing</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Loop_SLIs_3.Override_Pricing__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SLI_Override_Pricing</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Pay_Facility</name>
        <label>Update Pay Facility?</label>
        <locationX>710</locationX>
        <locationY>2822</locationY>
        <defaultConnector>
            <targetReference>Update_Charge_To_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Pay_Facility</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Pay_Facility</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Loop_SLIs_3.Pay_Facility__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SLI_Pay_Facility</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_SLI_Product_Code</name>
        <label>Update SLI Product Code?</label>
        <locationX>710</locationX>
        <locationY>2522</locationY>
        <defaultConnector>
            <targetReference>Update_Pay_Facility</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Code</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newProductCodePicklistField</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_new_Product_to_SLI</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Work_Order</name>
        <label>Update Work Order?</label>
        <locationX>929</locationX>
        <locationY>5030</locationY>
        <defaultConnector>
            <targetReference>Success</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_WO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hasWOToUpdate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Work_Order_Amended_Charges_Indicator</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Work_Order_Amended_Charges</name>
        <label>Update Work Order Amended Charges?</label>
        <locationX>336</locationX>
        <locationY>4238</locationY>
        <defaultConnector>
            <targetReference>Update_SLIs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Amended</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Order.Amended_Charges_Indicator__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Work_Order_Amended_Charges_Indicator</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>09/30/2024: Save Reason for Decision values to SLIs
07/02/2024: v1 PR893288-5184</description>
    <dynamicChoiceSets>
        <name>chargeToAcctPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Charge_to_Account__c</picklistField>
        <picklistObject>FSL_Service_Line_Item__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>newProductCodePicklist</name>
        <collectionReference>Get_all_available_Products_that_aren_t_already_part_of_Work_Order</collectionReference>
        <dataType>String</dataType>
        <displayField>ProductCode</displayField>
        <object>Product2</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>auditLogDetailsApproved</name>
        <dataType>String</dataType>
        <expression>&#39;Product Code: &#39; + {!Loop_SLIs_1.Product__r.Name} + &#39;,  Approval Status: Approved,  Requested Unit: &#39; + IF(ISNULL({!Loop_SLIs_1.Requested_Unit__c}), &#39;None&#39;, TEXT({!Loop_SLIs_1.Requested_Unit__c})) + &#39;,  Unit: &#39; + IF(ISNULL({!Loop_SLIs_1.Unit__c}), &#39;None&#39;, TEXT({!Loop_SLIs_1.Unit__c})) + &#39;,  Requested Cost: &#39; + IF(ISNULL({!Loop_SLIs_1.Requested_Cost__c}), &#39;None&#39;, TEXT({!Loop_SLIs_1.Requested_Cost__c})) + &#39;,  Cost: &#39; + IF(ISNULL({!Loop_SLIs_1.Cost__c}), &#39;None&#39;, TEXT({!Loop_SLIs_1.Cost__c})) + &#39;   User: &#39; + {!$User.Username} + &#39;,   Reason: &#39; + {!Reason_for_Decision}</expression>
    </formulas>
    <formulas>
        <name>auditLogDetailsPartialApproved</name>
        <dataType>String</dataType>
        <expression>&#39;Product Code: &#39; + {!Loop_SLIs_3.Product__r.Name} + &#39;,  Approval Status: Partially Approved,  Requested Unit: &#39; + IF(ISNULL({!Loop_SLIs_3.Requested_Unit__c}), &#39;None&#39;, TEXT({!Loop_SLIs_3.Requested_Unit__c})) + &#39;,  Unit: &#39; + IF(ISNULL({!Loop_SLIs_3.Unit__c}), &#39;None&#39;, TEXT({!Loop_SLIs_3.Unit__c})) + &#39;,  Requested Cost: &#39; + IF(ISNULL({!Loop_SLIs_3.Requested_Cost__c}), &#39;None&#39;, TEXT({!Loop_SLIs_3.Requested_Cost__c})) + &#39;,  Cost: &#39; + IF(ISNULL({!Loop_SLIs_3.Cost__c}), &#39;None&#39;, TEXT({!Loop_SLIs_3.Cost__c})) + &#39;   User: &#39; + {!$User.Username} + &#39;,   Reason: &#39; + {!Reason_for_Decision_Partial_Approve}</expression>
    </formulas>
    <formulas>
        <name>auditLogDetailsRejected</name>
        <dataType>String</dataType>
        <expression>&#39;Product Code: &#39; + {!Loop_SLIs_2.Product__r.Name} + &#39;,  Approval Status: Rejected,  Requested Unit: &#39; + IF(ISNULL({!Loop_SLIs_2.Requested_Unit__c}), &#39;None&#39;, TEXT({!Loop_SLIs_2.Requested_Unit__c})) + &#39;,  Unit: &#39; + IF(ISNULL({!Loop_SLIs_2.Unit__c}), &#39;None&#39;, TEXT({!Loop_SLIs_2.Unit__c})) + &#39;,  Requested Cost: &#39; + IF(ISNULL({!Loop_SLIs_2.Requested_Cost__c}), &#39;None&#39;, TEXT({!Loop_SLIs_2.Requested_Cost__c})) + &#39;,  Cost: &#39; + IF(ISNULL({!Loop_SLIs_2.Cost__c}), &#39;None&#39;, TEXT({!Loop_SLIs_2.Cost__c})) + &#39;   User: &#39; + {!$User.Username} + &#39;,   Reason: &#39; + {!Reason_for_Decision}</expression>
    </formulas>
    <interviewLabel>Approve Reject SLIs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Approve Reject SLIs</label>
    <loops>
        <name>Count_Selected_Pending_SLIs</name>
        <label>Count Selected Pending SLIs</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <collectionReference>PendingSLIsTable.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Partially_Approved</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Has_Selected_SLIs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_all_SLIs_from_query</name>
        <label>Loop all SLIs from query</label>
        <locationX>490</locationX>
        <locationY>998</locationY>
        <collectionReference>Get_all_SLIs_from_Work_Order</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Collect_Product_Code</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_all_available_Products_that_aren_t_already_part_of_Work_Order</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_SLIs_1</name>
        <label>Loop SLIs 1</label>
        <locationX>1260</locationX>
        <locationY>1106</locationY>
        <collectionReference>PendingSLIsTable.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_SLI_Units</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Collect_Work_Order_To_Update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_SLIs_2</name>
        <label>Loop SLIs 2</label>
        <locationX>1476</locationX>
        <locationY>1106</locationY>
        <collectionReference>PendingSLIsTable.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Reject_SLI</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_SLIs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_SLIs_3</name>
        <label>Loop SLIs 3</label>
        <locationX>490</locationX>
        <locationY>1406</locationY>
        <collectionReference>PendingSLIsTable.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>partialApproveSLIScreen</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Has_SLIs_To_Update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_Audit_Logs</name>
        <label>Insert Audit Logs</label>
        <locationX>929</locationX>
        <locationY>4814</locationY>
        <connector>
            <targetReference>Insert_Call_Comments</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Creating_Audit_Logs_Screen</targetReference>
        </faultConnector>
        <inputReference>auditLogsToInsert</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Call_Comments</name>
        <label>Insert Call Comments</label>
        <locationX>929</locationX>
        <locationY>4922</locationY>
        <connector>
            <targetReference>Update_Work_Order</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Creating_Call_Comments_Screen</targetReference>
        </faultConnector>
        <inputReference>commentsToInsert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_all_available_Products_that_aren_t_already_part_of_Work_Order</name>
        <label>Get all available Products that aren&#39;t already part of Work Order</label>
        <locationX>490</locationX>
        <locationY>1298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_SLIs_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductCode</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>productCodeList</elementReference>
            </value>
        </filters>
        <filters>
            <field>Family</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Service Item</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <sortField>ProductCode</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_all_SLIs_from_Work_Order</name>
        <label>Get all SLIs from Work Order</label>
        <locationX>490</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_all_SLIs_from_query</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FSL_Service_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pending_SLIs_From_Work_Order</name>
        <label>Get Pending SLIs From Work Order</label>
        <locationX>408</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Pending_SLIs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Adjustment_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FSL_Service_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>408</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Pending_SLIs_From_Work_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>Roll_Back_DML_1</name>
        <label>Roll Back DML</label>
        <locationX>1956</locationX>
        <locationY>5030</locationY>
    </recordRollbacks>
    <recordRollbacks>
        <name>Roll_Back_DML_2</name>
        <label>Roll Back DML</label>
        <locationX>1692</locationX>
        <locationY>5138</locationY>
    </recordRollbacks>
    <recordRollbacks>
        <name>Roll_Back_DML_3</name>
        <label>Roll Back DML</label>
        <locationX>929</locationX>
        <locationY>5354</locationY>
    </recordRollbacks>
    <recordUpdates>
        <name>Update_SLIs</name>
        <label>Update SLIs</label>
        <locationX>929</locationX>
        <locationY>4706</locationY>
        <connector>
            <targetReference>Insert_Audit_Logs</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Updating_SLIs_Screen</targetReference>
        </faultConnector>
        <inputReference>slisToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Work_Order_Amended_Charges_Indicator</name>
        <label>Update Work Order Amended Charges Indicator</label>
        <locationX>665</locationX>
        <locationY>5138</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Updating_Work_Order_Screen</targetReference>
        </faultConnector>
        <inputReference>woToUpdate</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Approve_or_Reject_SLIs</name>
        <label>Approve or Reject SLIs</label>
        <locationX>1368</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Approve_Pending_SLIs</targetReference>
        </connector>
        <fields>
            <name>ApproveDenySLIsMsg</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;{!Approve_Partially_Approve_Deny} SLIs&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DisplaySelectedSLIs</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>FSL_Service_Line_Item__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>PendingSLIsTable.selectedRows</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-fa87&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;SLI Number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Product_Code__c&quot;,&quot;guid&quot;:&quot;column-29f7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Product Code&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Requested_Unit__c&quot;,&quot;guid&quot;:&quot;column-ad35&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Requested Unit&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Requested_Cost__c&quot;,&quot;guid&quot;:&quot;column-e2dc&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Requested Cost&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;CreatedDate&quot;,&quot;guid&quot;:&quot;column-21da&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Created Date&quot;,&quot;type&quot;:&quot;customDateTime&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Reason_for_Decision</name>
            <dataType>String</dataType>
            <fieldText>Reason for Decision</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Creating_Audit_Logs_Screen</name>
        <label>Error Creating Audit Logs Screen</label>
        <locationX>1956</locationX>
        <locationY>4922</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Roll_Back_DML_1</targetReference>
        </connector>
        <fields>
            <name>ErrorCreatingAuditLogsMsg</name>
            <fieldText>&lt;p&gt;Error creating Audit Logs. Please contact a System Administrator.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Creating_Call_Comments_Screen</name>
        <label>Error Creating Call Comments Screen</label>
        <locationX>1692</locationX>
        <locationY>5030</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Roll_Back_DML_2</targetReference>
        </connector>
        <fields>
            <name>ErrorCreatingCallCommentsMsg</name>
            <fieldText>&lt;p&gt;Error creating Call Comments. Please contact a System Administrator.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Updating_SLIs_Screen</name>
        <label>Error Updating SLIs Screen</label>
        <locationX>2220</locationX>
        <locationY>4814</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorUpdatingSLIsMsg</name>
            <fieldText>&lt;p&gt;Error updating SLIs. Please contact a System Administrator.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Updating_Work_Order_Screen</name>
        <label>Error Updating Work Order Screen</label>
        <locationX>929</locationX>
        <locationY>5246</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Roll_Back_DML_3</targetReference>
        </connector>
        <fields>
            <name>ErrorUpdatingWOMsg</name>
            <fieldText>&lt;p&gt;Error updating Work Order. Please contact a System Administrator.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Missing_Permissions</name>
        <label>Missing Permissions</label>
        <locationX>1030</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayMissingPermMsg</name>
            <fieldText>&lt;p&gt;Error: You do not have the necessary permissions to use this tool.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Partially_Approved_Updates_Message_Screen</name>
        <label>No Partially Approved Updates Message Screen</label>
        <locationX>644</locationX>
        <locationY>4130</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>noPartiallyApprovedUpdatesMsg</name>
            <fieldText>&lt;p&gt;No Units / Costs were entered for SLIs.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Pending_SLIs</name>
        <label>No Pending SLIs</label>
        <locationX>766</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ShowMessage</name>
            <fieldText>&lt;p&gt;There are no pending SLIs for this Work Order.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_SLIs_Selected</name>
        <label>No SLIs Selected</label>
        <locationX>182</locationX>
        <locationY>6086</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoSLIsSelected</name>
            <fieldText>&lt;p&gt;No SLIs were selected.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>partialApproveSLIScreen</name>
        <label>Partial Approval Screen</label>
        <locationX>710</locationX>
        <locationY>1514</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_SLI_Units_2</targetReference>
        </connector>
        <fields>
            <name>partialApproveSLIScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>partialApproveSLIScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>sliNumber</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;SLI Number:&lt;/strong&gt; {!Loop_SLIs_3.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>partialApproveSLIScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>productCode</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Product Code:&lt;/strong&gt; {!Loop_SLIs_3.Product_Code__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>partialApproveSLIScreen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>partialApproveSLIScreen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>requestedUnit</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Requested Unit:&lt;/strong&gt; {!Loop_SLIs_3.Requested_Unit__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>partialApproveSLIScreen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>requestedCost</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Requested Cost:&lt;/strong&gt; {!Loop_SLIs_3.Requested_Cost__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>partialApproveSLIScreen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>partialApproveSLIScreen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>newProductCodePicklistField</name>
                    <choiceReferences>newProductCodePicklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>New Product Code</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>partialApproveSLIScreen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Quantity</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Loop_SLIs_3.Unit__c</elementReference>
                    </defaultValue>
                    <fieldText>Quantity:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>partialApproveSLIScreen_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>partialApproveSLIScreen_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Cost</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Loop_SLIs_3.Cost__c</elementReference>
                    </defaultValue>
                    <fieldText>Cost:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>partialApproveSLIScreen_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Tax</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Loop_SLIs_3.Tax__c</elementReference>
                    </defaultValue>
                    <fieldText>Tax:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>partialApproveSLIScreen_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>partialApproveSLIScreen_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Override_Pricing</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Loop_SLIs_3.Override_Pricing__c</elementReference>
                    </defaultValue>
                    <fieldText>Override Pricing</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>partialApproveSLIScreen_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Pay_Facility</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Loop_SLIs_3.Pay_Facility__c</elementReference>
                    </defaultValue>
                    <fieldText>Pay Facility</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>partialApproveSLIScreen_Section5_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Charge_to_Account</name>
                    <choiceReferences>chargeToAcctPicklist</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Loop_SLIs_3.Charge_to_Account__c</elementReference>
                    </defaultValue>
                    <fieldText>Charge to Account:</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Reason_for_Decision_Partial_Approve</name>
            <dataType>String</dataType>
            <fieldText>Reason for Decision:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Pending_SLIs</name>
        <label>Pending SLIs</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Count_Selected_Pending_SLIs</targetReference>
        </connector>
        <fields>
            <name>PendingSLIsTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>FSL_Service_Line_Item__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Pending SLIs</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Pending_SLIs_From_Work_Order</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-d0c1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;SLI Number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Product_Code__c&quot;,&quot;guid&quot;:&quot;column-1a70&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Product Code&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Requested_Unit__c&quot;,&quot;guid&quot;:&quot;column-d59f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Requested Unit&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Requested_Cost__c&quot;,&quot;guid&quot;:&quot;column-cc46&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Requested Cost&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;CreatedDate&quot;,&quot;guid&quot;:&quot;column-a88d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Created Date&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;&quot;,&quot;guid&quot;:&quot;column-ddbe&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Approve_Partially_Approve_Deny</name>
            <choiceReferences>Approve</choiceReferences>
            <choiceReferences>PartiallyApprove</choiceReferences>
            <choiceReferences>Deny</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Approve</defaultSelectedChoiceReference>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>929</locationX>
        <locationY>5678</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>FSL_Service_Line_Item__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Successfully updated SLI records</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>slisToUpdate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-f17a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;SLI Number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Product_Code__c&quot;,&quot;guid&quot;:&quot;column-877b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Product Code&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Requested_Unit__c&quot;,&quot;guid&quot;:&quot;column-8adf&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Requested Unit&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Requested_Cost__c&quot;,&quot;guid&quot;:&quot;column-d72a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Requested Cost&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Unit__c&quot;,&quot;guid&quot;:&quot;column-4eba&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Quantity&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Cost__c&quot;,&quot;guid&quot;:&quot;column-ea1d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Cost&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Adjustment_Status__c&quot;,&quot;guid&quot;:&quot;column-485d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;Adjustment Status&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>593</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Does_User_Have_Correct_Permissions</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>auditLogsToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Audit_Log__c</objectType>
    </variables>
    <variables>
        <name>auditLogToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Audit_Log__c</objectType>
    </variables>
    <variables>
        <name>commentsToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSL_Call_Comments__c</objectType>
    </variables>
    <variables>
        <name>commentToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSL_Call_Comments__c</objectType>
    </variables>
    <variables>
        <name>hasSLIsToUpdate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>hasSLIToUpdate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>hasWOToUpdate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>productCodeList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>slisToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSL_Service_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>woToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
