unpackaged/main/default/flows/Calculate_Taxes_For_Connecticut.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AssignTaxRate</name>
        <label>AssignTaxRate</label>
        <locationX>50</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>taxRate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Tax_Rate.Tax_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Taxes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Taxes</name>
        <label>Update Taxes</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>$Record.Tax__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalcTax</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Does_Record_Exist</name>
        <label>Does Record Exist</label>
        <locationX>380</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Service_Territory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Service_Territory</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_State_CT</targetReference>
            </connector>
            <label>Service Territory?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_State_CT</name>
        <label>Is State CT?</label>
        <locationX>182</locationX>
        <locationY>611</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Conneccticut</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Service_Territory.State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Tax_Rate</targetReference>
            </connector>
            <label>Conneccticut</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CalcTax</name>
        <dataType>Currency</dataType>
        <expression>(
{!$Record.Cost__c}*{!taxRate}
)/100</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Calculate Taxes For Connect {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Calculate Taxes For Connecticut</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Parent_Invoice</name>
        <label>Get Parent Invoice</label>
        <locationX>380</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_Territory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Invoice__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Facility_Adjustment_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bonus</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Territory</name>
        <label>Get Service Territory</label>
        <locationX>380</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Record_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Parent_Invoice.Service_Territory__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceTerritory</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieves tax rates for the state of Connecticut</description>
        <name>Get_Tax_Rate</name>
        <label>Get Tax Rate</label>
        <locationX>50</locationX>
        <locationY>719</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignTaxRate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>State__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CT</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Taxation_City_by_County__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Parent_Invoice</targetReference>
        </connector>
        <object>Invoice_Line_Item__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>taxRate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>3</scale>
    </variables>
</Flow>
