unpackaged/main/default/flows/Call_Comments_By_Date_Range_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Invalid_Date_Range</name>
        <label>Invalid Date Range</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>varFinalMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invalid Date Range</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_Results</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_Time_Limit_Configuration_Found</name>
        <label>No Time Limit Configuration Found</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>varFinalMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Time Limit Configuration Found</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_Results</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Valid_Date_Range</name>
        <label>Check for Valid Date Range</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Invalid_Date_Range</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Date_From</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Date_To</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Date_From</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>varNowMinusConfiguredDays</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Date_To</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>varNowMinusConfiguredDays</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Merge_Call_Comments_By_Date_Range_SubFlow</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Number_of_Days_Found</name>
        <label>Number of Days Found</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>No_Time_Limit_Configuration_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Number_of_Days_from_Custom_Metadata</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_a_Date_Range</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>varNowMinusConfiguredDays</name>
        <dataType>DateTime</dataType>
        <expression>Now() - {!Get_Number_of_Days_from_Custom_Metadata.Number_of_Days__c}</expression>
    </formulas>
    <interviewLabel>Call Comments By Date Range Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Call Comments By Date Range Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Number_of_Days_from_Custom_Metadata</name>
        <label>Get Number of Days from Custom Metadata</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Number_of_Days_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Call_Comment_Merge_After_Clear_In_Days</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Time_Limit_Configuration__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Display_Results</name>
        <label>Display Results</label>
        <locationX>380</locationX>
        <locationY>950</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayTotal</name>
            <fieldText>&lt;p&gt;From {!Date_From}  To {!Date_To}&lt;/p&gt;&lt;p&gt;{!varFinalMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_a_Date_Range</name>
        <label>Select a Date Range</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_for_Valid_Date_Range</targetReference>
        </connector>
        <fields>
            <name>Date_From</name>
            <dataType>Date</dataType>
            <fieldText>Date From</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Date_To</name>
            <dataType>Date</dataType>
            <fieldText>Date To</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Number_of_Days_from_Custom_Metadata</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Merge_Call_Comments_By_Date_Range_SubFlow</name>
        <label>Merge Call Comments By Date Range SubFlow</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Display_Results</targetReference>
        </connector>
        <flowName>Call_Comments_By_Date_Range_SubFlow</flowName>
        <inputAssignments>
            <name>varDateFrom</name>
            <value>
                <elementReference>Date_From</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varDateTo</name>
            <value>
                <elementReference>Date_To</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varFinalMessage</assignToReference>
            <name>varFinalMessage</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>varFinalMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
