unpackaged/main/default/flows/Call_Comments_Merge_SubFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Check_Record_Count</name>
        <label>Check Record Count</label>
        <locationX>446</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>varRecordCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Call_Comments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>More_Than_One_Call_Comment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Error_Creating_Call_Comment</name>
        <label>Error Creating Call Comment</label>
        <locationX>578</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>varOutputMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Error_Deleting_Call_Comments</name>
        <label>Error Deleting Call Comments</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>varOutputMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>No_Call_Comments</name>
        <label>No Call Comments</label>
        <locationX>1106</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>varOutputMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Call Comments</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>One_or_Less_Call_Comments</name>
        <label>One or Less Call Comments</label>
        <locationX>842</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>varOutputMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Call Comments Merge Needed</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Comment</name>
        <label>Set Comment</label>
        <locationX>138</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>varNewCallComments</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForCallComments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Call_Comments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Successfully_Merged_Call_Comments</name>
        <label>Successfully Merged Call Comments</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>varOutputMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Successfully Merged Call Comments</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Are_There_Records</name>
        <label>Are There Records?</label>
        <locationX>776</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>No_Call_Comments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Calls</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Call_Comments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Record_Count</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>More_Than_One_Call_Comment</name>
        <label>More Than One Call Comment</label>
        <locationX>446</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>One_or_Less_Call_Comments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecordCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Over_Call_Comments</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>ForCallComments</name>
        <dataType>String</dataType>
        <expression>{!varNewCallComments} + BR()+ &#39;By &#39; + {!Loop_Over_Call_Comments.CreatedBy.FirstName} + &#39; &#39; + {!Loop_Over_Call_Comments.CreatedBy.LastName} + &#39; On &#39; + TEXT({!Loop_Over_Call_Comments.CreatedDate}) + &#39; - &#39; + {!Loop_Over_Call_Comments.FSL_Comment__c}</expression>
    </formulas>
    <interviewLabel>Call Comments Merge SubFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Call Comments Merge SubFlow</label>
    <loops>
        <name>Loop_Over_Call_Comments</name>
        <label>Loop Over Call Comments</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <collectionReference>Get_Call_Comments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Comment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_New_Call_Comment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Call_Comment</name>
        <label>Create New Call Comment</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Delete_Old_Call_Comments</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Creating_Call_Comment</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>FSL_Comment__c</field>
            <value>
                <elementReference>varNewCallComments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL_Work_Order__c</field>
            <value>
                <elementReference>varWorkOrderId</elementReference>
            </value>
        </inputAssignments>
        <object>FSL_Call_Comments__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Old_Call_Comments</name>
        <label>Delete Old Call Comments</label>
        <locationX>50</locationX>
        <locationY>1094</locationY>
        <connector>
            <targetReference>Successfully_Merged_Call_Comments</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Deleting_Call_Comments</targetReference>
        </faultConnector>
        <inputReference>Get_Call_Comments</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Call_Comments</name>
        <label>Get Call Comments</label>
        <locationX>776</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_There_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FSL_Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varWorkOrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FSL_Call_Comments__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Call_Comments</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>TemplateCarrageReturn</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>varNewCallComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOutputMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varWorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
