unpackaged/main/default/flows/CallIPOnWorkorderCleared.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>AGB 2/14/20225</description>
        <name>Audit_Rule_Processor</name>
        <label>Audit Rule Processor</label>
        <locationX>484</locationX>
        <locationY>2124</locationY>
        <actionName>AAA_AuditRuleProcessor</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__iptObj</typeName>
            <typeValue>WorkOrder</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>iptObj</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AAA_AuditRuleProcessor</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_OM_and_TW_SLIs</name>
        <label>Create OM and TW SLIs</label>
        <locationX>352</locationX>
        <locationY>384</locationY>
        <actionName>AAACreateOMAndTWSLIs</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_WO_SLIs</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>workOrder</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AAACreateOMAndTWSLIs</nameSegment>
        <outputParameters>
            <assignToReference>sliList</assignToReference>
            <name>outputList</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_SLI_Prices_AUTO</name>
        <label>Get SLI Prices AUTO</label>
        <locationX>484</locationX>
        <locationY>2016</locationY>
        <actionName>AAAFlowInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Audit_Rule_Processor</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowAPIName</name>
            <value>
                <stringValue>Get_SLI_Prices_On_REST_AutoLaunched</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sliList</name>
            <value>
                <elementReference>sliList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>wo</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AAAFlowInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Audit_SLIs_to_SLI_List</name>
        <label>Add Audit SLIs to SLI List</label>
        <locationX>484</locationX>
        <locationY>1908</locationY>
        <assignmentItems>
            <assignToReference>sliList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewAuditRuleServiceLineItemRecordCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_SLI_Prices_AUTO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_BA_SLI_to_SLI_List</name>
        <label>Add BA SLI to SLI List</label>
        <locationX>484</locationX>
        <locationY>1500</locationY>
        <assignmentItems>
            <assignToReference>sliList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newBASLI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_NE_Org</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_SLIs_to_SLI_List</name>
        <label>Add SLIs to SLI List</label>
        <locationX>704</locationX>
        <locationY>1092</locationY>
        <assignmentItems>
            <assignToReference>sliList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_WO_SLIs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_WO_SLIs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_BA_SLI</name>
        <label>Create BA SLI</label>
        <locationX>484</locationX>
        <locationY>1392</locationY>
        <assignmentItems>
            <assignToReference>newBASLI.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_BA_Product.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newBASLI.Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newBASLI.Work_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_BA_SLI_to_SLI_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Calculated_Quantity</name>
        <label>Populate &quot;Calculated Quantity&quot;</label>
        <locationX>572</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>Loop_WO_SLIs.Calculated_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_WO_SLIs.Unit__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_SLIs_to_SLI_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Auto_Cal</name>
        <label>Auto-Cal ?</label>
        <locationX>484</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Get_WO_SLIs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Calculated_Facility</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FacilityCalculatedMileageType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>From Service Territory</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FacilityCalculatedMileageType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>From Driver Location</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Facility_Calculated_Tow_Mileage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_OM_and_TW_SLIs</targetReference>
            </connector>
            <label>Calculated Facility</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_NE_Org</name>
        <label>Is NE Org?</label>
        <locationX>484</locationX>
        <locationY>1608</locationY>
        <defaultConnector>
            <targetReference>Add_Audit_SLIs_to_SLI_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_NE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.BackOffice_Settings__c.Club_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>240</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Work_Order_BOS_Audit_Rules_Realtime_SubFlow</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_OM_TW_added_manually</name>
        <label>Is OM / TW added manually?</label>
        <locationX>704</locationX>
        <locationY>792</locationY>
        <defaultConnector>
            <targetReference>Add_SLIs_to_SLI_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>Loop_WO_SLIs.Product_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_WO_SLIs.Product_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TW</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_WO_SLIs.Calculated_Unit__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_WO_SLIs.Unit__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Calculated_Quantity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>04/08/2024: Removed sandbox checks for NE BOS audit rules subflow.
2/14/2025: Updated to use Audit Rule Processor AGB SSFI-720
6/2/2025: removed RAP test to Audit Rule Processor AGB for SSFI-949</description>
    <environments>Default</environments>
    <formulas>
        <name>CLTimeDifferenceLST_OL_TMWith15</name>
        <dataType>Boolean</dataType>
        <expression>IF(
	(
		(
			{!$Record.Cleared_Timestamp__c}  - {!$Record.On_Location_Timestamp__c}
		) * 24 * 60
	) &lt; 15, TRUE, FALSE
)</expression>
    </formulas>
    <formulas>
        <name>ClTmSmallThanEmTm</name>
        <dataType>Boolean</dataType>
        <expression>IF(
	(
		(
			{!$Record.Cleared_Timestamp__c}  -  {!$Record.Enroute_Timestamp__c}
		) * 24 * 60
	) &lt; 5, True, False
)</expression>
    </formulas>
    <formulas>
        <name>DiffOfClearTmAndEmTm</name>
        <dataType>Boolean</dataType>
        <expression>IF(
	(
		(
			{!$Record.Cleared_Timestamp__c}  -  {!$Record.Enroute_Timestamp__c}
		) * 24 * 60
	) &gt; 5, True, False
)</expression>
    </formulas>
    <formulas>
        <name>FacilityCalculatedMileageType</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.ServiceTerritory.Enable_Calculate_Mileage__c})</expression>
    </formulas>
    <formulas>
        <name>FST_TW_TMSmallThanLST_OL_TM_30</name>
        <dataType>Boolean</dataType>
        <expression>IF(
	(
		(
			{!$Record.In_Tow_Timestamp__c} -  {!$Record.On_Location_Timestamp__c}
		) * 24 * 60
	) &lt; 30, True, False
)</expression>
    </formulas>
    <interviewLabel>CallIPOnWorkorderCleared {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Call IP On Workorder Cleared</label>
    <loops>
        <name>Loop_WO_SLIs</name>
        <label>Loop WO SLIs</label>
        <locationX>484</locationX>
        <locationY>684</locationY>
        <collectionReference>Get_WO_SLIs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_OM_TW_added_manually</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_BA_Product</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_BA_Product</name>
        <label>Get BA Product</label>
        <locationX>484</locationX>
        <locationY>1284</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_BA_SLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BA</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_WO_SLIs</name>
        <label>Get WO SLIs</label>
        <locationX>484</locationX>
        <locationY>576</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_WO_SLIs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FSL_Service_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>(1 AND 6 AND (2 OR (3 AND 4))) OR (1 AND 5 AND 7 AND (2 OR (3 AND 4))) OR (4 AND 8 AND 1 AND 3)</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cleared</stringValue>
            </value>
        </filters>
        <filters>
            <field>Call_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>RAP</stringValue>
            </value>
        </filters>
        <filters>
            <field>Call_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RAP</stringValue>
            </value>
        </filters>
        <filters>
            <field>RAP_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RAP Cleared</stringValue>
            </value>
        </filters>
        <filters>
            <field>Recalculate_Price__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Recalculate_Price__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RAP_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Auto_Cal</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Call Subflow to create any needed Audit Rule Service Line Items</description>
        <name>Call_Work_Order_BOS_Audit_Rules_Realtime_SubFlow</name>
        <label>Call Work Order BOS Audit Rules Realtime SubFlow</label>
        <locationX>352</locationX>
        <locationY>1716</locationY>
        <connector>
            <targetReference>Add_Audit_SLIs_to_SLI_List</targetReference>
        </connector>
        <flowName>Work_Order_BOS_Audit_Rules_Realtime_SubFlow</flowName>
        <inputAssignments>
            <name>CurrentWorkOrder</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>NewAuditRuleServiceLineItemRecordCollection</assignToReference>
            <name>NewServiceLineItemRecordCollection</name>
        </outputAssignments>
    </subflows>
    <triggerOrder>500</triggerOrder>
    <variables>
        <name>LSTServiceLineItemsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSL_Service_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>NewAuditRuleServiceLineItemRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSL_Service_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>newBASLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSL_Service_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>sliList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSL_Service_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>updateList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSL_Service_Line_Item__c</objectType>
    </variables>
</Flow>
