unpackaged/main/default/flows/Call_Header_Builder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Cash_Call_Header</name>
        <label>Cash Call Header</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Header_Output</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CashCall</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Member_Call_Header</name>
        <label>Member Call Header</label>
        <locationX>842</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Header_Output</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MemberDetails</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>When there is no Membership number on Workorder</description>
        <name>MemberInfoRequired</name>
        <label>MemberInfoRequired</label>
        <locationX>1106</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Header_Output</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MemberInformationRequired</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>RAP_Call_Header</name>
        <label>RAP Call Header</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Header_Output</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RAPDetails</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>RAP_With_Payment_Required</name>
        <label>RAP With Payment Required</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Header_Output</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RAPDetailsWithPaymentRequired</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Detail_Checker</name>
        <label>Detail Checker</label>
        <locationX>710</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RAP_Call_with_Payment_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputWorkOrder.Call_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RAP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inputBreakdownAppointment.Payment_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RAP_With_Payment_Required</targetReference>
            </connector>
            <label>RAP Call with Payment Required</label>
        </rules>
        <rules>
            <name>RAP_Call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputWorkOrder.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inputWorkOrder.Call_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RAP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inputBreakdownAppointment.Payment_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RAP_Call_Header</targetReference>
            </connector>
            <label>RAP Call</label>
        </rules>
        <rules>
            <name>Cash_Call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputWorkOrder.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inputBreakdownAppointment.Payment_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cash_Call_Header</targetReference>
            </connector>
            <label>Cash Call</label>
        </rules>
        <rules>
            <name>Member_Call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputWorkOrder.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inputWorkOrder.Call_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Member</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inputBreakdownAppointment.Payment_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inputWorkOrder.Member_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Member_Call_Header</targetReference>
            </connector>
            <label>Member Call</label>
        </rules>
        <rules>
            <name>MemberWithOutMemberNumber</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputWorkOrder.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inputWorkOrder.Call_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Member</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inputWorkOrder.Member_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MemberInfoRequired</targetReference>
            </connector>
            <label>MemberWithOutMemberNumber</label>
        </rules>
    </decisions>
    <description>Updated Text Template Styles</description>
    <interviewLabel>Call Header Builder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Call Header Builder</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Detail_Checker</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CashCall</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px; color: rgb(0, 56, 147);&quot;&gt;{!inputWorkOrder.Member_Number__c} - $$$ Payment Required on RAP Calls $$$&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>MemberDetails</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 56, 147); font-size: 16px;&quot;&gt;{!inputWorkOrder.Member_Number__c}&lt;/b&gt;&lt;b style=&quot;color: rgb(0, 56, 147); font-size: 16px;&quot;&gt; - {!inputWorkOrder.Membership_Benefit_Level__c} Member&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Member with out Membership number</description>
        <name>MemberInformationRequired</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px; color: rgb(0, 56, 147);&quot;&gt;***Membership Information Required*****&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>RAPDetails</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px; color: rgb(0, 56, 147);&quot;&gt;RAP - {!inputWorkOrder.Program_Name__c}&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>RAPDetailsWithPaymentRequired</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px; color: rgb(0, 56, 147);&quot;&gt;RAP - {!inputWorkOrder.Program_Name__c} - $$$ Cash Call Payment Required $$$&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Header_Output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>inputBreakdownAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>inputWorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
