unpackaged/main/default/flows/Call_Comments_By_Date_Range_SubFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Insert_and_Delete_Call_commets</name>
        <label>Insert and Delete Call commets</label>
        <locationX>404</locationX>
        <locationY>398</locationY>
        <actionName>FSL_CallCommentsByDateRange</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Merge_Message</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>woListFromFlow</name>
            <value>
                <elementReference>Get_Work_Orders</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FSL_CallCommentsByDateRange</nameSegment>
        <outputParameters>
            <assignToReference>varCollistOfMessage</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>No_Work_Orders_Found_For_The_Date_Range</name>
        <label>No Work Orders Found For The Date Range</label>
        <locationX>668</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>varCollistOfMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>No Work Orders Found For The Date Range</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Merge_Message</name>
        <label>Update Merge Message</label>
        <locationX>547</locationX>
        <locationY>624</locationY>
        <assignmentItems>
            <assignToReference>varColToSendmailFlow</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCollistOfMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Are_there_records</name>
        <label>Are there records?</label>
        <locationX>536</locationX>
        <locationY>290</locationY>
        <defaultConnector>
            <targetReference>No_Work_Orders_Found_For_The_Date_Range</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Orders</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_and_Delete_Call_commets</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>varMessageConcat</name>
        <dataType>String</dataType>
        <expression>BR() + {!varCurrentWorkOrderNumber}+ &#39;: &#39; + {!varOutputMessage}</expression>
    </formulas>
    <interviewLabel>Call Comments By Date Range SubFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Call Comments By Date Range SubFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Work_Orders</name>
        <label>Get Work Orders</label>
        <locationX>536</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_there_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cleared_Timestamp__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>varDateFrom</elementReference>
            </value>
        </filters>
        <filters>
            <field>Cleared_Timestamp__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>varDateTo</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cleared</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrder</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Work_Orders</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varCollistOfMessage</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varColToSendmailFlow</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCurrentWorkOrderNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDateFrom</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDateTo</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFinalMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOutputMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varToutmenssageFromClass</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
