unpackaged/main/default/flows/Cannot_Complete_Sub_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_WO_ID</name>
        <label>Assign WO ID</label>
        <locationX>666</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>workOrderID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdateServiceAppointment.ParentRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>territoryID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdateServiceAppointment.ServiceTerritoryId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Service_items_to_Clear_Flow</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CancelCall</name>
        <choiceText>CancelCall</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>CancellationChoice</name>
        <choiceText>Cancellation</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>CancelCall</elementReference>
        </value>
    </choices>
    <choices>
        <name>NoServicesRendered</name>
        <choiceText>No Services Rendered</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NSR</stringValue>
        </value>
    </choices>
    <decisions>
        <name>AddServicelineItemsChecker</name>
        <label>AddServicelineItemsChecker</label>
        <locationX>798</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>UpdateFilturedResolutionCodes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AddServiceitems</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Add_Service_Item_02</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_WO_ID</targetReference>
            </connector>
            <label>AddServiceitems</label>
        </rules>
    </decisions>
    <decisions>
        <name>AddServicelineItemsChecker_0</name>
        <label>AddServicelineItemsChecker</label>
        <locationX>710</locationX>
        <locationY>1574</locationY>
        <defaultConnector>
            <targetReference>Update_to_X002</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AddServiceitems_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Add_Service_item_0_0_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Service_items_to_Clear_Flow_0</targetReference>
            </connector>
            <label>AddServiceitems</label>
        </rules>
    </decisions>
    <decisions>
        <description>Cancel or NSR</description>
        <name>Cancel_Call_or_NSR</name>
        <label>Cancel Call or NSR ?</label>
        <locationX>798</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cancellation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reason_01_02</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CancellationChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warning_X002</targetReference>
            </connector>
            <label>Cancellation</label>
        </rules>
        <rules>
            <name>NSR</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Reason_01_02</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NoServicesRendered</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NSR_Selection</targetReference>
            </connector>
            <label>NSR</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skip_to_NSR</name>
        <label>Skip to NSR?</label>
        <locationX>248</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Status_Checker</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_skip</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_skipToNSR</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>NSR_Selection</targetReference>
            </connector>
            <label>yes skip</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Checker</name>
        <label>Status Checker</label>
        <locationX>710</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dispatched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dispatched</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warning_X001</targetReference>
            </connector>
            <label>Dispatched</label>
        </rules>
        <rules>
            <name>En_Route</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En Route</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warning_X002</targetReference>
            </connector>
            <label>En Route</label>
        </rules>
        <rules>
            <name>On_Location</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Location</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CannotCompleteReason_01_0</targetReference>
            </connector>
            <label>On Location</label>
        </rules>
    </decisions>
    <description>Add Service items Toggle from On Location and Enroute -NSR and Cancellation
Add input var to skip to NSR selection for SSFI-945 945</description>
    <dynamicChoiceSets>
        <name>NSR_Resolution_Codes</name>
        <dataType>String</dataType>
        <displayField>Label__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Go_No_Go__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NSR</stringValue>
            </value>
        </filters>
        <object>FSL_Resolution_Code__c</object>
        <valueField>Code__c</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Cannot Complete Sub Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cannot Complete Sub Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordUpdates>
        <name>Update_to_X001</name>
        <label>Update to X001</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UpdateServiceAppointment.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cleared_Timestamp__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resolution_Code__c</field>
            <value>
                <stringValue>X001</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_to_X002</name>
        <label>Update to X002</label>
        <locationX>710</locationX>
        <locationY>1874</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UpdateServiceAppointment.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cleared_Timestamp__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resolution_Code__c</field>
            <value>
                <stringValue>X002</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateFilturedResolutionCodes</name>
        <label>UpdateFilturedResolutionCodes</label>
        <locationX>798</locationX>
        <locationY>1082</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UpdateServiceAppointment.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cleared_Timestamp__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resolution_Code__c</field>
            <value>
                <elementReference>Resolution_Code</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <screens>
        <name>CannotCompleteReason_01_0</name>
        <label>Cannot Complete Reason</label>
        <locationX>798</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Cancel_Call_or_NSR</targetReference>
        </connector>
        <fields>
            <name>Header</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px; color: rgb(0, 56, 147);&quot;&gt;{!Header_Text_Input}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Reason_01_02</name>
            <choiceReferences>CancellationChoice</choiceReferences>
            <choiceReferences>NoServicesRendered</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NSR_Selection</name>
        <label>NSR Selection</label>
        <locationX>798</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AddServicelineItemsChecker</targetReference>
        </connector>
        <fields>
            <name>Header2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(0, 56, 147); font-size: 16px;&quot;&gt;{!Header_Text_Input}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Resolution_Code</name>
            <choiceReferences>NSR_Resolution_Codes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Resolution Code</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Add_Service_Item_02</name>
            <dataType>Boolean</dataType>
            <fieldText>Add Service items</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Warning_X001</name>
        <label>Warning - X001</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_to_X001</targetReference>
        </connector>
        <fields>
            <name>Header_X001</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px; color: rgb(0, 56, 147);&quot;&gt;{!Header_Text_Input}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Warning_Msg_X001</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Clear Call with X001 – Cancel Not En Route?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Warning_X002</name>
        <label>Warning - X002</label>
        <locationX>710</locationX>
        <locationY>1466</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AddServicelineItemsChecker_0</targetReference>
        </connector>
        <fields>
            <name>Header_X001_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(0, 56, 146); font-size: 16px;&quot;&gt;{!Header_Text_Input}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Warning_Msg_X001_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Clear Call with X002 – Cancel&amp;nbsp;En Route?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Add_Service_item_0_0_0</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Add Service item</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Skip_to_NSR</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Adding Service items for NSR and Cancellation Clear Call flow.</description>
        <name>Add_Service_items_to_Clear_Flow</name>
        <label>Add Service items to Clear Flow</label>
        <locationX>666</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>UpdateFilturedResolutionCodes</targetReference>
        </connector>
        <flowName>Get_Provided_Services</flowName>
        <inputAssignments>
            <name>BreakdownAppointment</name>
            <value>
                <elementReference>UpdateServiceAppointment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>territoryID</name>
            <value>
                <elementReference>territoryID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>workOrderID</name>
            <value>
                <elementReference>workOrderID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Adding Service items for NSR and Cancellation Clear Call flow.</description>
        <name>Add_Service_items_to_Clear_Flow_0</name>
        <label>Add Service items to Clear Flow</label>
        <locationX>578</locationX>
        <locationY>1682</locationY>
        <connector>
            <targetReference>Update_to_X002</targetReference>
        </connector>
        <flowName>Get_Provided_Services</flowName>
        <inputAssignments>
            <name>BreakdownAppointment</name>
            <value>
                <elementReference>UpdateServiceAppointment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>territoryID</name>
            <value>
                <elementReference>territoryID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>workOrderID</name>
            <value>
                <elementReference>workOrderID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Add_Service_item_0_0_0_0</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AddLineItem_0_0</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AddLineItems</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CurrentStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Header_Text_Input</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inboundId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NSRResolutionCodes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>territoryID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdateServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>UpdateWOId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>UpdateWorkorder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <description>flow skips to NSR when user has already chosen no service rendered</description>
        <name>v_skipToNSR</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>workOrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
