unpackaged/main/default/flows/CaseActionParentFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>COD</name>
        <choiceText>COD</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>COD</stringValue>
        </value>
    </choices>
    <choices>
        <name>UpdateAllow</name>
        <choiceText>Allow Update</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Allow Update</stringValue>
        </value>
    </choices>
    <choices>
        <name>UpdateMembershipBenefit</name>
        <choiceText>Update Membership Benefit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Update Membership Benefit</stringValue>
        </value>
    </choices>
    <decisions>
        <name>ActionRoutingRule</name>
        <label>ActionRouting</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MembershipLevelChange</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Case_Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>UpdateMembershipBenefit</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FSL_Membership_Level_Change_Flow</targetReference>
            </connector>
            <label>MembershipLevelChange</label>
        </rules>
        <rules>
            <name>PaymentUpdation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Case_Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>COD</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCasePaymentMethod</targetReference>
            </connector>
            <label>PaymentUpdation</label>
        </rules>
        <rules>
            <name>AllowUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Case_Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>UpdateAllow</elementReference>
                </rightValue>
            </conditions>
            <label>AllowUpdate</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CaseActionParentFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CaseActionParentFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>ActionSelection</name>
        <label>ActionSelection</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ActionRoutingRule</targetReference>
        </connector>
        <fields>
            <name>Select_Case_Action</name>
            <choiceReferences>UpdateMembershipBenefit</choiceReferences>
            <choiceReferences>COD</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Case Action</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ActionSelection</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>FSL_Membership_Level_Change_Flow</name>
        <label>FSL Membership Level Change Flow</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <flowName>FSL_Membership_Level_Change_Flow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>UpdateCasePaymentMethod</name>
        <label>UpdateCasePaymentMethod</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <flowName>UpdateCasePaymentMethod</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>ActionSelected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>SelectedAction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
