unpackaged/main/default/flows/CI_Update_Member_Mobile_SMS_Opt_in_from_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>WhatUpdated</name>
        <label>WhatUpdated</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SMSOptinUpdated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ACG_SMS_Opt_In__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateMemberSMSOptin</targetReference>
            </connector>
            <label>SMSOptinUpdated</label>
        </rules>
        <rules>
            <name>MobileNumberUpdated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ACG_Case_Contact_Number__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateMemberMobile</targetReference>
            </connector>
            <label>MobileNumberUpdated</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CI:  Update Member Mobile SMS Opt-in from Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CI:  Update Member Mobile SMS Opt-in from Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateMemberMobile</name>
        <label>UpdateMemberMobile</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>PersonMobilePhone</field>
            <value>
                <elementReference>$Record.ACG_Case_Contact_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateMemberSMSOptin</name>
        <label>UpdateMemberSMSOptin</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Sms_Optin__pc</field>
            <value>
                <elementReference>$Record.ACG_SMS_Opt_In__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>WhatUpdated</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ERS</stringValue>
            </value>
        </filters>
        <filters>
            <field>ACG_Case_Contact_Number__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ACG_SMS_Opt_In__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
