unpackaged/main/default/flows/Clear_Jeopardy_Potential_Issue.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>add_WO_IDs</name>
        <label>add WO IDs</label>
        <locationX>138</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>setWOIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_all_WO_Ids.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_all_WO_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_SA_Data</name>
        <label>assign SA Data</label>
        <locationX>138</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>varSA.Potential_Issue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSA.FSL__InJeopardy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSA.FSL__InJeopardyReason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSA.Potential_Issue_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSA.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA_Data_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSA.Driver_Needs_Help_Checkbox__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSA.Driver_Needs_Help_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SAList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SA_Data_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_WO_Exist_or_Not</name>
        <label>Check WO Exist or Not</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Update_SA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesWO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_all_WO_s</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_all_WO_s</targetReference>
            </connector>
            <label>YesWO</label>
        </rules>
    </decisions>
    <description>SSFI-612: Updated EMI-10/23/2024</description>
    <environments>Default</environments>
    <interviewLabel>Clear Jeopardy/Potential Issue {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clear Jeopardy/Potential Issue</label>
    <loops>
        <name>get_all_WO_Ids</name>
        <label>get all WO Ids</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <collectionReference>get_all_WO_s</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>add_WO_IDs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_SA_s</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>SA_Data_Loop</name>
        <label>SA Data Loop</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <collectionReference>get_SA_s</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_SA_Data</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_SA_s</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_all_WO_s</name>
        <label>get all WO&#39;s</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_all_WO_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrder</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_SA_s</name>
        <label>get SA&#39;s</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SA_Data_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Work_Order__c</field>
            <operator>In</operator>
            <value>
                <elementReference>setWOIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>50</locationX>
        <locationY>1355</locationY>
        <inputAssignments>
            <field>Violation_Type__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SA</name>
        <label>Update SA</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>FSL__InJeopardyReason__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__InJeopardy__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.FSL_Service_Appointment__r.FSL__Service_Appointments__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SA_s</name>
        <label>Update SA&#39;s</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <inputReference>SAList</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_WO_Exist_or_Not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dispatcher_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>FSL_Work_Order__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Violation_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>PTA Violation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Violation_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Aging 120</stringValue>
            </value>
        </filters>
        <filters>
            <field>Dispatcher_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Violation_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Aging 60</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>SAList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>setWOIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
</Flow>
