unpackaged/main/default/flows/Clone_Contract_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Navigate_to_New_Contract</name>
        <label>Navigate to New Contract</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>CreatedContractId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_to_Collection</name>
        <label>Assign to Collection</label>
        <locationX>264</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>listofRateLineItems</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>singleRateLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Rate_Line_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Rate_Line_Item</name>
        <label>Assignment Rate Line Item</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>singleRateLineItem.Calculation_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Rate_Line_Item.Calculation_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleRateLineItem.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreatedContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleRateLineItem.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Rate_Line_Item.End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleRateLineItem.Fixed_Amount__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleRateLineItem.Max_Data_Range__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Rate_Line_Item.Max_Data_Range__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleRateLineItem.Min_Data_Range__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Rate_Line_Item.Min_Data_Range__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleRateLineItem.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Rate_Line_Item.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleRateLineItem.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Rate_Line_Item.RecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleRateLineItem.Service_Type_Picklist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Rate_Line_Item.Service_Type_Picklist__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleRateLineItem.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Rate_Line_Item.Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleRateLineItem.Time_of_Day_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Rate_Line_Item.Time_of_Day_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleRateLineItem.Unit_of_Measure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Rate_Line_Item.Unit_of_Measure__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleRateLineItem.Charge_to_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Rate_Line_Item.Charge_to_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleRateLineItem.Fixed_Amount_Adjusted_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Rate_Line_Item.Fixed_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleRateLineItem.Fixed_Amount_Changed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleRateLineItem.Is_New__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Collection</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Clone Contract Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Clone Contract Screen Flow</label>
    <loops>
        <name>Loop_Through_Rate_Line_Item</name>
        <label>Loop Through Rate Line Item</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_Child_Rate_Line_Item</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_Rate_Line_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Rate_Line_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contract</name>
        <label>Create Contract</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignRecordIdToReference>CreatedContractId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Child_Rate_Line_Item</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_handling</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Contract_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trigger_Approval__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contract__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Rate_Line_Items</name>
        <label>Create Rate Line Items</label>
        <locationX>176</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Navigate_to_New_Contract</targetReference>
        </connector>
        <inputReference>listofRateLineItems</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Child_Rate_Line_Item</name>
        <label>Get Child Rate Line Item</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Rate_Line_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Rate_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Cone_Contract</name>
        <label>Cone Contract</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Contract</targetReference>
        </connector>
        <fields>
            <name>Contract_Name</name>
            <dataType>String</dataType>
            <fieldText>Contract Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Description</name>
            <dataType>String</dataType>
            <fieldText>Description</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Create Contract</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_handling</name>
        <label>Error handling</label>
        <locationX>440</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_msg</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Cone_Contract</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contractCreated</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract__c</objectType>
    </variables>
    <variables>
        <name>CreatedContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>listofRateLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Rate_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>singleRateLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Rate_Line_Item__c</objectType>
    </variables>
</Flow>
