unpackaged/main/default/flows/Community_Decline_Work.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Audit_to_Chatter</name>
        <label>Audit to Chatter</label>
        <locationX>908</locationX>
        <locationY>1574</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Confirmation_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ChatterTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>RetrievedWorkOrder</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Contractor_Indicator</name>
        <label>Set Contractor Indicator</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>isCommunityUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Launch_Reroute_Flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Values_from_SA</name>
        <label>Values from SA</label>
        <locationX>776</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>RetrievedWorkOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Appointment.ParentRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RetrievedServiceAppointment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Appointment.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RetrievedTowAppointment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Appointment.FSL__Related_Service__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RetrievedServiceTerritory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Appointment.ServiceTerritoryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RetrievedServiceResourceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Appointment.Service_Resource__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Work_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Values_from_WO</name>
        <label>Values from WO</label>
        <locationX>1040</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>RetrievedWorkOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RetrievedServiceAppointment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_SA_from_Work_Order.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RetrievedTowAppointment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_SA_from_Work_Order.FSL__Related_Service__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RetrievedServiceTerritory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_SA_from_Work_Order.ServiceTerritoryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RetrievedServiceResourceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_SA_from_Work_Order.Service_Resource__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Work_Order</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Decline</name>
        <choiceText>Decline</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Decline</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reroute</name>
        <choiceText>Reroute</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reroute</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Does_Resource_Preference_Already_Exist</name>
        <label>Does Resource Preference Already Exist?</label>
        <locationX>710</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Create_Resource_Preference</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No RP</defaultConnectorLabel>
        <rules>
            <name>RP_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Resource_Preference</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Existing_Resource_Preference</targetReference>
            </connector>
            <label>RP Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Service_Resource_Exists</name>
        <label>Does Service Resource Exist?</label>
        <locationX>908</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Audit_to_Chatter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Service Resource Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>Service_Resource_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RetrievedServiceResourceId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_Resource_Preference_Already_Exist</targetReference>
            </connector>
            <label>Service Resource Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_User_Allowed_to_Reroute</name>
        <label>Is User Allowed to Reroute</label>
        <locationX>479</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Where_did_we_launch_from</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Permission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Community_Reroute_Permission</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decline_or_Reroute</targetReference>
            </connector>
            <label>Has Permission</label>
        </rules>
    </decisions>
    <decisions>
        <name>Where_did_we_launch_from</name>
        <label>Where did we launch from?</label>
        <locationX>908</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_SA_from_Work_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>From Work Order</defaultConnectorLabel>
        <rules>
            <name>From_Service_Appointment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>08p</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Service_Appointment</targetReference>
            </connector>
            <label>From Service Appointment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Action</name>
        <label>Which Action?</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Error_Please_make_a_selection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Decline_Call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reroute_or_Decline</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Decline</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Where_did_we_launch_from</targetReference>
            </connector>
            <label>Decline Call</label>
        </rules>
        <rules>
            <name>Reroute_Call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reroute_or_Decline</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Reroute</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Contractor_Indicator</targetReference>
            </connector>
            <label>Reroute Call</label>
        </rules>
    </decisions>
    <description>Added Decline or Reroute option.</description>
    <dynamicChoiceSets>
        <name>SelectDeclineReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Decline_Reason__c</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Community: Decline Work {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Community Decline Work</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Resource_Preference</name>
        <label>Create Resource Preference</label>
        <locationX>842</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>Audit_to_Chatter</targetReference>
        </connector>
        <inputAssignments>
            <field>PreferenceType</field>
            <value>
                <stringValue>Excluded</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedRecordId</field>
            <value>
                <elementReference>Get_Work_Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceResourceId</field>
            <value>
                <elementReference>RetrievedServiceResourceId</elementReference>
            </value>
        </inputAssignments>
        <object>ResourcePreference</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Resource_Preference</name>
        <label>Get Resource Preference</label>
        <locationX>908</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Service_Resource_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Work_Order.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ServiceResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RetrievedServiceResourceId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ResourcePreference</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SA_from_Work_Order</name>
        <label>Get SA from Work Order</label>
        <locationX>1040</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Values_from_WO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Breakdown Appointment</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Appointment</name>
        <label>Get Service Appointment</label>
        <locationX>776</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Values_from_SA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>908</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decline_Work</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RetrievedWorkOrder</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Existing_Resource_Preference</name>
        <label>Update Existing Resource Preference</label>
        <locationX>578</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>Audit_to_Chatter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Resource_Preference.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PreferenceType</field>
            <value>
                <stringValue>Excluded</stringValue>
            </value>
        </inputAssignments>
        <object>ResourcePreference</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Service_Appointment</name>
        <label>Update Service Appointment</label>
        <locationX>908</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Get_Resource_Preference</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RetrievedServiceAppointment</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Decline_Reason__c</field>
            <value>
                <elementReference>SelectDeclineReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Declined</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>908</locationX>
        <locationY>1682</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CallDeclined</name>
            <fieldText>&lt;p&gt;You have declined this call. Notification has been sent to AAA Dispatch.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;The Service Appointment will remain in Declined status until it has been rerouted.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation_0</name>
        <label>Confirmation</label>
        <locationX>1304</locationX>
        <locationY>1682</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CallDeclined_0</name>
            <fieldText>&lt;p&gt;You have declined this call. Notification has been sent to AAA Dispatch.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;The Service Appointment will remain in Declined status until it has been rerouted.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Decline_or_Reroute</name>
        <label>Decline or Reroute?</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Which_Action</targetReference>
        </connector>
        <fields>
            <name>Reroute_or_Decline</name>
            <choiceReferences>Reroute</choiceReferences>
            <choiceReferences>Decline</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Reroute</defaultSelectedChoiceReference>
            <fieldText>Reroute or Decline?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Decline_Work</name>
        <label>Decline Work</label>
        <locationX>908</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Service_Appointment</targetReference>
        </connector>
        <fields>
            <name>SelectedReason</name>
            <choiceReferences>SelectDeclineReason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select a reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Please_make_a_selection</name>
        <label>Error. Please make a selection.</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Decline_or_Reroute</targetReference>
        </connector>
        <fields>
            <name>MakeAChoice</name>
            <fieldText>&lt;p&gt;You must make a selection. Please try again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>353</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_User_Allowed_to_Reroute</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Launch_Reroute_Flow</name>
        <label>Launch Reroute Flow</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <flowName>Reroute_Call</flowName>
        <inputAssignments>
            <name>isCommunityUser</name>
            <value>
                <elementReference>isCommunityUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>CaseSubjectText</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>WO# {!Get_Work_Order.WorkOrderNumber} has been declined</text>
    </textTemplates>
    <textTemplates>
        <name>ChatterTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$User.FirstName} {!$User.LastName} from {!Get_Work_Order.ServiceTerritory.Name} has declined this Work Order. A Case has been created!</text>
    </textTemplates>
    <textTemplates>
        <name>FaultEmailTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Decline Reason: {!SelectDeclineReason}&lt;/p&gt;&lt;p&gt;Decline Reason Picklist: {!SelectedReason}&lt;/p&gt;&lt;p&gt;Launching Record: {!recordId}&lt;/p&gt;&lt;p&gt;Work Order: {!RetrievedWorkOrder}&lt;/p&gt;&lt;p&gt;Breakdown: {!RetrievedServiceAppointment}&lt;/p&gt;&lt;p&gt;Tow Appt: {!RetrievedTowAppointment}&lt;/p&gt;&lt;p&gt;Queue: {!RetrievedQueueId}&lt;/p&gt;&lt;p&gt;Record Type: {!RetrievedRecordType}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CollectionServiceAppointments</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isCommunityUser</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RetrievedQueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RetrievedRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RetrievedServiceAppointment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RetrievedServiceResourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RetrievedServiceTerritory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RetrievedTowAppointment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RetrievedWorkOrder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
