unpackaged/main/default/flows/Create_Capacities.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_a_Capacity</name>
        <label>Add a Capacity</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>newCapacity.CapacityInHours</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>24.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCapacity.CapacityInWorkItems</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCapacity.ServiceResourceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCapacity.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCapacity.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCapacity.TimePeriod</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Day</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_and_Update_Variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_and_Update_Variables</name>
        <label>Add and Update Variables</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>collCapacities</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newCapacity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currDate</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_Counter</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Counter</name>
        <label>Check Counter</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Create_All_Capacities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Counter_365</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Counter</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>365.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_a_Capacity</targetReference>
            </connector>
            <label>Counter &lt; 365</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create Capacities {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Capacities</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_All_Capacities</name>
        <label>Create All Capacities</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <inputReference>collCapacities</inputReference>
    </recordCreates>
    <screens>
        <name>Ready</name>
        <label>Ready</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Counter</targetReference>
        </connector>
        <fields>
            <name>ReadyText</name>
            <fieldText>&lt;p&gt;This process will create 1 year of Resource Capacities. Due to the number of records, it may take a few minutes. Please be patient.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click Next when you&#39;re ready to begin.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessText</name>
            <fieldText>&lt;p&gt;Capacities have been created through {!currDate}.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Ready</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>collCapacities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResourceCapacity</objectType>
    </variables>
    <variables>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>newCapacity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResourceCapacity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
