unpackaged/main/default/flows/Create_Messaging_User_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Contact_from_Case</name>
        <label>Assign Contact from Case</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>msgContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseRecord.Account.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>phoneInput</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseRecord.ACG_Case_Contact_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>msgAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseRecord.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Existing_Messaging_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_from_WO</name>
        <label>Assign Contact from WO</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>msgContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>workOrderRecord.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>phoneInput</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>workOrderRecord.WO_Member_Phone_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>msgAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>workOrderRecord.Contact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Existing_Messaging_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_Update</name>
        <label>Assign Contact Update</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Get_Existing_Messaging_User.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>msgContact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Existing_Messaging_User.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>msgAccount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Messaging_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_id_for_output</name>
        <label>Assign id for output</label>
        <locationX>578</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>messagingUserOutput</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>messagingUserRecord.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_New_Record_Values</name>
        <label>Assign New Record Values</label>
        <locationX>578</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>messagingUserRecord.MessageType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Text</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>messagingUserRecord.MessagingChannelId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Channel_ID.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>messagingUserRecord.MessagingPlatformKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formattedPhoneNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>messagingUserRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formattedPhoneNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>messagingUserRecord.MessagingConsentStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ExplicitlyOptedIn</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>messagingUserRecord.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>msgContact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>messagingUserRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>msgAccount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Messaging_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Phone_for_Output</name>
        <label>Assign Phone for Output</label>
        <locationX>446</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>phoneOutput</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formattedPhoneNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>messagingUserOutput</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Existing_Messaging_User.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Phone_Update</name>
        <label>Assign Phone Update</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Get_Existing_Messaging_User.MessagingPlatformKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formattedPhoneNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Existing_Messaging_User.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formattedPhoneNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Existing_Messaging_User.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>messagingUserOutput</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Messaging_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_for_Output</name>
        <label>Assign Values for Output</label>
        <locationX>842</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>messagingUserOutput</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Existing_Messaging_User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>phoneOutput</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formattedPhoneNumber</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Messaging_User_for_Output</name>
        <label>Messaging User for Output</label>
        <locationX>446</locationX>
        <locationY>542</locationY>
        <assignmentItems>
            <assignToReference>messagingUserOutput</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Existing_Messaging_User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_or_Existing_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contact_from_Case_or_WO</name>
        <label>Contact from Case or WO</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>From_Case_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact_from_Case</targetReference>
            </connector>
            <label>From Case Record</label>
        </rules>
        <rules>
            <name>From_Work_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>workOrderRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact_from_WO</targetReference>
            </connector>
            <label>From Work Order</label>
        </rules>
    </decisions>
    <decisions>
        <description>If a Messaging User Record is found in the previous step, we will update that record. If no record is found, we will create a new messaging user.</description>
        <name>New_or_Existing_Record</name>
        <label>New or Existing Record</label>
        <locationX>446</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Assign_Values_for_Output</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Action Needed</defaultConnectorLabel>
        <rules>
            <name>Phone_Update_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Messaging_User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Existing_Messaging_User.MessagingPlatformKey</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>formattedPhoneNumber</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Phone_Update</targetReference>
            </connector>
            <label>Phone Update Needed</label>
        </rules>
        <rules>
            <name>Contact_Update_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Messaging_User.ContactId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>msgContact</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Existing_Messaging_User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Existing_Messaging_User.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>formattedPhoneNumber</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact_Update</targetReference>
            </connector>
            <label>Contact Update Needed</label>
        </rules>
        <rules>
            <name>New_Messaging_User_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Messaging_User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Channel_ID</targetReference>
            </connector>
            <label>New Messaging User Needed</label>
        </rules>
    </decisions>
    <description>Creates or updates an existing Messaging User record.
2025-06-13: added output messaging user id for enhanced messaging channel</description>
    <environments>Default</environments>
    <formulas>
        <name>f_SMSChannelName</name>
        <dataType>String</dataType>
        <expression>{!$Label.SMS_Channel_Name}</expression>
    </formulas>
    <formulas>
        <name>formattedPhoneNumber</name>
        <dataType>String</dataType>
        <expression>IF(
	{!phoneInput} = &#39;1%&#39;, &#39;+&#39; &amp; {!phoneInput},
	IF(
		{!phoneInput} = &#39;+1%&#39;, {!phoneInput},
		IF(
			{!phoneInput} = &#39;+%&#39;, &#39;+1&#39; &amp; RIGHT({!phoneInput},LEN({!phoneInput})-1),
			&#39;+1&#39; &amp; {!phoneInput}
		)
	)
)</expression>
    </formulas>
    <interviewLabel>Create Messaging User Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Messaging User Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Messaging_User</name>
        <label>Create New Messaging User</label>
        <locationX>578</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Assign_id_for_output</targetReference>
        </connector>
        <inputReference>messagingUserRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Channel_ID</name>
        <label>Get Channel ID</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_New_Record_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>f_SMSChannelName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingChannel</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Check if a Messaging User exists for the Contact.</description>
        <name>Get_Existing_Messaging_User</name>
        <label>Get Existing Messaging User</label>
        <locationX>446</locationX>
        <locationY>434</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Messaging_User_for_Output</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Channel_ID</targetReference>
        </faultConnector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>msgContact</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>msgAccount</elementReference>
            </value>
        </filters>
        <filters>
            <field>MessagingPlatformKey</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formattedPhoneNumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingEndUser</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Messaging_User</name>
        <label>Update Messaging User</label>
        <locationX>446</locationX>
        <locationY>1382</locationY>
        <connector>
            <targetReference>Assign_Phone_for_Output</targetReference>
        </connector>
        <inputReference>Get_Existing_Messaging_User</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Contact_from_Case_or_WO</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>caseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>messagingUserOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>messagingUserRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>MessagingEndUser</objectType>
    </variables>
    <variables>
        <name>msgAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>msgContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>phoneInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>phoneOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>workOrderRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
