unpackaged/main/default/flows/Dispatched_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>CannotComplete</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Cannot Complete&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Canceled</stringValue>
        </value>
    </choices>
    <choices>
        <name>Enroute_Status</name>
        <choiceText>En Route</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>En Route</stringValue>
        </value>
    </choices>
    <choices>
        <name>EquipmentRequiredUnavailable</name>
        <choiceText>Equipment Required Unavailable</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Equipment Required Unavailable</stringValue>
        </value>
    </choices>
    <choices>
        <name>NotMyServiceArea</name>
        <choiceText>Not My Service Area</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not My Service Area</stringValue>
        </value>
    </choices>
    <choices>
        <name>RefusedCall</name>
        <choiceText>Refused Call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Refused Call</stringValue>
        </value>
    </choices>
    <choices>
        <name>Status_DeclineAD</name>
        <choiceText>Declined</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Declined</stringValue>
        </value>
    </choices>
    <choices>
        <name>Status_EnrouteAD</name>
        <choiceText>En Route</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>En Route</stringValue>
        </value>
    </choices>
    <decisions>
        <name>checkIfDriverCanDeclineCall</name>
        <label>checkIfDriverCanDeclineCall</label>
        <locationX>567</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Change_Status_From_Dispatched</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IfDriverCanDeclineCall</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varBDriverCanDeclineCall</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenStatusAfterDecline</targetReference>
            </connector>
            <label>IfDriverCanDeclineCall</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfResourcePrefenceAlreadythere</name>
        <label>CheckIfResourcePrefenceAlreadythere</label>
        <locationX>182</locationX>
        <locationY>1238</locationY>
        <defaultConnector>
            <targetReference>CreateResourcePreference</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IfRFalreadyThere</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRResourcePreference</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateRPWithExluded</targetReference>
            </connector>
            <label>IfRPalreadyThere</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckSelection</name>
        <label>CheckSelection</label>
        <locationX>380</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Selection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IfSelectedAsDecline</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StatusAfterDecline</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Status_DeclineAD</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_to_Select_Decline_Reason</targetReference>
            </connector>
            <label>IfSelectedAsDecline</label>
        </rules>
    </decisions>
    <decisions>
        <name>Selection</name>
        <label>Selection</label>
        <locationX>567</locationX>
        <locationY>1886</locationY>
        <defaultConnector>
            <targetReference>Cannot_Complete_Sub_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>En_Route</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Enroute_Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StatusAfterDecline</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Status_EnrouteAD</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_To_En_Route</targetReference>
            </connector>
            <label>En Route</label>
        </rules>
    </decisions>
    <description>Removed Cannot Complete - 9/12/22</description>
    <environments>Default</environments>
    <interviewLabel>Dispatched Sub Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Dispatched Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>CreateResourcePreference</name>
        <label>CreateResourcePreference</label>
        <locationX>314</locationX>
        <locationY>1358</locationY>
        <inputAssignments>
            <field>PreferenceType</field>
            <value>
                <stringValue>Excluded</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedRecordId</field>
            <value>
                <elementReference>varRCurrentSA.ParentRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceResourceId</field>
            <value>
                <elementReference>varRCurrentSA.Service_Resource__c</elementReference>
            </value>
        </inputAssignments>
        <object>ResourcePreference</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Resource_Preference</name>
        <label>Get Resource Preference</label>
        <locationX>182</locationX>
        <locationY>1118</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckIfResourcePrefenceAlreadythere</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRCurrentSA.ParentRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ServiceResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceResourceId</elementReference>
            </value>
        </filters>
        <object>ResourcePreference</object>
        <outputReference>varRResourcePreference</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RelatedRecordId</queriedFields>
        <queriedFields>PreferenceType</queriedFields>
        <queriedFields>ResourcePreferenceNumber</queriedFields>
        <queriedFields>ServiceResourceId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Resource</name>
        <label>Get Service Resource</label>
        <locationX>567</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getSTToCheckDeclineCheckbox</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputAssignments>
            <assignToReference>ServiceResourceId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>699</locationX>
        <locationY>2126</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>LoggedintoGlympse</assignToReference>
            <field>FSL_Logged_into_Glympse__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GlympsePrompt</assignToReference>
            <field>FSL_Prompted_To_Login_Glympse__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetCurrentSA</name>
        <label>GetCurrentSA</label>
        <locationX>567</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_Resource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BreakdownAppointment.Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>varRCurrentSA</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>ParentRecordId</queriedFields>
        <queriedFields>Service_Resource__c</queriedFields>
        <queriedFields>ServiceTerritoryId</queriedFields>
        <queriedFields>Decline_Reason__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getSTToCheckDeclineCheckbox</name>
        <label>getSTToCheckDeclineCheckbox</label>
        <locationX>567</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkIfDriverCanDeclineCall</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRCurrentSA.ServiceTerritoryId</elementReference>
            </value>
        </filters>
        <object>ServiceTerritory</object>
        <outputAssignments>
            <assignToReference>varBDriverCanDeclineCall</assignToReference>
            <field>Drivers_can_Decline_Calls__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_To_Decline</name>
        <label>Update To Decline</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Get_Resource_Preference</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRCurrentSA.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Decline_Reason__c</field>
            <value>
                <elementReference>Decline_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Declined</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_To_En_Route</name>
        <label>Update To En Route</label>
        <locationX>435</locationX>
        <locationY>2006</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BreakdownAppointment.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>En_Route_Timestamp__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>En Route</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateRPWithExluded</name>
        <label>updateRPWithExluded</label>
        <locationX>50</locationX>
        <locationY>1358</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRResourcePreference.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PreferenceType</field>
            <value>
                <stringValue>Excluded</stringValue>
            </value>
        </inputAssignments>
        <object>ResourcePreference</object>
    </recordUpdates>
    <screens>
        <name>Change_Status_From_Dispatched</name>
        <label>Change Status From Dispatched</label>
        <locationX>754</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Selection</targetReference>
        </connector>
        <fields>
            <name>Header</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 56, 147);&quot;&gt;{!Header_Text_Input}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Status</name>
            <choiceReferences>Enroute_Status</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Enroute_Status</defaultSelectedChoiceReference>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_to_Select_Decline_Reason</name>
        <label>Screen to Select Decline Reason</label>
        <locationX>182</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_To_Decline</targetReference>
        </connector>
        <fields>
            <name>Decline_Reason</name>
            <choiceReferences>NotMyServiceArea</choiceReferences>
            <choiceReferences>RefusedCall</choiceReferences>
            <choiceReferences>EquipmentRequiredUnavailable</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Decline Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ScreenStatusAfterDecline</name>
        <label>ScreenStatusAfterDecline</label>
        <locationX>380</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CheckSelection</targetReference>
        </connector>
        <fields>
            <name>StatusAfterDecline</name>
            <choiceReferences>Status_EnrouteAD</choiceReferences>
            <choiceReferences>Status_DeclineAD</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Status_EnrouteAD</defaultSelectedChoiceReference>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>441</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCurrentSA</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Cannot_Complete_Sub_Flow</name>
        <label>Cannot Complete Sub Flow</label>
        <locationX>699</locationX>
        <locationY>2006</locationY>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
        <flowName>Cannot_Complete_Sub_Flow</flowName>
        <inputAssignments>
            <name>CurrentStatus</name>
            <value>
                <stringValue>Dispatched</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Header_Text_Input</name>
            <value>
                <elementReference>Header_Text_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UpdateServiceAppointment</name>
            <value>
                <elementReference>BreakdownAppointment</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AssignedResourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BreakdownAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>GlympsePrompt</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Header_Text_Input</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoggedintoGlympse</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>promptMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ServiceResourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varBDriverCanDeclineCall</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRCurrentSA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>varRResourcePreference</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ResourcePreference</objectType>
    </variables>
    <variables>
        <name>workOrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
