unpackaged/main/default/flows/Dispatch_Clear_Call.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_res_type_choice</name>
        <label>Assign res type choice</label>
        <locationX>710</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>v_resTypeChoice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResCode_Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LS_Go_or_No_Go</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Resolution_Code_All_Codes</name>
        <label>Assign Resolution Code - All Codes</label>
        <locationX>974</locationX>
        <locationY>2156</locationY>
        <assignmentItems>
            <assignToReference>Selected_Resolution_Code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Resolution_Code_All_Codes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddLineItems</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Additional_Services_Provided_0_0_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Services_Provided</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Resolution_Code_Cancel</name>
        <label>Assign Resolution Code - X002</label>
        <locationX>842</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>Selected_Resolution_Code</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>X002</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>View_More_Option</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Resolution_Code_LS_GO</name>
        <label>Assign Resolution Code - LS GO</label>
        <locationX>50</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>Selected_Resolution_Code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Resolution_Code_LS_GO</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddLineItems</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Additional_Services_Provided_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>View_More_Option</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Resolution_Code_LS_View_More</name>
        <label>Assign Resolution Code - LS View More</label>
        <locationX>710</locationX>
        <locationY>2156</locationY>
        <assignmentItems>
            <assignToReference>Selected_Resolution_Code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Resolution_Code_All_Codes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddLineItems</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Additional_Services_Provided_0_0_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Services_Provided</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Resolution_Code_NSR</name>
        <label>Assign Resolution Code - NSR</label>
        <locationX>1634</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>Selected_Resolution_Code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Resolution_Code_NSR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddLineItems</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Add_Service_Item_NSR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>View_More_Option</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Resolution_Code_Tow_GO</name>
        <label>Assign Resolution Code - Tow Go</label>
        <locationX>314</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>Selected_Resolution_Code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Resolution_Code_Tow_Go</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddLineItems</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Additional_Services_Provided_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>View_More_Option</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Resolution_Code_Tow_No_Go</name>
        <label>Assign Resolution Code - Tow No Go</label>
        <locationX>578</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>Selected_Resolution_Code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Resolution_Code_Tow_No_Go</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddLineItems</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Additional_Services_Provided_0_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>View_More_Option</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Resolution_Code_X001</name>
        <label>Assign Resolution Code - X001</label>
        <locationX>1106</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>Selected_Resolution_Code</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>X001</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>View_More_Option</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_res_type_choice</name>
        <label>Assign res type choice (Tow)</label>
        <locationX>974</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>v_resTypeChoice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_ResCode_Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LS_Go_or_No_Go</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>Cancel</description>
        <name>Cancel</name>
        <choiceText>Cancel</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancel</stringValue>
        </value>
    </choices>
    <choices>
        <name>Go</name>
        <choiceText>Light Service</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Go</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Go</name>
        <choiceText>Tow</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No Go</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoService</name>
        <choiceText>No Service</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No Service</stringValue>
        </value>
    </choices>
    <choices>
        <name>View_More_Choice</name>
        <choiceText>View All</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Call_Type</name>
        <label>Call Type?</label>
        <locationX>974</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>LS_Go_or_No_Go</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Light_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ThisWorkOrder.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Light Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Call</targetReference>
            </connector>
            <label>Light Service</label>
        </rules>
        <rules>
            <name>Tow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ThisWorkOrder.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tow</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Clear_Call</targetReference>
            </connector>
            <label>Tow</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Call_Already_Cleared</name>
        <label>Is Call Already Cleared</label>
        <locationX>1854</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Is_Call_Still_Editable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ThisWorkOrder.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cleared</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Type</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the Editable flag is set or not</description>
        <name>Is_Call_Still_Editable</name>
        <label>Is Call Still Editable</label>
        <locationX>2734</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Call_Already_Cleared_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Call_Not_Editable</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ThisWorkOrder.Editable__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ThisWorkOrder.Editable__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Already_Cleared_0_0_0</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_a_row_lock_issue</name>
        <label>Is this a row lock issue?</label>
        <locationX>2206</locationX>
        <locationY>2756</locationY>
        <defaultConnector>
            <targetReference>Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Row_Lock</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>UNABLE_TO_LOCK_ROW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Row_Lock_Error</targetReference>
            </connector>
            <label>Row Lock</label>
        </rules>
    </decisions>
    <decisions>
        <name>Launched_from_WO</name>
        <label>Launched from WO?</label>
        <locationX>1854</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Get_Current_Work_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Launched from WO</defaultConnectorLabel>
        <rules>
            <name>Launched_from_SA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SA_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Service_Appointment</targetReference>
            </connector>
            <label>Launched from SA</label>
        </rules>
    </decisions>
    <decisions>
        <name>LS_Go_or_No_Go</name>
        <label>LS Go or No Go</label>
        <locationX>974</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>View_More_Option</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Go_Selection_LS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_resTypeChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Go</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ThisWorkOrder.Is_Tow_WorkType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Call_0</targetReference>
            </connector>
            <label>LS - Go</label>
        </rules>
        <rules>
            <name>Tow_Go</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_resTypeChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Go</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ThisWorkOrder.Is_Tow_WorkType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Call_0_0_0</targetReference>
            </connector>
            <label>Tow - Go</label>
        </rules>
        <rules>
            <name>Tow_No_Go</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_resTypeChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No_Go</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Call_0_0_0_0</targetReference>
            </connector>
            <label>Tow - No Go</label>
        </rules>
        <rules>
            <name>Cancel_Choice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_resTypeChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Cancel</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Breakdown_Record_Type_Id</targetReference>
            </connector>
            <label>Cancel</label>
        </rules>
        <rules>
            <name>No_Service_Rendered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_resTypeChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NoService</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Clear_Call_Cancel</targetReference>
            </connector>
            <label>No Service Rendered</label>
        </rules>
    </decisions>
    <decisions>
        <name>SA_Status</name>
        <label>SA Status?</label>
        <locationX>1106</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>Error_Cancel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>En_Route</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Service_Appointment_Status.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En Route</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Resolution_Code_Cancel</targetReference>
            </connector>
            <label>En Route</label>
        </rules>
        <rules>
            <name>Other_Valid_Status</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Service_Appointment_Status.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Declined</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Service_Appointment_Status.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spotted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Service_Appointment_Status.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Service_Appointment_Status.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dispatched</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Resolution_Code_X001</targetReference>
            </connector>
            <label>Other Valid Status</label>
        </rules>
    </decisions>
    <decisions>
        <name>Services_Provided</name>
        <label>Services Provided</label>
        <locationX>974</locationX>
        <locationY>2348</locationY>
        <defaultConnector>
            <targetReference>Add_Resolution_Code_To_Breakdown</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Needs_to_Add_Services</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>AddLineItems</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Service_Items</targetReference>
            </connector>
            <label>Needs to Add Services</label>
        </rules>
    </decisions>
    <decisions>
        <name>View_More_Option</name>
        <label>View More Option</label>
        <locationX>974</locationX>
        <locationY>1940</locationY>
        <defaultConnector>
            <targetReference>Services_Provided</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>View_More_TOW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selected_Resolution_Code</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>View_More_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Call_View_more_LS</targetReference>
            </connector>
            <label>View More - LS</label>
        </rules>
        <rules>
            <name>View_More</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Selected_Resolution_Code</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>View_More_Choice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ResCode_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>View_More_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Call_All_Codes</targetReference>
            </connector>
            <label>View More - Default</label>
        </rules>
    </decisions>
    <description>Updated the &quot;Call Cleared but Editable&quot; banner COLOR.
2025-07-17: Update choice labels and filtering resolution codes for SSFI-1227 JWO</description>
    <dynamicChoiceSets>
        <name>Filtered_Resolution_Codes_Cancel</name>
        <dataType>String</dataType>
        <displayField>Label__c</displayField>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Code__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>X</stringValue>
            </value>
        </filters>
        <filters>
            <field>Code__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>R</stringValue>
            </value>
        </filters>
        <object>FSL_Resolution_Code__c</object>
        <sortField>Code__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Code__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Filtered_Resolution_Codes_LS_GO</name>
        <dataType>String</dataType>
        <displayField>Label__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Go_No_Go__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Go</elementReference>
            </value>
        </filters>
        <filters>
            <field>Series__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ThisWorkOrder.FSL_Pacesetter__c</elementReference>
            </value>
        </filters>
        <object>FSL_Resolution_Code__c</object>
        <valueField>Code__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Filtered_Resolution_Codes_LS_NO_GO</name>
        <dataType>String</dataType>
        <displayField>Label__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Go_No_Go__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>No_Go</elementReference>
            </value>
        </filters>
        <object>FSL_Resolution_Code__c</object>
        <valueField>Code__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Filtered_Resolution_Codes_LS_View_All</name>
        <dataType>String</dataType>
        <displayField>Label__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Code__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>G</stringValue>
            </value>
        </filters>
        <object>FSL_Resolution_Code__c</object>
        <valueField>Code__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Filtered_Resolution_Codes_TOW_GO</name>
        <dataType>String</dataType>
        <displayField>Label__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Go_No_Go__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Go</elementReference>
            </value>
        </filters>
        <object>FSL_Resolution_Code__c</object>
        <valueField>Code__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Filtered_Resolution_Codes_TOW_NO_GO</name>
        <dataType>String</dataType>
        <displayField>Label__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Go_No_Go__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>No_Go</elementReference>
            </value>
        </filters>
        <filters>
            <field>Series__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>9</stringValue>
            </value>
        </filters>
        <object>FSL_Resolution_Code__c</object>
        <valueField>Code__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>filteredResolutionCodesNSR</name>
        <dataType>String</dataType>
        <displayField>Label__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Code__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>R</stringValue>
            </value>
        </filters>
        <object>FSL_Resolution_Code__c</object>
        <valueField>Code__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProvidedServicesChoices</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Club__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>$Flow.CurrentRecord</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>ProductCode</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ResolutionCodes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Resolution_Code__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CurrentUserID</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Dispatch Clear Call {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Call Closure</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Breakdown_Record_Type_Id</name>
        <label>Get Breakdown Record Type Id</label>
        <locationX>1106</locationX>
        <locationY>1274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_Appointment_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ServiceAppointment</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Breakdown</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Work_Order</name>
        <label>Get Current Work Order</label>
        <locationX>1854</locationX>
        <locationY>434</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Pacesetter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>ThisWorkOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Is_Tow_WorkType__c</queriedFields>
        <queriedFields>FSL_Pacesetter__c</queriedFields>
        <queriedFields>ServiceTerritoryId</queriedFields>
        <queriedFields>Editable__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Pacesetter</name>
        <label>Get Pacesetter</label>
        <locationX>1854</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Call_Already_Cleared</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pacesetter</stringValue>
            </value>
        </filters>
        <filters>
            <field>Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>FSL_TroubleCode__c</object>
        <outputReference>TroubleCode</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Code__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Appointment</name>
        <label>Get Service Appointment</label>
        <locationX>1722</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Current_Work_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SA_Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputAssignments>
            <assignToReference>Id</assignToReference>
            <field>ParentRecordId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Appointment_Status</name>
        <label>Get Service Appointment Status</label>
        <locationX>1106</locationX>
        <locationY>1382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SA_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Breakdown_Record_Type_Id.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Add_Resolution_Code_To_Breakdown</name>
        <label>Add Resolution Code To Breakdown</label>
        <locationX>974</locationX>
        <locationY>2648</locationY>
        <faultConnector>
            <targetReference>Is_this_a_row_lock_issue</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Breakdown Appointment</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Cleared_Timestamp__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resolution_Code__c</field>
            <value>
                <elementReference>Selected_Resolution_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Cleared</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <screens>
        <name>Call_Already_Cleared_0_0</name>
        <label>Call Cleared But Editable</label>
        <locationX>2866</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Warning_0_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;This call has been &lt;/span&gt;&lt;strong style=&quot;color: rgb(34, 139, 34); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Cleared&lt;/strong&gt;&lt;strong style=&quot;color: rgb(56, 8, 234); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;but still editable. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Call_Already_Cleared_0_0_0</name>
        <label>Call Cleared and Locked</label>
        <locationX>2602</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Warning_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;This call has been &lt;/span&gt;&lt;b style=&quot;font-size: 14px; color: rgb(228, 10, 10);&quot;&gt;Cleared&lt;/b&gt;&lt;b style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;.&lt;/b&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt; No additional updates can be made in Field Service.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Clear_Call</name>
        <label>Clear Call</label>
        <locationX>710</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_res_type_choice</targetReference>
        </connector>
        <fields>
            <name>ResCode_Type</name>
            <choiceReferences>Go</choiceReferences>
            <choiceReferences>NoService</choiceReferences>
            <choiceReferences>Cancel</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Resolution Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Clear_Call_0</name>
        <label>Clear Call - LS GO</label>
        <locationX>50</locationX>
        <locationY>1274</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Resolution_Code_LS_GO</targetReference>
        </connector>
        <fields>
            <name>Header_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(0, 56, 147); font-size: 16px;&quot;&gt;{!Header_Text_Input}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Resolution_Code_LS_GO</name>
            <choiceReferences>Filtered_Resolution_Codes_LS_GO</choiceReferences>
            <choiceReferences>View_More_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Resolution Code</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Additional_Services_Provided_0</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Add Service Item</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Clear_Call_0_0_0</name>
        <label>Clear Call - Tow - Go</label>
        <locationX>314</locationX>
        <locationY>1274</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Resolution_Code_Tow_GO</targetReference>
        </connector>
        <fields>
            <name>Header_0_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px; color: rgb(0, 56, 147);&quot;&gt;{!Header_Text_Input}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Resolution_Code_Tow_Go</name>
            <choiceReferences>Filtered_Resolution_Codes_TOW_GO</choiceReferences>
            <choiceReferences>View_More_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Resolution Code</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Additional_Services_Provided_0_0_0</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Add Service Item</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Clear_Call_0_0_0_0</name>
        <label>Clear Call - Tow - No Go</label>
        <locationX>578</locationX>
        <locationY>1274</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Resolution_Code_Tow_No_Go</targetReference>
        </connector>
        <fields>
            <name>Header_0_0_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px; color: rgb(0, 56, 147);&quot;&gt;{!Header_Text_Input}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Resolution_Code_Tow_No_Go</name>
            <choiceReferences>Filtered_Resolution_Codes_TOW_NO_GO</choiceReferences>
            <choiceReferences>View_More_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Resolution Code</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Additional_Services_Provided_0_0_0_0</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Add Service Item</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Clear_Call_All_Codes</name>
        <label>Clear Call - All Codes</label>
        <locationX>974</locationX>
        <locationY>2048</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Resolution_Code_All_Codes</targetReference>
        </connector>
        <fields>
            <name>Header_0_0_0_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(0, 56, 147); font-size: 16px;&quot;&gt;{!Header_Text_Input}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Resolution_Code_All_Codes</name>
            <choiceReferences>ResolutionCodes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Resolution Code</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Additional_Services_Provided_0_0_0_0_0</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>AddLineItems</elementReference>
            </defaultValue>
            <fieldText>Add Service Item</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Clear_Call_View_more_LS</name>
        <label>Clear Call - View More LS</label>
        <locationX>710</locationX>
        <locationY>2048</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Resolution_Code_LS_View_More</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Header_0_0_0_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(0, 56, 147); font-size: 16px;&quot;&gt;{!Header_Text_Input}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Resolution_Code_All_Codes</name>
            <choiceReferences>Filtered_Resolution_Codes_LS_View_All</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Resolution Code</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Additional_Services_Provided_0_0_0_0_0</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>AddLineItems</elementReference>
            </defaultValue>
            <fieldText>Add Service Item</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Clear_Call</name>
        <label>Clear Call (Tow)</label>
        <locationX>974</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Assign_res_type_choice</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_ResCode_Type</name>
            <choiceReferences>Go</choiceReferences>
            <choiceReferences>No_Go</choiceReferences>
            <choiceReferences>NoService</choiceReferences>
            <choiceReferences>Cancel</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Resolution Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Clear_Call_Cancel</name>
        <label>Clear Call - NSR</label>
        <locationX>1634</locationX>
        <locationY>1274</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Resolution_Code_NSR</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Header_0_0_0_0_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(0, 56, 147); font-size: 16px;&quot;&gt;{!Header_Text_Input}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Resolution_Code_NSR</name>
            <choiceReferences>filteredResolutionCodesNSR</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Resolution Code</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Add_Service_Item_NSR</name>
            <dataType>Boolean</dataType>
            <fieldText>Add Service Item</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>2338</locationX>
        <locationY>2864</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>General_Error</name>
            <fieldText>&lt;p&gt;Hmm. That didn&#39;t work. Please refresh the page and try again. If you continue to receive this message, please contact AAA Dispatch.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ErrorMessageText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(179, 0, 0);&quot;&gt;ERROR&lt;/b&gt;: {!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Cancel</name>
        <label>Error</label>
        <locationX>1370</locationX>
        <locationY>1598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Call_Type</targetReference>
        </connector>
        <fields>
            <name>ErrorTextCancel</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgba(206, 206, 217, 0.07); font-size: 14px; font-family: &amp;quot;Atlassian Sans&amp;quot;, ui-sans-serif, -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Ubuntu, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(0, 0, 0);&quot;&gt;The status of service appointment should be Declined/Spotted/Scheduled, Dispatched or En Route to Cancel, this service appointment is currently in {!Get_Service_Appointment_Status.Status} status.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Row_Lock_Error</name>
        <label>Row Lock Error</label>
        <locationX>2074</locationX>
        <locationY>2864</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>RL_error_message</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;Sorry, we weren&#39;t able to save your changes because another user or process made an update at the same time. Please refresh the page and try again. If the issue persists, notify AAA Dispatch.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1728</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Launched_from_WO</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Add_Service_Items</name>
        <label>Add Service Items</label>
        <locationX>842</locationX>
        <locationY>2456</locationY>
        <connector>
            <targetReference>Add_Resolution_Code_To_Breakdown</targetReference>
        </connector>
        <flowName>Dispatch_Get_Provided_Services</flowName>
        <inputAssignments>
            <name>Header_Text</name>
            <value>
                <elementReference>Header_Text_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>territoryID</name>
            <value>
                <elementReference>ThisWorkOrder.ServiceTerritory.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>workOrderID</name>
            <value>
                <elementReference>ThisWorkOrder.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AddLineItems</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Go_No_Go_Selection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Skip Go and No Go screen in Clear Call flow</description>
        <name>Go_NoGo_Skip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Header_Text_Input</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id of the Work Order, automatically passed in from Quick Action</description>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewServiceLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSL_Service_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>PaymentRequired</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ProductItemsList</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>ReassignmentMessage</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSL_User_Message__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>relatedServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>SA_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Resolution_Code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedMisuse</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ThisWorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>TroubleCode</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSL_TroubleCode__c</objectType>
    </variables>
    <variables>
        <name>v_resTypeChoice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
