unpackaged/main/default/flows/ERS_and_Reciprocal_Invoice_Generation_Real_Time.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Cost_and_Other_Values</name>
        <label>Add Cost and Other Values</label>
        <locationX>1666</locationX>
        <locationY>5867</locationY>
        <assignmentItems>
            <assignToReference>ExistingCost</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>subTotalExistingCost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingTax</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>subtotalExistingTax</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingQuantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>subTotalExistingQuantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Existing_Cost</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Existing_Inv_Line_Items</name>
        <label>Add Existing Inv Line Items</label>
        <locationX>2475</locationX>
        <locationY>7523</locationY>
        <assignmentItems>
            <assignToReference>InvLineItemsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Matching_Invoice_Line_Item</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_SLI_Ids</name>
        <label>Add SLI Ids</label>
        <locationX>495</locationX>
        <locationY>4535</locationY>
        <assignmentItems>
            <assignToReference>lstSLIIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Collect_SLI_Ids.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_SLI_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_To_Inv_Line_item_List_2</name>
        <label>Add To Inv Line item List 2</label>
        <locationX>2651</locationX>
        <locationY>7199</locationY>
        <assignmentItems>
            <assignToReference>InvLineItemsToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newInvoiceLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Service_Line_Items_Again</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_To_New_Inv_Line_Item_List</name>
        <label>Add To New Inv Line Item List</label>
        <locationX>781</locationX>
        <locationY>6875</locationY>
        <assignmentItems>
            <assignToReference>InvLineItemsToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newInvoiceLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Service_Line_Items_Again</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_earliest_unreconciled_Statement</name>
        <label>Assign earliest unreconciled Statement</label>
        <locationX>2497</locationX>
        <locationY>2279</locationY>
        <assignmentItems>
            <assignToReference>finalStatement</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Current_Statements</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increase_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Existing_Line_items_1</name>
        <label>Assign Existing Line items 1</label>
        <locationX>1446</locationX>
        <locationY>5567</locationY>
        <assignmentItems>
            <assignToReference>existingInvLineItems</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Existing_Cost</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Existing_Cost</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Existing_Line_Items_2</name>
        <label>Assign Existing Line Items 2</label>
        <locationX>1710</locationX>
        <locationY>5567</locationY>
        <assignmentItems>
            <assignToReference>existingInvLineItems</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Existing_Cost_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Existing_Cost</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Final_Statement_2</name>
        <label>Assign Final Statement 2</label>
        <locationX>2233</locationX>
        <locationY>2279</locationY>
        <assignmentItems>
            <assignToReference>finalStatement</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Current_Statements</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increase_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Final_Statement_3</name>
        <label>Assign Final Statement 3</label>
        <locationX>3575</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>finalStatement</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Cleared_Date_Statements</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increase_Count_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ILIs_To_Collection</name>
        <label>Assign ILIs To Collection</label>
        <locationX>539</locationX>
        <locationY>4943</locationY>
        <assignmentItems>
            <assignToReference>iliList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Existing_Inv_Line_Items</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Service_Line_Items_Again</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ILIs_To_Collection_1</name>
        <label>Assign ILIs To Collection</label>
        <locationX>275</locationX>
        <locationY>4943</locationY>
        <assignmentItems>
            <assignToReference>iliList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_ALL_Existing_Inv_Line_Items_ACA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Service_Line_Items_Again</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Invoice_Values</name>
        <label>Assign Invoice Values</label>
        <locationX>869</locationX>
        <locationY>3803</locationY>
        <assignmentItems>
            <assignToReference>theInvoice.Statement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>finalStatement.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theInvoice.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ready for Processing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theInvoice.Statement_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>finalStatement.End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theInvoice.Work_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theInvoice.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theInvoice.Service_Territory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ServiceTerritoryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theInvoice.Service_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClearedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theInvoice.Membership_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Member_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theInvoice.Membership_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BO_Editable_WO_Specific_Membership_Level__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theInvoice.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InvoiceType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theInvoice.Reciprocal_Sync_Ready__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>reciprocalReadySync</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theInvoice.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_ERS_Invoice_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Invoice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Invoice_Values_SVC</name>
        <label>Assign Invoice Values (SVC)</label>
        <locationX>605</locationX>
        <locationY>3803</locationY>
        <assignmentItems>
            <assignToReference>theInvoice.Statement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>finalStatement.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theInvoice.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ready for Processing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theInvoice.Statement_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>finalStatement.End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theInvoice.Work_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theInvoice.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theInvoice.Service_Territory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ServiceTerritoryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theInvoice.Service_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CallDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theInvoice.Membership_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Member_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theInvoice.Membership_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BO_Editable_WO_Specific_Membership_Level__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theInvoice.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InvoiceType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theInvoice.Reciprocal_Sync_Ready__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>reciprocalReadySync</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theInvoice.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_ERS_Invoice_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Invoice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Loop_Count_To_0_Yet_Again</name>
        <label>Assign Loop Count To 0 Yet Again</label>
        <locationX>2101</locationX>
        <locationY>7907</locationY>
        <assignmentItems>
            <assignToReference>loopCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Service_Line_Items_Again</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Cost_Etc</name>
        <label>Assign New Cost Etc</label>
        <locationX>2475</locationX>
        <locationY>6815</locationY>
        <assignmentItems>
            <assignToReference>Loop_Matching_Invoice_Line_Item.Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinalCost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Matching_Invoice_Line_Item.Tax__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinalTax</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Matching_Invoice_Line_Item.Charge_to_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinalQuantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Matching_Invoice_Line_Item.Charge_to_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Service_Line_Items_Again.Charge_to_Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_ACA_Org</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Inv_Line_Item_Values</name>
        <label>Assign New Inv Line Item Values</label>
        <locationX>781</locationX>
        <locationY>6167</locationY>
        <assignmentItems>
            <assignToReference>newInvoiceLineItem.Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>theInvoice.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newInvoiceLineItem.Service_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Service_Line_Items_Again.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newInvoiceLineItem.Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinalCost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newInvoiceLineItem.Tax__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinalTax</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newInvoiceLineItem.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinalQuantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newInvoiceLineItem.Charge_to_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Service_Line_Items_Again.Charge_to_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newInvoiceLineItem.Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Service_Line_Items_Again.Product_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newInvoiceLineItem.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Service_Line_Items_Again.Product__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_ACA_Org_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Inv_Line_Item_Values_2</name>
        <label>Assign New Inv Line Item Values 2</label>
        <locationX>2651</locationX>
        <locationY>6491</locationY>
        <assignmentItems>
            <assignToReference>newInvoiceLineItem.Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>theInvoice.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newInvoiceLineItem.Service_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Service_Line_Items_Again.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newInvoiceLineItem.Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinalCost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newInvoiceLineItem.Tax__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinalTax</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newInvoiceLineItem.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinalQuantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newInvoiceLineItem.Charge_to_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Service_Line_Items_Again.Charge_to_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newInvoiceLineItem.Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Service_Line_Items_Again.Product_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newInvoiceLineItem.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Service_Line_Items_Again.Product__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_ACA_Org_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Pay_Facility</name>
        <label>Assign Pay Facility</label>
        <locationX>2321</locationX>
        <locationY>7031</locationY>
        <assignmentItems>
            <assignToReference>Loop_Matching_Invoice_Line_Item.Pay_Facility__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Service_Line_Items_Again.Pay_Facility__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Reciprocal_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Pay_Facility_1</name>
        <label>Assign Pay Facility</label>
        <locationX>627</locationX>
        <locationY>6383</locationY>
        <assignmentItems>
            <assignToReference>newInvoiceLineItem.Pay_Facility__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Service_Line_Items_Again.Pay_Facility__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Reciprocal_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Pay_Facility_2</name>
        <label>Assign Pay Facility</label>
        <locationX>2497</locationX>
        <locationY>6707</locationY>
        <assignmentItems>
            <assignToReference>newInvoiceLineItem.Pay_Facility__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Service_Line_Items_Again.Pay_Facility__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Reciprocal_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Pay_Reciprocal</name>
        <label>Assign Pay Reciprocal</label>
        <locationX>495</locationX>
        <locationY>6599</locationY>
        <assignmentItems>
            <assignToReference>newInvoiceLineItem.Pay_Reciprocal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Service_Line_Items_Again.Pay_Reciprocal__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_New_Inv_Line_Item_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Pay_Reciprocal_2</name>
        <label>Assign Pay Reciprocal</label>
        <locationX>2189</locationX>
        <locationY>7247</locationY>
        <assignmentItems>
            <assignToReference>Loop_Matching_Invoice_Line_Item.Pay_Reciprocal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Service_Line_Items_Again.Pay_Reciprocal__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Existing_Inv_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Pay_Reciprocal_3</name>
        <label>Assign Pay Reciprocal</label>
        <locationX>2365</locationX>
        <locationY>6923</locationY>
        <assignmentItems>
            <assignToReference>newInvoiceLineItem.Pay_Reciprocal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Service_Line_Items_Again.Pay_Reciprocal__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Inv_Line_item_List_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Statement_Values</name>
        <label>Assign Statement Values</label>
        <locationX>737</locationX>
        <locationY>2963</locationY>
        <assignmentItems>
            <assignToReference>newStatement.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newStatement.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>statementEndDateFinal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newStatement.Statement_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StatementName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newStatement.Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ServiceTerritory.Group__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newStatement.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unreconciled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newStatement.Service_Territory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ServiceTerritoryId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Statement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Statements_to_variable</name>
        <label>Assign Statements to variable</label>
        <locationX>1309</locationX>
        <locationY>1763</locationY>
        <assignmentItems>
            <assignToReference>stmtList1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Current_Date_Active_Statement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_If_Current_Statement_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_The_Invoice</name>
        <label>Assign The Invoice</label>
        <locationX>2827</locationX>
        <locationY>3203</locationY>
        <assignmentItems>
            <assignToReference>theInvoice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_The_Invoice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Invoice_Reciprocal_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_cleared_statements_collection</name>
        <label>Assign to cleared statements collection</label>
        <locationX>2332</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>v_clearedStatements</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Cleared_Date_Active_Statement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Cleared_Date_Statement_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignFinalStatement_1</name>
        <label>assignFinalStatement 1</label>
        <locationX>737</locationX>
        <locationY>3179</locationY>
        <assignmentItems>
            <assignToReference>finalStatement</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newStatement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decide_Invoice_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Call_Adjustments_Type</name>
        <label>Call Adjustments Type</label>
        <locationX>473</locationX>
        <locationY>3395</locationY>
        <assignmentItems>
            <assignToReference>InvoiceType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Call Adjustments</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_ERS_Invoice_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Reciprocal_Invoices_To_Update</name>
        <label>Collect Reciprocal Invoices To Update</label>
        <locationX>2695</locationX>
        <locationY>3527</locationY>
        <assignmentItems>
            <assignToReference>RecInvcsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>theInvoice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>hasRecInvcsToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increase_Count_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_to_cleared_statements_collection</name>
        <label>Copy 1 of Assign to cleared statements collection</label>
        <locationX>2596</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>v_clearedStatements</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BasedOnOriginal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Cleared_Date_Statement_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Statements_to_variable</name>
        <label>Assign Statements to variable</label>
        <locationX>1573</locationX>
        <locationY>1763</locationY>
        <assignmentItems>
            <assignToReference>stmtList1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Date_Active_Statement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_If_Current_Statement_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_1</name>
        <label>Count - 1</label>
        <locationX>2640</locationX>
        <locationY>7715</locationY>
        <assignmentItems>
            <assignToReference>loopCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CountMinus1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Matching_Invoice_Line_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Matching_Invoice_Line_Items</name>
        <label>Count Matching Invoice Line Items</label>
        <locationX>2376</locationX>
        <locationY>6275</locationY>
        <assignmentItems>
            <assignToReference>matchingInvLineItemsCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Matching_Inv_Line_Item</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Matching_Inv_Line_Items_Count_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>countUpdatesInserts</name>
        <label>countUpdatesInserts</label>
        <locationX>407</locationX>
        <locationY>8267</locationY>
        <assignmentItems>
            <assignToReference>countInvLineItemsToInsert</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>InvLineItemsToInsert</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>countInvLineItemToUpdate</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>InvLineItemsToUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Invoice_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Dec_31st_End_Date</name>
        <label>Dec 31st End Date</label>
        <locationX>803</locationX>
        <locationY>2387</locationY>
        <assignmentItems>
            <assignToReference>statementEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EndDate31stDec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Monthly_Payment_Schedule_Calc</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Dec_Assignment</name>
        <label>Dec Assignment</label>
        <locationX>605</locationX>
        <locationY>2771</locationY>
        <assignmentItems>
            <assignToReference>statementEndDateMonthly</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EndDate31stDec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Statement_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>End_Date_is_15th</name>
        <label>End Date is 15th</label>
        <locationX>539</locationX>
        <locationY>2279</locationY>
        <assignmentItems>
            <assignToReference>statementEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>endDate15th</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Monthly_Payment_Schedule_Calc</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EndDateLastDayOfMonth</name>
        <label>EndDateLastDayOfMonth</label>
        <locationX>1067</locationX>
        <locationY>2387</locationY>
        <assignmentItems>
            <assignToReference>statementEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LastDayOfMonth</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Monthly_Payment_Schedule_Calc</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ERS_Calls_Type</name>
        <label>ERS Calls Type</label>
        <locationX>209</locationX>
        <locationY>3395</locationY>
        <assignmentItems>
            <assignToReference>InvoiceType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ERS Calls</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_ERS_Invoice_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increase_Count</name>
        <label>Increase Count</label>
        <locationX>2497</locationX>
        <locationY>2471</locationY>
        <assignmentItems>
            <assignToReference>loopCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CountPlus1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Current_Statements</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increase_Count_2</name>
        <label>Increase Count</label>
        <locationX>3707</locationX>
        <locationY>1655</locationY>
        <assignmentItems>
            <assignToReference>loopCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CountPlus1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Cleared_Date_Statements</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increase_Count_3</name>
        <label>Increase Count</label>
        <locationX>2981</locationX>
        <locationY>3803</locationY>
        <assignmentItems>
            <assignToReference>loopCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CountPlus1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_The_Invoice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Inv_Count_To_Loop_Count</name>
        <label>Inv Count To Loop Count</label>
        <locationX>2101</locationX>
        <locationY>6491</locationY>
        <assignmentItems>
            <assignToReference>loopCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>matchingInvLineItemsCount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Matching_Invoice_Line_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Is_Adjustment</name>
        <label>Is Adjustment</label>
        <locationX>1529</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>isAdjustment</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_NE_Org_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Is_New_Statement</name>
        <label>Is New Statement</label>
        <locationX>737</locationX>
        <locationY>2063</locationY>
        <assignmentItems>
            <assignToReference>isNewStatement</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decide_End_Date_Path</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Is_Reciprocal_True</name>
        <label>Is Reciprocal</label>
        <locationX>2332</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>isReciprocal</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WO_Call_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Mark_Reciprocal_Sync_Ready</name>
        <label>Mark Reciprocal Sync Ready</label>
        <locationX>2695</locationX>
        <locationY>3419</locationY>
        <assignmentItems>
            <assignToReference>theInvoice.Reciprocal_Sync_Ready__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_Reciprocal_Invoices_To_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Month_End_Assignment</name>
        <label>Month End Assignment</label>
        <locationX>869</locationX>
        <locationY>2771</locationY>
        <assignmentItems>
            <assignToReference>statementEndDateMonthly</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LastDayOfMonth</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Statement_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_Invoice</name>
        <label>New Invoice</label>
        <locationX>737</locationX>
        <locationY>4103</locationY>
        <assignmentItems>
            <assignToReference>isNewInvoice</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Service_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reciprocal_Adjustments_Type</name>
        <label>Reciprocal Adjustments Type</label>
        <locationX>1001</locationX>
        <locationY>3395</locationY>
        <assignmentItems>
            <assignToReference>InvoiceType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reciprocal Adjustments</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>reciprocalReadySync</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_ERS_Invoice_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reciprocals_Type</name>
        <label>Reciprocals Type</label>
        <locationX>737</locationX>
        <locationY>3395</locationY>
        <assignmentItems>
            <assignToReference>InvoiceType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reciprocals</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>reciprocalReadySync</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_ERS_Invoice_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Existing_Values</name>
        <label>Reset Existing Values</label>
        <locationX>1578</locationX>
        <locationY>5243</locationY>
        <assignmentItems>
            <assignToReference>ExistingCost</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingTax</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingQuantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Invoice_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Loop_Count_To_0_Again</name>
        <label>Set Loop Count To 0 Again</label>
        <locationX>2607</locationX>
        <locationY>3995</locationY>
        <assignmentItems>
            <assignToReference>loopCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Service_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_LoopCount_To_0</name>
        <label>Set LoopCount To 0</label>
        <locationX>2145</locationX>
        <locationY>2663</locationY>
        <assignmentItems>
            <assignToReference>loopCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Invoice_For_Work_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SLIs_to_Update</name>
        <label>SLIs to Update</label>
        <locationX>495</locationX>
        <locationY>9239</locationY>
        <assignmentItems>
            <assignToReference>lstSLIsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Uncheck_Ready_For_Invoicing</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Uncheck_Ready_For_Invoicing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SLIsToUpdateCount</name>
        <label>SLIsToUpdateCount</label>
        <locationX>407</locationX>
        <locationY>9431</locationY>
        <assignmentItems>
            <assignToReference>varSLIsToUpdateCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>lstSLIsToUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Work_Order_Has_Adjustment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Uncheck</name>
        <label>Uncheck</label>
        <locationX>495</locationX>
        <locationY>9131</locationY>
        <assignmentItems>
            <assignToReference>Uncheck_Ready_For_Invoicing.Ready_for_Invoicing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SLIs_to_Update</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Existing_Cost</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Existing Cost</label>
        <locationX>1446</locationX>
        <locationY>5459</locationY>
        <assignNextValueToReference>currentItem_Existing_Cost</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>iliList</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Existing_Cost.Service_Line_Item__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_Service_Line_Items_Again.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_Existing_Line_items_1</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Existing_Cost_2</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Existing Cost 2</label>
        <locationX>1710</locationX>
        <locationY>5459</locationY>
        <assignNextValueToReference>currentItem_Existing_Cost_2</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>iliList</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Existing_Cost_2.Service_Line_Item__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_Service_Line_Items_Again.Id</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Existing_Cost_2.Invoice__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <elementReference>theInvoice.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_Existing_Line_Items_2</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Get_Matching_Inv_Line_Item</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get Matching Inv Line Item</label>
        <locationX>2376</locationX>
        <locationY>6167</locationY>
        <assignNextValueToReference>currentItem_Get_Matching_Inv_Line_Item</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>iliList</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_Matching_Inv_Line_Item.Service_Line_Item__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_Service_Line_Items_Again.Id</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Get_Matching_Inv_Line_Item.Invoice__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>theInvoice.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Count_Matching_Invoice_Line_Items</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_if_Cleared_Date_Statement_Exists</name>
        <label>Check if Cleared Date Statement Exists</label>
        <locationX>2464</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>Loop_Cleared_Date_Statements</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Does_Not_Exist</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cleared_Date_Active_Statement</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Call_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SVC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BasedOnOriginal</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Call_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>SVC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_service_ticket</targetReference>
            </connector>
            <label>Does Not Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Current_Statement_Exists</name>
        <label>Check If Current Statement Exists</label>
        <locationX>1441</locationX>
        <locationY>1955</locationY>
        <defaultConnector>
            <targetReference>Loop_Current_Statements</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Does_Not_Exist_Current</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>stmtList1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>stmtList1</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_New_Statement</targetReference>
            </connector>
            <label>Does Not Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Reciprocal</name>
        <label>Check If Reciprocal</label>
        <locationX>2464</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>WO_Call_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Reciprocal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Call_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>RAP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Program_Description__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>ClubCode</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Reciprocal_True</targetReference>
            </connector>
            <label>Is Reciprocal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decide_End_Date_Path</name>
        <label>Decide End Date Path</label>
        <locationX>737</locationX>
        <locationY>2171</locationY>
        <defaultConnector>
            <targetReference>End_Date_Not_15th</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X15th_End_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DayInNumber</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>15.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>End_Date_is_15th</targetReference>
            </connector>
            <label>15th End Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decide_Invoice_Type</name>
        <label>Decide Invoice Type</label>
        <locationX>737</locationX>
        <locationY>3287</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ERS_Calls_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ERS_Calls</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isAdjustment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isReciprocal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ERS_Calls_Type</targetReference>
            </connector>
            <label>ERS Calls</label>
        </rules>
        <rules>
            <name>Call_Adjustments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isAdjustment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isReciprocal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Adjustments_Type</targetReference>
            </connector>
            <label>Call Adjustments</label>
        </rules>
        <rules>
            <name>Reciprocals</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isReciprocal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isAdjustment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reciprocals_Type</targetReference>
            </connector>
            <label>Reciprocals</label>
        </rules>
        <rules>
            <name>Reciprocal_Adjustments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isReciprocal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isAdjustment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reciprocal_Adjustments_Type</targetReference>
            </connector>
            <label>Reciprocal Adjustments</label>
        </rules>
    </decisions>
    <decisions>
        <name>End_Date_Not_15th</name>
        <label>End Date Not 15th</label>
        <locationX>935</locationX>
        <locationY>2279</locationY>
        <defaultConnector>
            <targetReference>EndDateLastDayOfMonth</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Last_Date_Dec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MonthInNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>12.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dec_31st_End_Date</targetReference>
            </connector>
            <label>Last Date Dec</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Invoice</name>
        <label>Has Invoice?</label>
        <locationX>2145</locationX>
        <locationY>2879</locationY>
        <defaultConnector>
            <targetReference>Find_The_Invoice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Invoice_For_Work_Order</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Decide_Invoice_Type</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Have_Reciprocal_Invoices_To_Update</name>
        <label>Have Reciprocal Invoices To Update?</label>
        <locationX>407</locationX>
        <locationY>9887</locationY>
        <defaultConnector>
            <targetReference>Have_SLIs_To_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Reciprocal_Invoices</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hasRecInvcsToUpdate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Reciprocal_Invoices</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Have_SLIs_To_Update</name>
        <label>Have SLIs To Update?</label>
        <locationX>407</locationX>
        <locationY>10235</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Have_SLIs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSLIsToUpdateCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Uncheck_Ready_For_Invoicing_Update</targetReference>
            </connector>
            <label>Yes Have SLIs</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Count_0</name>
        <label>If Count 0 and is ACA Org</label>
        <locationX>2497</locationX>
        <locationY>2171</locationY>
        <defaultConnector>
            <targetReference>Increase_Count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Count_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ClubCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>212</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Final_Statement_2</targetReference>
            </connector>
            <label>Count 0</label>
        </rules>
        <rules>
            <name>Is_NE_Org</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>ClubCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>240</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isAdjustment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Call_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SVC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Ticket_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_earliest_unreconciled_Statement</targetReference>
            </connector>
            <label>Is NE Org and is adjustment</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Count_0_2</name>
        <label>If Count 0</label>
        <locationX>3707</locationX>
        <locationY>1355</locationY>
        <defaultConnector>
            <targetReference>Increase_Count_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Count_0_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Final_Statement_3</targetReference>
            </connector>
            <label>Count 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Count_0_3</name>
        <label>If Count 0</label>
        <locationX>2981</locationX>
        <locationY>3095</locationY>
        <defaultConnector>
            <targetReference>Increase_Count_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_The_Invoice</targetReference>
            </connector>
            <label>Is 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Insert_Invoice_Line_Items</name>
        <label>Insert Invoice Line Items</label>
        <locationX>407</locationX>
        <locationY>8375</locationY>
        <defaultConnector>
            <targetReference>Update_Invoice_Line_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Insert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countInvLineItemsToInsert</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Invoice_Line_Items</targetReference>
            </connector>
            <label>Yes_Insert</label>
        </rules>
    </decisions>
    <decisions>
        <name>Invoice_Is_New</name>
        <label>Invoice Is New</label>
        <locationX>1578</locationX>
        <locationY>6059</locationY>
        <defaultConnector>
            <targetReference>Get_Matching_Inv_Line_Item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNewInvoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Inv_Line_Item_Values</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_ACA_Org</name>
        <label>Is ACA Org?</label>
        <locationX>2475</locationX>
        <locationY>6923</locationY>
        <defaultConnector>
            <targetReference>Add_Existing_Inv_Line_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_ACA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ClubCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>212</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Pay_Facility</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_ACA_Org_1</name>
        <label>Is ACA Org?</label>
        <locationX>781</locationX>
        <locationY>6275</locationY>
        <defaultConnector>
            <targetReference>Add_To_New_Inv_Line_Item_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_ACA_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ClubCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>212</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Pay_Facility_1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_ACA_Org_2</name>
        <label>Is ACA Org?</label>
        <locationX>2651</locationX>
        <locationY>6599</locationY>
        <defaultConnector>
            <targetReference>Add_To_Inv_Line_item_List_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_ACA_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ClubCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>212</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Pay_Facility_2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_ACA_Org_3</name>
        <label>Is ACA Org?</label>
        <locationX>407</locationX>
        <locationY>4727</locationY>
        <defaultConnector>
            <targetReference>Get_Existing_Inv_Line_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_ACA_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ClubCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>212</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ALL_Existing_Inv_Line_Items_ACA</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Invoice_Reciprocal_Type</name>
        <label>Is Invoice Reciprocal Type?</label>
        <locationX>2827</locationX>
        <locationY>3311</locationY>
        <defaultConnector>
            <targetReference>Increase_Count_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Reciprocal</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>theInvoice.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reciprocals</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>theInvoice.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reciprocal Adjustments</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mark_Reciprocal_Sync_Ready</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_It_First_Element</name>
        <label>Is It First Element</label>
        <locationX>2640</locationX>
        <locationY>6707</locationY>
        <defaultConnector>
            <targetReference>Count_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_First</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>matchingInvLineItemsCount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Cost_Etc</targetReference>
            </connector>
            <label>Yes First</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_NE_Org_1</name>
        <label>Is NE Org?</label>
        <locationX>1441</locationX>
        <locationY>1547</locationY>
        <defaultConnector>
            <targetReference>Current_Date_Active_Statement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ClubCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>240</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Current_Date_Active_Statement</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_NE_Org_And_Created_Date_Before_12_26_2023</name>
        <label>Is NE Org And Created Date Before 12/26/2023?</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Check_If_Reciprocal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_NE_Before</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ClubCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>240</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <dateTimeValue>2023-12-26T05:00:00.000Z</dateTimeValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Reciprocal_2</name>
        <label>Is Reciprocal</label>
        <locationX>2321</locationX>
        <locationY>7139</locationY>
        <defaultConnector>
            <targetReference>Add_Existing_Inv_Line_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Reciprocal_Type_2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>theInvoice.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reciprocals</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>theInvoice.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reciprocal Adjustments</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Pay_Reciprocal_2</targetReference>
            </connector>
            <label>Yes Reciprocal Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Reciprocal_3</name>
        <label>Is Reciprocal</label>
        <locationX>2497</locationX>
        <locationY>6815</locationY>
        <defaultConnector>
            <targetReference>Add_To_Inv_Line_item_List_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Reciprocal_Type_3</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>theInvoice.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reciprocals</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>theInvoice.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reciprocal Adjustments</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Pay_Reciprocal_3</targetReference>
            </connector>
            <label>Yes Reciprocal Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Reciprocal_Type</name>
        <label>Is Reciprocal</label>
        <locationX>627</locationX>
        <locationY>6491</locationY>
        <defaultConnector>
            <targetReference>Add_To_New_Inv_Line_Item_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Reciprocal_Type</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>theInvoice.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reciprocals</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>theInvoice.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reciprocal Adjustments</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Pay_Reciprocal</targetReference>
            </connector>
            <label>Yes Reciprocal Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_service_ticket</name>
        <label>Is service ticket?</label>
        <locationX>1441</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Is_Adjustment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_service_ticket</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Call_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SVC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Ticket_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_NE_Org_1</targetReference>
            </connector>
            <label>yes service ticket</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_Call_type_SVC</name>
        <label>Is the Call type SVC?</label>
        <locationX>737</locationX>
        <locationY>3695</locationY>
        <defaultConnector>
            <targetReference>Assign_Invoice_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Call_Type_is_SVC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Call_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SVC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Invoice_Values_SVC</targetReference>
            </connector>
            <label>Call Type is SVC</label>
        </rules>
    </decisions>
    <decisions>
        <name>Matching_Inv_Line_Items_Count_Check</name>
        <label>Matching Inv Line Items Count Check</label>
        <locationX>2376</locationX>
        <locationY>6383</locationY>
        <defaultConnector>
            <targetReference>Assign_New_Inv_Line_Item_Values_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Greater_than_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>matchingInvLineItemsCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inv_Count_To_Loop_Count</targetReference>
            </connector>
            <label>Greater than 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Monthly_Payment_Schedule_Calc</name>
        <label>Monthly Payment Schedule Calc</label>
        <locationX>737</locationX>
        <locationY>2663</locationY>
        <defaultConnector>
            <targetReference>Month_End_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Month_Is_Dec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MonthInNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>12.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dec_Assignment</targetReference>
            </connector>
            <label>Month Is Dec</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Invoice_2</name>
        <label>New Invoice</label>
        <locationX>1578</locationX>
        <locationY>5351</locationY>
        <defaultConnector>
            <targetReference>Existing_Cost_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNewInvoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_Cost</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Returned_SLIs</name>
        <label>Returned SLIs?</label>
        <locationX>737</locationX>
        <locationY>4319</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_returned_slis</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Service_Line_Items</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Service_Line_Items</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collect_SLI_Ids</targetReference>
            </connector>
            <label>yes returned slis</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Invoice_Line_Items</name>
        <label>Update Invoice Line Items</label>
        <locationX>407</locationX>
        <locationY>8723</locationY>
        <defaultConnector>
            <targetReference>Uncheck_Ready_For_Invoicing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countInvLineItemToUpdate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Invoice_Line_Item_Records</targetReference>
            </connector>
            <label>Yes Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>WO_Call_Type</name>
        <label>WO Call Type</label>
        <locationX>2464</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>BasedOnOriginal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CallType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Call_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SVC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Ticket_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Call_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Cleared_Date_Active_Statement</targetReference>
            </connector>
            <label>CallType = SVC</label>
        </rules>
    </decisions>
    <decisions>
        <name>Work_Order_Has_Adjustment</name>
        <label>Work Order Has Reciprocal Adjustment?</label>
        <locationX>407</locationX>
        <locationY>9539</locationY>
        <defaultConnector>
            <targetReference>Have_Reciprocal_Invoices_To_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Has</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isAdjustment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isReciprocal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Amended_Charges_Indicator_On_Work_Order</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>06/18/2024: v3 PR893288-5134  AGB 7/10/24 for D3 Call outs are failing
08/02/2024: Revert to Salesforce prof svcs version, update entry criteria
08/05/2024: Add CallDate Condition for invoice creation. EMI
08/06/2024: Update check current statement decision to check for both null and empty
08/07/2024: Update filter on Get Service Line Items action
08/09/2024: Update Work Order type decision to check for null call date on service tickets
08/13/2024: Add Is Service Ticket? decision
09/30/2024: Check whether SLIs returned
2/28/2024: AGB SSFI-975 SLI Units are rounding up</description>
    <environments>Default</environments>
    <formulas>
        <name>CallDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Record.Call_Date__c})</expression>
    </formulas>
    <formulas>
        <name>ClearedDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Record.Cleared_Timestamp__c})</expression>
    </formulas>
    <formulas>
        <name>ClubCode</name>
        <dataType>String</dataType>
        <expression>{!$Setup.BackOffice_Settings__c.Club_Code__c}</expression>
    </formulas>
    <formulas>
        <name>CountMinus1</name>
        <dataType>Number</dataType>
        <expression>{!loopCount} - 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>CountPlus1</name>
        <dataType>Number</dataType>
        <expression>{!loopCount} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>DayInNumber</name>
        <dataType>Number</dataType>
        <expression>DAY({!Today})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>endDate15th</name>
        <dataType>Date</dataType>
        <expression>DATE({!Year},{!MonthInNumber},15)</expression>
    </formulas>
    <formulas>
        <name>EndDate31stDec</name>
        <dataType>Date</dataType>
        <expression>DATE({!Year},12,31)</expression>
    </formulas>
    <formulas>
        <name>FinalCost</name>
        <dataType>Currency</dataType>
        <expression>{!Loop_Service_Line_Items_Again.Cost__c} - {!ExistingCost}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FinalQuantity</name>
        <dataType>Number</dataType>
        <expression>{!Loop_Service_Line_Items_Again.Unit__c} - {!ExistingQuantity}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FinalTax</name>
        <dataType>Currency</dataType>
        <expression>{!Loop_Service_Line_Items_Again.Tax__c} - {!ExistingTax}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>LastDayOfMonth</name>
        <dataType>Date</dataType>
        <expression>{!NextMonthStartDate} - 1</expression>
    </formulas>
    <formulas>
        <name>MonthInNumber</name>
        <dataType>Number</dataType>
        <expression>MONTH({!Today})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>NextMonthInNumber</name>
        <dataType>Number</dataType>
        <expression>{!MonthInNumber} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>NextMonthStartDate</name>
        <dataType>Date</dataType>
        <expression>DATE({!Year},{!NextMonthInNumber},1)</expression>
    </formulas>
    <formulas>
        <name>statementEndDateFinal</name>
        <dataType>Date</dataType>
        <expression>IF(
            TEXT({!$Record.ServiceTerritory.Payment_Schedule__c}) = &#39;Monthly&#39;,
            {!statementEndDateMonthly},
            {!statementEndDate}
            )</expression>
    </formulas>
    <formulas>
        <name>StatementName</name>
        <dataType>String</dataType>
        <expression>IF(
            TEXT({!$Record.ServiceTerritory.Payment_Schedule__c}) = &#39;Monthly&#39;,
            {!$Record.ServiceTerritory.Name} + &#39; &#39; + &#39;(&#39; + TEXT({!Today}) +
            &#39; - &#39;+ TEXT({!statementEndDateMonthly}) + &#39;)&#39;,
            {!$Record.ServiceTerritory.Name} + &#39; &#39; + &#39;(&#39; + TEXT({!Today}) +
            &#39; - &#39;+ TEXT({!statementEndDate}) + &#39;)&#39;
            )</expression>
    </formulas>
    <formulas>
        <name>subTotalExistingCost</name>
        <dataType>Currency</dataType>
        <expression>{!ExistingCost} + {!Loop_Existing_Cost.Cost__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>subTotalExistingQuantity</name>
        <dataType>Number</dataType>
        <expression>{!ExistingQuantity} + {!Loop_Existing_Cost.Quantity__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>subtotalExistingTax</name>
        <dataType>Currency</dataType>
        <expression>{!ExistingTax} + {!Loop_Existing_Cost.Tax__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}</expression>
    </formulas>
    <formulas>
        <name>Year</name>
        <dataType>Number</dataType>
        <expression>YEAR({!Today})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>ERS and Reciprocal Invoice Generation Real Time {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ERS and Reciprocal Invoice Generation Real Time</label>
    <loops>
        <name>Collect_SLI_Ids</name>
        <label>Collect SLI Ids</label>
        <locationX>407</locationX>
        <locationY>4427</locationY>
        <collectionReference>Get_Service_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_SLI_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_ACA_Org_3</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Find_The_Invoice</name>
        <label>Find The Invoice</label>
        <locationX>2607</locationX>
        <locationY>2987</locationY>
        <collectionReference>Find_Invoice_For_Work_Order</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>If_Count_0_3</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Loop_Count_To_0_Again</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Cleared_Date_Statements</name>
        <label>Loop Cleared Date Statements</label>
        <locationX>3487</locationX>
        <locationY>1247</locationY>
        <collectionReference>v_clearedStatements</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>If_Count_0_2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_LoopCount_To_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Current_Statements</name>
        <label>Loop Current Statements</label>
        <locationX>2145</locationX>
        <locationY>2063</locationY>
        <collectionReference>stmtList1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>If_Count_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_LoopCount_To_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Existing_Cost</name>
        <label>Loop Existing Cost</label>
        <locationX>1578</locationX>
        <locationY>5759</locationY>
        <collectionReference>existingInvLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Cost_and_Other_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Invoice_Is_New</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Matching_Invoice_Line_Item</name>
        <label>Loop Matching Invoice Line Item(s)</label>
        <locationX>2101</locationX>
        <locationY>6599</locationY>
        <collectionReference>Get_Matching_Inv_Line_Item</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_It_First_Element</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Loop_Count_To_0_Yet_Again</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Service_Line_Items_Again</name>
        <label>Loop_Service_Line_Items_Again</label>
        <locationX>407</locationX>
        <locationY>5135</locationY>
        <collectionReference>Get_Service_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Reset_Existing_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>countUpdatesInserts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Uncheck_Ready_For_Invoicing</name>
        <label>Uncheck Ready For Invoicing</label>
        <locationX>407</locationX>
        <locationY>9023</locationY>
        <collectionReference>Get_Service_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Uncheck</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SLIsToUpdateCount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Invoice</name>
        <label>Create Invoice</label>
        <locationX>737</locationX>
        <locationY>3995</locationY>
        <connector>
            <targetReference>New_Invoice</targetReference>
        </connector>
        <inputReference>theInvoice</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Invoice_Line_Items</name>
        <label>Create Invoice Line Items</label>
        <locationX>143</locationX>
        <locationY>8483</locationY>
        <connector>
            <targetReference>Update_Invoice_Line_Items</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Invoice_Line_Items</targetReference>
        </faultConnector>
        <inputReference>InvLineItemsToInsert</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Statement</name>
        <label>Create Statement</label>
        <locationX>737</locationX>
        <locationY>3071</locationY>
        <connector>
            <targetReference>assignFinalStatement_1</targetReference>
        </connector>
        <inputReference>newStatement</inputReference>
    </recordCreates>
    <recordLookups>
        <name>BasedOnOriginal</name>
        <label>BasedOnOriginal</label>
        <locationX>2596</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Assign_to_cleared_statements_collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Unreconciled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Service_Territory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceTerritoryId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>ClearedDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>ClearedDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Statement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Current_Date_Active_Statement</name>
        <label>All Unreconciled Statements</label>
        <locationX>1309</locationX>
        <locationY>1655</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Statements_to_variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Unreconciled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Territory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceTerritoryId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Statement__c</object>
        <sortField>Start_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Current_Date_Active_Statement</name>
        <label>Current Date Active Statement</label>
        <locationX>1573</locationX>
        <locationY>1655</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_Assign_Statements_to_variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Unreconciled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Territory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceTerritoryId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Statement__c</object>
        <sortField>Start_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_Invoice_For_Work_Order</name>
        <label>Find Invoice For Work Order</label>
        <locationX>2145</locationX>
        <locationY>2771</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Invoice</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Decide_Invoice_Type</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Statement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>finalStatement.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ready for Processing</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Invoice__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ALL_Existing_Inv_Line_Items_ACA</name>
        <label>Get ALL Existing Inv Line Items (ACA)</label>
        <locationX>275</locationX>
        <locationY>4835</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_ILIs_To_Collection_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Line_Item__c</field>
            <operator>In</operator>
            <value>
                <elementReference>lstSLIIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pay_Facility__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Invoice_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cleared_Date_Active_Statement</name>
        <label>Cleared Date Active Statement</label>
        <locationX>2332</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_to_cleared_statements_collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Unreconciled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Service_Territory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceTerritoryId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Start_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>CallDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>CallDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Payment_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Statement__c</object>
        <sortField>Start_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ERS_Invoice_Record_Type</name>
        <label>Get ERS Invoice Record Type</label>
        <locationX>737</locationX>
        <locationY>3587</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_the_Call_type_SVC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Invoice__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ERS</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Inv_Line_Items</name>
        <label>Get ALL Existing Inv Line Items (NE)</label>
        <locationX>539</locationX>
        <locationY>4835</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_ILIs_To_Collection</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Insert_Invoice_Line_Items</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Line_Item__c</field>
            <operator>In</operator>
            <value>
                <elementReference>lstSLIIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Invoice_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Line_Items</name>
        <label>Get Service Line Items</label>
        <locationX>737</locationX>
        <locationY>4211</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Returned_SLIs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Ready_for_Invoicing__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Adjustment_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>Adjustment_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FSL_Service_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Check_Amended_Charges_Indicator_On_Work_Order</name>
        <label>Check Amended Charges Indicator On Work Order</label>
        <locationX>143</locationX>
        <locationY>9647</locationY>
        <connector>
            <targetReference>Have_Reciprocal_Invoices_To_Update</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Have_Reciprocal_Invoices_To_Update</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Amended_Charges_Indicator__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Amended_Charges_Indicator__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Uncheck_Ready_For_Invoicing_Update</name>
        <label>Uncheck Ready For Invoicing Update</label>
        <locationX>275</locationX>
        <locationY>10343</locationY>
        <inputReference>lstSLIsToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Invoice_Line_Item_Records</name>
        <label>Update Invoice Line Item Records</label>
        <locationX>275</locationX>
        <locationY>8831</locationY>
        <connector>
            <targetReference>Uncheck_Ready_For_Invoicing</targetReference>
        </connector>
        <inputReference>InvLineItemsToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Reciprocal_Invoices</name>
        <label>Update Reciprocal Invoices</label>
        <locationX>143</locationX>
        <locationY>9995</locationY>
        <connector>
            <targetReference>Have_SLIs_To_Update</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Have_SLIs_To_Update</targetReference>
        </faultConnector>
        <inputReference>RecInvcsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_NE_Org_And_Created_Date_Before_12_26_2023</targetReference>
        </connector>
        <filterLogic>1 AND ((2 AND 3) OR (4 AND 5))</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cleared</stringValue>
            </value>
        </filters>
        <filters>
            <field>Number_of_Items_to_Invoice__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Eligible_For_Payment__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Recalculate_Price__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Recalculate_Price__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>countInvLineItemsToInsert</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>countInvLineItemToUpdate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>currentItem_Existing_Cost</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Existing_Cost_2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Get_Matching_Inv_Line_Item</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>ExistingCost</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>existingInvLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>ExistingQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ExistingTax</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>finalStatement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Statement__c</objectType>
    </variables>
    <variables>
        <name>hasRecInvcsToUpdate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>iliList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>InvLineItemsToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>InvLineItemsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>InvoiceType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isAdjustment</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isNewInvoice</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isNewStatement</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isReciprocal</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>loopCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>lstSLIIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lstSLIsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSL_Service_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>matchingInvLineItemsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>newInvoiceLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>newStatement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Statement__c</objectType>
    </variables>
    <variables>
        <name>RecInvcsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice__c</objectType>
    </variables>
    <variables>
        <name>reciprocalReadySync</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>statementEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>statementEndDateMonthly</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stmtList1</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Statement__c</objectType>
    </variables>
    <variables>
        <name>theInvoice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice__c</objectType>
    </variables>
    <variables>
        <name>v_clearedStatements</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Statement__c</objectType>
    </variables>
    <variables>
        <name>varSLIsToUpdateCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
