unpackaged/main/default/flows/Extend_Work_Time.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Work_Time_To_Delta</name>
        <label>Assign Work Time To Delta</label>
        <locationX>473</locationX>
        <locationY>69</locationY>
        <assignmentItems>
            <assignToReference>BreakdownSA.Schedule_Delta__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Extend_Work_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BreakdownSA.Extend_Work_Time_Counter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExtendWorkTimeIncrement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Service_Appointment_Delta</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>ExtendWorkTimeIncrement</name>
        <dataType>Number</dataType>
        <expression>{!BreakdownSA.Extend_Work_Time_Counter__c}+1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Extend Work Time {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Extend Work Time</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Get_Service_Appointment</name>
        <label>Get Service Appointment</label>
        <locationX>173</locationX>
        <locationY>64</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Extend_Work_Time_Duration</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>BreakdownSA</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Schedule_Delta__c</queriedFields>
        <queriedFields>Extend_Work_Time_Counter__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Service_Appointment_Delta</name>
        <label>Update Service Appointment Delta</label>
        <locationX>632</locationX>
        <locationY>69</locationY>
        <inputReference>BreakdownSA</inputReference>
    </recordUpdates>
    <screens>
        <name>Extend_Work_Time_Duration</name>
        <label>Extend Work Time Duration</label>
        <locationX>321</locationX>
        <locationY>64</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Work_Time_To_Delta</targetReference>
        </connector>
        <fields>
            <name>Extend_Work_Time</name>
            <dataType>Number</dataType>
            <fieldText>Extend Work Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Service_Appointment</startElementReference>
    <status>Active</status>
    <variables>
        <name>BreakdownSA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
