unpackaged/main/default/flows/FSL_SA_Canceled_Notification_to_Tech.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Notification_To_SA_s_Resource</name>
        <label>Send Notification To SA&#39;s Resource</label>
        <locationX>50</locationX>
        <locationY>708</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>notifcationId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>ResourceList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>notificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AssignResource</name>
        <label>AssignResource</label>
        <locationX>50</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>ResourceList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Service_Resource__r.RelatedRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification_To_SA_s_Resource</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Assigned_Resource_Active</name>
        <label>Is Assigned Resource Active?</label>
        <locationX>182</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>Inactive Resource</defaultConnectorLabel>
        <rules>
            <name>Active_Resource</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service_Resource__r.RelatedRecord.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignResource</targetReference>
            </connector>
            <label>Active Resource</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Logged_in_User_SAs_Owner</name>
        <label>Is Logged in User SAs Owner?</label>
        <locationX>380</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Same User</defaultConnectorLabel>
        <rules>
            <name>Different_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ResourceId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Notification_Id</targetReference>
            </connector>
            <label>Different User</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>notificationBody</name>
        <dataType>String</dataType>
        <expression>&quot;The Service Appointment &quot;+ {!$Record.AppointmentNumber}+&quot; has been Canceled by &quot;+{!$Record.LastModifiedBy.FirstName}+&quot; &quot;+{!$Record.LastModifiedBy.LastName} + &quot;.&quot;</expression>
    </formulas>
    <formulas>
        <name>NotificationTitle</name>
        <dataType>String</dataType>
        <expression>&quot;#&quot;+{!$Record.AppointmentNumber}+&quot; Canceled&quot;</expression>
    </formulas>
    <formulas>
        <name>ResourceId</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.Service_Resource__r.RelatedRecord.Id},15)</expression>
    </formulas>
    <interviewLabel>FSL SA Canceled Notification to Tech {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSL SA Canceled Notification to Tech</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Notification_Id</name>
        <label>Get Notification Id</label>
        <locationX>182</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Assigned_Resource_Active</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CustomNotifTypeName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New Canceled Call</stringValue>
            </value>
        </filters>
        <object>CustomNotificationType</object>
        <outputAssignments>
            <assignToReference>notifcationId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>1673</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Logged_in_User_SAs_Owner</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>((1 AND (4 OR 5) ) OR 6 ) AND 2 AND 3</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cleared</stringValue>
            </value>
        </filters>
        <filters>
            <field>Service_Resource__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Breakdown</stringValue>
            </value>
        </filters>
        <filters>
            <field>Resolution_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>X001</stringValue>
            </value>
        </filters>
        <filters>
            <field>Resolution_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>X002</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>X1_Minute_after_SA_Dispatched</name>
            <label>1 Minute after SA Dispatched</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X2_Minute_after_SA_Dispatched</name>
            <label>2 Minute after SA Dispatched</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X3_Minute_after_SA_Dispatched</name>
            <label>3 Minute after SA Dispatched</label>
            <offsetNumber>3</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X4_Minute_after_SA_Dispatched</name>
            <label>4 Minute after SA Dispatched</label>
            <offsetNumber>4</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X5_Minute_after_SA_Dispatched</name>
            <label>5 Minute after SA Dispatched</label>
            <offsetNumber>5</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X6_Minute_after_SA_Dispatched</name>
            <label>6 Minute after SA Dispatched</label>
            <offsetNumber>6</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X7_Minute_after_SA_Dispatched</name>
            <label>7 Minute after SA Dispatched</label>
            <offsetNumber>7</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X8_Minute_after_SA_Dispatched</name>
            <label>8 Minute after SA Dispatched</label>
            <offsetNumber>8</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X9_Minute_after_SA_Dispatched</name>
            <label>9 Minute after SA Dispatched</label>
            <offsetNumber>9</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X10_Minute_after_SA_Dispatched</name>
            <label>10 Minute after SA Dispatched</label>
            <offsetNumber>10</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AssignedResourceStatus</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>notifcationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResourceList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
