unpackaged/main/default/flows/FSL_Auto_Close_SLA_Violation_Cases.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Case_Records_to_Update</name>
        <label>Add Case Records to Update</label>
        <locationX>270</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>CaseRecordstoUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_to_Check_Case_Owner</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_to_Check_Case_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Case_Record_to_Auto_Close</name>
        <label>Assign Values to Case Record to Auto Close</label>
        <locationX>270</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>Loop_to_Check_Case_Owner.Case_Resolution__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Violation Case Auto Close</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_to_Check_Case_Owner.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetQueueName.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_to_Check_Case_Owner.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Case_Records_to_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CurrentWOStatus</name>
        <label>CurrentWOStatus</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>CurrentStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetCase</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Case_Owner_Queue_or_Not</name>
        <label>Check Case Owner Queue or Not?</label>
        <locationX>402</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>Loop_to_Check_Case_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Owner_is_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_to_Check_Case_Owner.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values_to_Case_Record_to_Auto_Close</targetReference>
            </connector>
            <label>Case Owner is Queue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_any_Case_record_to_Update_or_Not</name>
        <label>Check If any Case record to Update or Not</label>
        <locationX>182</locationX>
        <locationY>1487</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecordstoUpdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCaseRecord_0</targetReference>
            </connector>
            <label>Update Records</label>
        </rules>
    </decisions>
    <description>To Close the violation cases when the violation lifted from the WO</description>
    <formulas>
        <name>violationString</name>
        <dataType>String</dataType>
        <expression>{!CurrentStatus}+&quot; Violation&quot;</expression>
    </formulas>
    <interviewLabel>FSL Auto Close SLA Violation Cases {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSL Auto Close SLA Violation Cases</label>
    <loops>
        <name>Loop_to_Check_Case_Owner</name>
        <label>Loop to Check Case Owner</label>
        <locationX>182</locationX>
        <locationY>815</locationY>
        <collectionReference>GetCase</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Case_Owner_Queue_or_Not</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_If_any_Case_record_to_Update_or_Not</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetCase</name>
        <label>GetCase</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_to_Check_Case_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FSL_Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>FSL_In_Jeopardy_Reason__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Violation</stringValue>
            </value>
        </filters>
        <filters>
            <field>FSL_In_Jeopardy_Reason__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>violationString</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetRecordType.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetQueueName</name>
        <label>GetQueueName</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed_Cases</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordType</name>
        <label>GetRecordType</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CurrentWOStatus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Violation_Resolution</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCaseRecord_0</name>
        <label>UpdateCaseRecord</label>
        <locationX>50</locationX>
        <locationY>1607</locationY>
        <inputReference>CaseRecordstoUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetQueueName</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CaseRecordstoUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CurrentStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PTA_ViolationsQueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Spotted_ViolationsQueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Violation_HandlerQueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
