unpackaged/main/default/flows/FSL_Membership_Level_Change_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Copy_1_of_SelectedMembership</name>
        <label>SelectedMembershipPlusRV</label>
        <locationX>842</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>SelectedMembershipLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PlusRVSelectedVal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>validateMembershipLevelChangeReason</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_SelectedMembership</name>
        <label>Copy 2 of SelectedMembership</label>
        <locationX>1370</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>SelectedMembershipLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClassicNon004SelectedVal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>validateMembershipLevelChangeReason</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PlusSelected</name>
        <label>PlusSelected</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>SelectedMembershipLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PlusSelectedVal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>validateMembershipLevelChangeReason</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SelectedMembership</name>
        <label>SelectedMembership</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>SelectedMembershipLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClassicForClub004SelectedVal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>validateMembershipLevelChangeReason</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SelectedMembershipForClassicRV</name>
        <label>SelectedMembershipForClassicRV</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>SelectedMembershipLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClassicRVSelectedVal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>validateMembershipLevelChangeReason</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SelectedMembershipForPremier</name>
        <label>SelectedMembershipForPremier</label>
        <locationX>1106</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>SelectedMembershipLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PremierSelectedVal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>validateMembershipLevelChangeReason</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AccountMembershipOption1</name>
        <choiceText>{!AccountMembership}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>AccountMembership</elementReference>
        </value>
    </choices>
    <choices>
        <name>ClassicRVOption</name>
        <choiceText>Classic RV</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Classic RV</stringValue>
        </value>
    </choices>
    <choices>
        <name>PlusOption</name>
        <choiceText>Plus</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Plus</stringValue>
        </value>
    </choices>
    <choices>
        <name>PlusRV</name>
        <choiceText>Plus RV</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Plus RV</stringValue>
        </value>
    </choices>
    <choices>
        <name>Premier</name>
        <choiceText>Premier</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Premier</stringValue>
        </value>
    </choices>
    <choices>
        <name>PremierRV</name>
        <choiceText>Premier RV</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Premier RV</stringValue>
        </value>
    </choices>
    <decisions>
        <name>PickOptions</name>
        <label>PickOptions</label>
        <locationX>974</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>validateMembershipLevelChangeReason</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ClassicOptionForClub004</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Case_Membership_Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Classic</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Club_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>004</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ClassicForClub004</targetReference>
            </connector>
            <label>ClassicOptionForClub004</label>
        </rules>
        <rules>
            <name>ClassicRVOption1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Case_Membership_Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Classic RV</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ClassicRVOpt</targetReference>
            </connector>
            <label>ClassicRVOption1</label>
        </rules>
        <rules>
            <name>PlusOption1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Case_Membership_Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Plus</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PlusOptionScreen</targetReference>
            </connector>
            <label>PlusOption1</label>
        </rules>
        <rules>
            <name>PlusRVOption</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Case_Membership_Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Plus RV</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PlusRVOptionScreen</targetReference>
            </connector>
            <label>PlusRVOption</label>
        </rules>
        <rules>
            <name>PremierOption</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Case_Membership_Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Premier</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PremierOptionScreen</targetReference>
            </connector>
            <label>PremierOption</label>
        </rules>
        <rules>
            <name>ClassicOptionforNon004Club</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Case_Membership_Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Classic</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Club_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>004</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ClassicNon004ClubSelctedVal</targetReference>
            </connector>
            <label>ClassicOptionforNon004Club</label>
        </rules>
        <rules>
            <name>Premier_RV</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Case_Membership_Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Premier RV</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warning_Message</targetReference>
            </connector>
            <label>Premier RV</label>
        </rules>
    </decisions>
    <decisions>
        <description>validation to make the Membership Level Change Reason Required.</description>
        <name>validateMembershipLevelChangeReason</name>
        <label>validateMembershipLevelChangeReason</label>
        <locationX>974</locationX>
        <locationY>854</locationY>
        <defaultConnector>
            <targetReference>UpdCase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ReasonDoesnotExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Membership_Level_Change_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ReasonvalidationErrorMessage</targetReference>
            </connector>
            <label>ReasonDoesnotExists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>FSL Membership Level Change Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSL Membership Level Change Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateFeedItem</name>
        <label>CreateFeedItem</label>
        <locationX>1106</locationX>
        <locationY>1094</locationY>
        <inputAssignments>
            <field>Body</field>
            <value>
                <elementReference>FeedItemBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visibility</field>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </inputAssignments>
        <object>FeedItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetAccount</name>
        <label>GetAccount</label>
        <locationX>974</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PickOptions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOlderVersionofCase.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AccountMembership</assignToReference>
            <field>AAA_Membership_Level__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetOlderVersionofCase</name>
        <label>GetOlderVersionofCase</label>
        <locationX>974</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Case_Membership_Level__c</queriedFields>
        <queriedFields>Club_Code__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdCase</name>
        <label>UpdCase</label>
        <locationX>1106</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>CreateFeedItem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Membership_Level__c</field>
            <value>
                <elementReference>SelectedMembershipLevel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Level_Change_Reason__c</field>
            <value>
                <elementReference>recordId.Membership_Level_Change_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>ClassicForClub004</name>
        <label>ClassicForClub004</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SelectedMembership</targetReference>
        </connector>
        <fields>
            <name>ClassicForClub004SelectedVal</name>
            <choiceReferences>ClassicRVOption</choiceReferences>
            <choiceReferences>PlusOption</choiceReferences>
            <choiceReferences>PlusRV</choiceReferences>
            <choiceReferences>Premier</choiceReferences>
            <choiceReferences>PremierRV</choiceReferences>
            <choiceReferences>AccountMembershipOption1</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose Membership</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>recordId.Membership_Level_Change_Reason__c</objectFieldReference>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ClassicNon004ClubSelctedVal</name>
        <label>ClassicNon004</label>
        <locationX>1370</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_2_of_SelectedMembership</targetReference>
        </connector>
        <fields>
            <name>ClassicNon004SelectedVal</name>
            <choiceReferences>PlusOption</choiceReferences>
            <choiceReferences>PlusRV</choiceReferences>
            <choiceReferences>Premier</choiceReferences>
            <choiceReferences>PremierRV</choiceReferences>
            <choiceReferences>AccountMembershipOption1</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose Membership</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>recordId.Membership_Level_Change_Reason__c</objectFieldReference>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ClassicRVOpt</name>
        <label>ClassicRVOpt</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SelectedMembershipForClassicRV</targetReference>
        </connector>
        <fields>
            <name>ClassicRVSelectedVal</name>
            <choiceReferences>PlusOption</choiceReferences>
            <choiceReferences>PlusRV</choiceReferences>
            <choiceReferences>Premier</choiceReferences>
            <choiceReferences>PremierRV</choiceReferences>
            <choiceReferences>AccountMembershipOption1</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose Membership</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>recordId.Membership_Level_Change_Reason__c</objectFieldReference>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PlusOptionScreen</name>
        <label>PlusOption</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>PlusSelected</targetReference>
        </connector>
        <fields>
            <name>PlusSelectedVal</name>
            <choiceReferences>PlusRV</choiceReferences>
            <choiceReferences>Premier</choiceReferences>
            <choiceReferences>PremierRV</choiceReferences>
            <choiceReferences>AccountMembershipOption1</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose Membership</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>recordId.Membership_Level_Change_Reason__c</objectFieldReference>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PlusRVOptionScreen</name>
        <label>PlusRVOption</label>
        <locationX>842</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_SelectedMembership</targetReference>
        </connector>
        <fields>
            <name>PlusRVSelectedVal</name>
            <choiceReferences>Premier</choiceReferences>
            <choiceReferences>PremierRV</choiceReferences>
            <choiceReferences>AccountMembershipOption1</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose Membership</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>recordId.Membership_Level_Change_Reason__c</objectFieldReference>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PremierOptionScreen</name>
        <label>PremierOption</label>
        <locationX>1106</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SelectedMembershipForPremier</targetReference>
        </connector>
        <fields>
            <name>PremierSelectedVal</name>
            <choiceReferences>PremierRV</choiceReferences>
            <choiceReferences>AccountMembershipOption1</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose Membership</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>recordId.Membership_Level_Change_Reason__c</objectFieldReference>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ReasonvalidationErrorMessage</name>
        <label>ReasonvalidationErrorMessage</label>
        <locationX>842</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ReasonvalidationErrorMsg</name>
            <fieldText>&lt;p&gt;Please provide the Reason for the Membership Level Change&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Warning_Message</name>
        <label>Warning Message</label>
        <locationX>1634</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>WarningMsg</name>
            <fieldText>&lt;p&gt;Member is in Highest Membership Level.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetOlderVersionofCase</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AccountMembership</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FeedItemBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Membership Level Changed from {!GetOlderVersionofCase.Case_Membership_Level__c} to: {!SelectedMembershipLevel} with a Reason :  {!recordId.Membership_Level_Change_Reason__c}</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>SelectedMembershipLevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
