unpackaged/main/default/flows/FSL_CallIntake_Reconcile_Entitlements_upon_WO_Clear.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Assginment</name>
        <label>Add Assginment</label>
        <locationX>886</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>varL_ServiceContractList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_ServiceContract</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Restore_long_tow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Assignments</name>
        <label>Add Assignments</label>
        <locationX>1194</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>varL_ServiceContractList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_ServiceContract</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Source_Club</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Member_Contract</name>
        <label>Add Member Contract</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>varL_ServiceContractList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_ServiceContract</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Source_Club</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_To_List_ACA</name>
        <label>Add To List</label>
        <locationX>50</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>varL_ServiceContractList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_parentContract</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Service_Contract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_To_List_NE</name>
        <label>Add To List</label>
        <locationX>314</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>varL_ServiceContractList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_parentContract</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Service_Contract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Add_To_List</name>
        <label>Copy 1 of Add To List</label>
        <locationX>754</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>varL_ServiceContractList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_parentContract</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Service_Contract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Set_Long_Tow_Consumed</name>
        <label>Set Long Tow Not Consumed</label>
        <locationX>754</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>varR_parentContract.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_ServiceContract.ParentServiceContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_parentContract.AAA_Long_Tow_Consumed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Add_To_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Decremental_Assignments</name>
        <label>Decremental Assignments</label>
        <locationX>886</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varR_ServiceContract.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_ServiceContract.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_ServiceContract.AAA_Total_of_Calls_Consumed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_ServiceContract.AAA_Total_of_Calls_Consumed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_ServiceContract.AAA_Total_of_Calls_Consumed__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Assginment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Increment the Calls Consumed on the associated Service Contract</description>
        <name>Increment_Calls_Consumed</name>
        <label>Increment Calls Consumed</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varR_ServiceContract.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_ServiceContract.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_ServiceContract.AAA_Total_of_Calls_Consumed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_ServiceContract.AAA_Total_of_Calls_Consumed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_ServiceContract.AAA_Total_of_Calls_Consumed__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_HomeLockout_Consumed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IncrementalAssignments</name>
        <label>Incremental Assignments</label>
        <locationX>1194</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varR_ServiceContract.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_ServiceContract.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_ServiceContract.AAA_Total_of_Calls_Consumed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_ServiceContract.AAA_Total_of_Calls_Consumed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_ServiceContract.AAA_Total_of_Calls_Consumed__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Assignments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_HomeLockOut_on_Member</name>
        <label>Set HomeLockOut on Member</label>
        <locationX>182</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>varR_ServiceContract.AAA_Home_Lockout_Consumed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Member_Contract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Long_Tow_Consumed</name>
        <label>Set Long Tow Consumed</label>
        <locationX>314</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>varR_parentContract.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_ServiceContract.ParentServiceContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_parentContract.AAA_Long_Tow_Consumed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_List_NE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Long_Tow_On_Household</name>
        <label>Set Long Tow On Household</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>varR_parentContract.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_ServiceContract.ParentServiceContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_parentContract.AAA_Long_Tow_Consumed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_List_ACA</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>check if Flow needs to be bypassed</description>
        <name>ByPass_Flow</name>
        <label>ByPass Flow</label>
        <locationX>1700</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Enable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.FSL_DisableFlow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ServiceContract</targetReference>
            </connector>
            <label>Enable</label>
        </rules>
    </decisions>
    <decisions>
        <description>check and set if Homelockout is used</description>
        <name>Check_HomeLockout_Consumed</name>
        <label>Check HomeLockout Consumed</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Add_Member_Contract</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Consumed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Use_Home_Lock_Entitlement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_HomeLockOut_on_Member</targetReference>
            </connector>
            <label>Consumed</label>
        </rules>
    </decisions>
    <decisions>
        <description>check if SC record exists in the system</description>
        <name>Check_Record_Exists</name>
        <label>Check Record Exists</label>
        <locationX>1150</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SC_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ServiceContract</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_ServiceContract.AAA_Total_of_Calls_Consumed__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_ServiceContract.AAA_Total_of_Calls_Allowed__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_Calls_Consumed</targetReference>
            </connector>
            <label>SC Exists</label>
        </rules>
        <rules>
            <name>Restore</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_ServiceContract</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AAA_Charge_Entitlement__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AAA_Charge_Entitlement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decremental_Assignments</targetReference>
            </connector>
            <label>Restore</label>
        </rules>
        <rules>
            <name>Incremental</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_ServiceContract</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AAA_Charge_Entitlement__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AAA_Charge_Entitlement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_ServiceContract.AAA_Total_of_Calls_Consumed__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_ServiceContract.AAA_Total_of_Calls_Allowed__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IncrementalAssignments</targetReference>
            </connector>
            <label>Incremental</label>
        </rules>
        <rules>
            <name>Restore_Long_Tow_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Use_your_long_tow_entitlement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Use_your_long_tow_entitlement__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AAA_Charge_Entitlement__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_ServiceContract</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Copy_1_of_Set_Long_Tow_Consumed</targetReference>
            </connector>
            <label>Restore Long Tow Only</label>
        </rules>
        <rules>
            <name>Consume_Long_Tow_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Use_your_long_tow_entitlement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Use_your_long_tow_entitlement__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AAA_Charge_Entitlement__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AAA_Charge_Entitlement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_ServiceContract</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Set_Long_Tow_Consumed</targetReference>
            </connector>
            <label>Consume Long Tow Only</label>
        </rules>
    </decisions>
    <decisions>
        <name>Restore_long_tow</name>
        <label>Restore long tow?</label>
        <locationX>886</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Update_Service_Contract</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_restore_long_tow</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Use_your_long_tow_entitlement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Use_your_long_tow_entitlement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Set_Long_Tow_Consumed</targetReference>
            </connector>
            <label>yes restore long tow</label>
        </rules>
    </decisions>
    <decisions>
        <name>Source_Club</name>
        <label>Source Club</label>
        <locationX>314</locationX>
        <locationY>1163</locationY>
        <defaultConnector>
            <targetReference>Update_Service_Contract</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ACA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Label.FSL_SourceClubCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>212</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Use_your_long_tow_entitlement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_ServiceContract.ParentServiceContractId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Long_Tow_On_Household</targetReference>
            </connector>
            <label>ACA</label>
        </rules>
        <rules>
            <name>NE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Label.FSL_SourceClubCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>240</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Use_your_long_tow_entitlement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Long_Tow_Consumed</targetReference>
            </connector>
            <label>NE</label>
        </rules>
    </decisions>
    <description>Increment Calls remaining on the associated Service Contract when a WorkOrder is cleared
2025-03-26: update entry conditions
2025-05-13: update entry conditions for charging entitlements on addl codes (SSFI-1092)
2025-06-04: update entry conditions on addl codes
2025-06-30: check long tow entitlements on all paths</description>
    <environments>Default</environments>
    <interviewLabel>FSL - CallIntake - Reconcile Entitlements upon WO Clear {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CallIntake - Reconcile Entitlements upon WO Clear</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>retrieve the associated service contract</description>
        <name>Get_ServiceContract</name>
        <label>Get ServiceContract Data</label>
        <locationX>1150</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Record_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceContractId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceContract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Service_Contract</name>
        <label>Update Service Contract</label>
        <locationX>1150</locationX>
        <locationY>1655</locationY>
        <inputReference>varL_ServiceContractList</inputReference>
    </recordUpdates>
    <start>
        <locationX>1574</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ByPass_Flow</targetReference>
        </connector>
        <filterLogic>(1 AND 2 AND 3 AND 4 AND 5 AND 6) OR (2 AND 7 AND 8 ) OR (2 AND 7 AND 9)</filterLogic>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cleared</stringValue>
            </value>
        </filters>
        <filters>
            <field>AAA_Charge_Entitlement__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Resolution_Code__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>X001</stringValue>
            </value>
        </filters>
        <filters>
            <field>Resolution_Code__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>R007</stringValue>
            </value>
        </filters>
        <filters>
            <field>Canceled_Timestamp__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AAA_Charge_Entitlement__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Use_your_long_tow_entitlement__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varL_ServiceContractList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceContract</objectType>
    </variables>
    <variables>
        <name>varR_parentContract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceContract</objectType>
    </variables>
    <variables>
        <name>varR_ServiceContract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceContract</objectType>
    </variables>
</Flow>
