unpackaged/main/default/flows/FSL_Mobile_Decline_Work.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Audit_to_Chatter</name>
        <label>Audit to Chatter</label>
        <locationX>380</locationX>
        <locationY>1274</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Confirmation_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ChatterTemplateFIX</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>RetrievedWorkOrder</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
    </actionCalls>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Values_from_WO</name>
        <label>Values from WO</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>RetrievedWorkOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RetrievedServiceAppointment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>v_ServiceAppt.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RetrievedTowAppointment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>v_ServiceAppt.FSL__Related_Service__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RetrievedServiceTerritory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>v_ServiceAppt.ServiceTerritoryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RetrievedServiceResourceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>v_ServiceAppt.Service_Resource__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Work_Order</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Decline</name>
        <choiceText>Decline</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Decline</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reroute</name>
        <choiceText>Reroute</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reroute</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Does_Resource_Preference_Already_Exist</name>
        <label>Does Resource Preference Already Exist?</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Create_Resource_Preference</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No RP</defaultConnectorLabel>
        <rules>
            <name>RP_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Resource_Preference</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Existing_Resource_Preference</targetReference>
            </connector>
            <label>RP Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Service_Resource_Exists</name>
        <label>Does Service Resource Exist?</label>
        <locationX>380</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Audit_to_Chatter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Service Resource Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>Service_Resource_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RetrievedServiceResourceId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_Resource_Preference_Already_Exist</targetReference>
            </connector>
            <label>Service Resource Exists</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>SelectDeclineReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Decline_Reason__c</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>FSL Mobile - Decline Work {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSL Mobile - Decline Work</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_Resource_Preference</name>
        <label>Create Resource Preference</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Audit_to_Chatter</targetReference>
        </connector>
        <inputAssignments>
            <field>PreferenceType</field>
            <value>
                <stringValue>Excluded</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedRecordId</field>
            <value>
                <elementReference>v_WorkOrder.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceResourceId</field>
            <value>
                <elementReference>RetrievedServiceResourceId</elementReference>
            </value>
        </inputAssignments>
        <object>ResourcePreference</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Resource_Preference</name>
        <label>Get Resource Preference</label>
        <locationX>380</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Service_Resource_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>v_WorkOrder.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ServiceResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RetrievedServiceResourceId</elementReference>
            </value>
        </filters>
        <object>ResourcePreference</object>
        <outputReference>v_ResourcePreference</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_SA_from_Work_Order</name>
        <label>Get SA from Work Order</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Values_from_WO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Breakdown Appointment</stringValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>v_ServiceAppt</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FSL__Related_Service__c</queriedFields>
        <queriedFields>ServiceTerritoryId</queriedFields>
        <queriedFields>Service_Resource__c</queriedFields>
        <queriedFields>Service_Territory_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order</name>
        <label>Get Work Order - TO FIX</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decline_Work</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RetrievedWorkOrder</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>v_WorkOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>WorkOrderNumber</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Existing_Resource_Preference</name>
        <label>Update Existing Resource Preference</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Audit_to_Chatter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>v_ResourcePreference.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PreferenceType</field>
            <value>
                <stringValue>Excluded</stringValue>
            </value>
        </inputAssignments>
        <object>ResourcePreference</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Service_Appointment</name>
        <label>Update Service Appointment</label>
        <locationX>380</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Get_Resource_Preference</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RetrievedServiceAppointment</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Decline_Reason__c</field>
            <value>
                <stringValue>{!SelectDeclineReason}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Declined</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>380</locationX>
        <locationY>1382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CallDeclined</name>
            <fieldText>&lt;p&gt;You have declined this call. Notification has been sent to AAA Dispatch.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;The Service Appointment will remain in Declined status until it has been rerouted.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation_0</name>
        <label>Confirmation</label>
        <locationX>754</locationX>
        <locationY>1382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CallDeclined_0</name>
            <fieldText>&lt;p&gt;You have declined this call. Notification has been sent to AAA Dispatch.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;The Service Appointment will remain in Declined status until it has been rerouted.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Decline_Work</name>
        <label>Decline Work</label>
        <locationX>380</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Service_Appointment</targetReference>
        </connector>
        <fields>
            <name>SelectedReason</name>
            <choiceReferences>SelectDeclineReason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select a reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_SA_from_Work_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CaseSubjectText</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>WO# {!v_WorkOrder.WorkOrderNumber} has been declined</text>
    </textTemplates>
    <textTemplates>
        <name>ChatterTemplateFIX</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$User.FirstName} {!$User.LastName} from {!v_ServiceAppt.Service_Territory_Name__c} has declined this Work Order. A Case has been created!</text>
    </textTemplates>
    <textTemplates>
        <name>FaultEmailTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Decline Reason: {!SelectDeclineReason}&lt;/p&gt;&lt;p&gt;Decline Reason Picklist: {!SelectedReason}&lt;/p&gt;&lt;p&gt;Launching Record: {!Id}&lt;/p&gt;&lt;p&gt;Work Order: {!RetrievedWorkOrder}&lt;/p&gt;&lt;p&gt;Breakdown: {!RetrievedServiceAppointment}&lt;/p&gt;&lt;p&gt;Tow Appt: {!RetrievedTowAppointment}&lt;/p&gt;&lt;p&gt;Queue: {!RetrievedQueueId}&lt;/p&gt;&lt;p&gt;Record Type: {!RetrievedRecordType}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CollectionServiceAppointments</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isCommunityUser</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>RetrievedQueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RetrievedRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RetrievedServiceAppointment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RetrievedServiceResourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RetrievedServiceTerritory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RetrievedTowAppointment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RetrievedWorkOrder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_ResourcePreference</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ResourcePreference</objectType>
    </variables>
    <variables>
        <name>v_ServiceAppt</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>v_WorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
