unpackaged/main/default/flows/FSL_CAR_Update_Tow_Address.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Tow_Appointment</name>
        <label>Assign Tow Appointment</label>
        <locationX>810</locationX>
        <locationY>457</locationY>
        <assignmentItems>
            <assignToReference>TowSA.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TowSA.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TowSA.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TowSA.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newPostal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TowSA.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newCountry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Tow_SA</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_Tow_SA</name>
        <label>Found Tow SA</label>
        <locationX>329</locationX>
        <locationY>473</locationY>
        <defaultConnector>
            <targetReference>No_Tow_Appointments_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_found_Tow_SA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Tow_Appointment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Current_Address</targetReference>
            </connector>
            <label>Yes, found Tow SA</label>
        </rules>
    </decisions>
    <interviewLabel>Update Tow Address {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Update Tow Address</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Service_Appt_ID</name>
        <label>Get Service Appt ID</label>
        <locationX>185</locationX>
        <locationY>180</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Tow_Appointment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>breakdownSAid</assignToReference>
            <field>FSL_Service_Appointment__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Tow_Appointment</name>
        <label>Get Tow Appointment</label>
        <locationX>184</locationX>
        <locationY>470</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Tow_SA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FSL__Related_Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>breakdownSAid</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>TowSA</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>City</queriedFields>
        <queriedFields>State</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>ParentRecordId</queriedFields>
        <queriedFields>Work_Order__c</queriedFields>
        <queriedFields>Address</queriedFields>
        <queriedFields>PostalCode</queriedFields>
        <queriedFields>Country</queriedFields>
        <queriedFields>Street</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Tow_SA</name>
        <label>Update Tow SA</label>
        <locationX>967</locationX>
        <locationY>452</locationY>
        <connector>
            <targetReference>Click_Finish</targetReference>
        </connector>
        <inputReference>TowSA</inputReference>
    </recordUpdates>
    <screens>
        <name>Click_Finish</name>
        <label>Click Finish</label>
        <locationX>1163</locationX>
        <locationY>461</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ClickFinishMessage</name>
            <fieldText>&lt;p&gt;Click FINISH to update the tow appointment to: &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!newStreet}&lt;/p&gt;&lt;p&gt;{!newCity}. {!newState} {!newPostal}&lt;/p&gt;&lt;p&gt;{!newCountry}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Current_Address</name>
        <label>Current Address</label>
        <locationX>530</locationX>
        <locationY>477</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Tow_Address</targetReference>
        </connector>
        <fields>
            <name>TowAddressDisplay</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Tow Address:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!currentAddressTemplate}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click NEXT to update Tow Address.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Tow_Appointments_Found</name>
        <label>No Tow Appointments Found</label>
        <locationX>328</locationX>
        <locationY>664</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>noTowError</name>
            <fieldText>&lt;p&gt;No Tow appointments were found for this work order.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Tow_Address</name>
        <label>Update Tow Address</label>
        <locationX>671</locationX>
        <locationY>462</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Tow_Appointment</targetReference>
        </connector>
        <fields>
            <name>AddressInput</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>TowSA.City</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputCountryOptions</name>
                <value>
                    <stringValue>United States</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <stringValue>United States</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>TowSA.PostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputProvinceOptions</name>
                <value>
                    <stringValue>NC, SC</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>TowSA.State</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>TowSA.Street</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>newCity</assignToReference>
                <name>city</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>newCountry</assignToReference>
                <name>country</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>newPostal</assignToReference>
                <name>postalCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>newState</assignToReference>
                <name>province</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>newStreet</assignToReference>
                <name>street</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Service_Appt_ID</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>currentAddressTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!TowSA.Street}&lt;/p&gt;&lt;p&gt;{!TowSA.City}, &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!TowSA.State} {!TowSA.PostalCode}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!TowSA.Country}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>NEWaddresstemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!newStreet}&lt;/p&gt;&lt;p&gt;{!newCity}. {!newState} {!newPostal}&lt;/p&gt;&lt;p&gt;{!newCountry}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>breakdownSAid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newPostal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>towApptRecTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TowSA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
</Flow>
