unpackaged/main/default/flows/Get_Provided_Services.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Additional_SLI_TO_Add</name>
        <label>Assign Additional SLI TO Add</label>
        <locationX>1049</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>AddOneMoreSLI</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Additional_Service_Items_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Get_SLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignCost</name>
        <label>AssignCost</label>
        <locationX>191</locationX>
        <locationY>1068</locationY>
        <assignmentItems>
            <assignToReference>sliId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SearchedSLI.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuantityForSLI</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantity_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddOneMoreSLI</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Additional_Service_Items_0_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignedId</name>
        <label>AssignId</label>
        <locationX>840</locationX>
        <locationY>1526</locationY>
        <assignmentItems>
            <assignToReference>sliId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SearchedSLI.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuantityForSLI</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantity_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddOneMoreSLI</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Additional_Service_Items_0_0_0</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Add_More_Line_Item</name>
        <label>Add More Line Item</label>
        <locationX>444</locationX>
        <locationY>1406</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Line_Item_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddOneMoreSLI</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Service_Item</targetReference>
            </connector>
            <label>Line Item Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Add_More_Line_Items</name>
        <label>Add More Line Items</label>
        <locationX>1412</locationX>
        <locationY>1766</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Additional_Line_Items</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>AddOneMoreSLI</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Service_Item</targetReference>
            </connector>
            <label>Selected Additional Line Items</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_SLI_Exist</name>
        <label>Copy 1 of SLI Exist?</label>
        <locationX>1049</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>Add_New_Item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No SLI</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_SLI_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SearchedSLI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignedId</targetReference>
            </connector>
            <label>Copy 1 of SLI Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>SLI_Exist</name>
        <label>SLI Exist?</label>
        <locationX>669</locationX>
        <locationY>806</locationY>
        <defaultConnector>
            <targetReference>Get_product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No SLI</defaultConnectorLabel>
        <rules>
            <name>SLI_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SearchedSLI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Service_Item_0</targetReference>
            </connector>
            <label>SLI Exists</label>
        </rules>
    </decisions>
    <description>Services Completed flow that references Products directly (not Service Contracts) - added validation for cost &gt; 100</description>
    <dynamicChoiceSets>
        <name>FilteredContractLineItems</name>
        <dataType>String</dataType>
        <displayField>Product_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ActiveProduct__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>thisProduct.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>ContractLineItem</object>
        <outputAssignments>
            <assignToReference>Price</assignToReference>
            <field>ListPrice</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Type_Selection</assignToReference>
            <field>Type__c</field>
        </outputAssignments>
        <valueField>Product2Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProvidedServicesChoices</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>$Flow.CurrentRecord</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Pname</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>ProductCode</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Get Provided Services {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Provided Services</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Add_New_Item</name>
        <label>Add New Item</label>
        <locationX>1412</locationX>
        <locationY>1646</locationY>
        <assignRecordIdToReference>NewServiceLineItem.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Add_More_Line_Items</targetReference>
        </connector>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>thisProduct.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unit__c</field>
            <value>
                <elementReference>Quantity_0_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>workOrderID</elementReference>
            </value>
        </inputAssignments>
        <object>FSL_Service_Line_Item__c</object>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_Get_SLI</name>
        <label>Copy 1 of Get SLI</label>
        <locationX>1049</locationX>
        <locationY>1286</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_SLI_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>workOrderID</elementReference>
            </value>
        </filters>
        <object>FSL_Service_Line_Item__c</object>
        <outputReference>SearchedSLI</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Facility_Account_Details</name>
        <label>Get Facility Account Details</label>
        <locationX>669</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Product_details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Territory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>territoryID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>assignedFacility</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_product</name>
        <label>Get product</label>
        <locationX>1049</locationX>
        <locationY>926</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Service_Item_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PId</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>thisProduct</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_detail</name>
        <label>Get Product detail</label>
        <locationX>669</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Pname</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>PId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Pname</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_details</name>
        <label>Get Product details</label>
        <locationX>669</locationX>
        <locationY>325</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Service_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Family</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Trouble Code</stringValue>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>thisProduct</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_SLI</name>
        <label>Get SLI</label>
        <locationX>669</locationX>
        <locationY>686</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SLI_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>workOrderID</elementReference>
            </value>
        </filters>
        <object>FSL_Service_Line_Item__c</object>
        <outputReference>SearchedSLI</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Cost__c</queriedFields>
        <queriedFields>Unit__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_SLI</name>
        <label>Update SLI</label>
        <locationX>278</locationX>
        <locationY>1432</locationY>
        <connector>
            <targetReference>Add_More_Line_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SearchedSLI.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Unit__c</field>
            <value>
                <elementReference>Quantity_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>workOrderID</elementReference>
            </value>
        </inputAssignments>
        <object>FSL_Service_Line_Item__c</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Add_Service_Item</name>
        <label>Select Product</label>
        <locationX>669</locationX>
        <locationY>446</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Product_detail</targetReference>
        </connector>
        <fields>
            <name>Header_SLI</name>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Service_Item</name>
            <choiceReferences>ProvidedServicesChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Service Item</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Add_Service_Item_0</name>
        <label>Update Service Line Item</label>
        <locationX>290</locationX>
        <locationY>926</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignCost</targetReference>
        </connector>
        <fields>
            <name>Header_SLI_0</name>
            <fieldText>&lt;p&gt;Update SLI&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Product</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Pname</elementReference>
            </defaultValue>
            <fieldText>Product</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Quantity_0</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>SearchedSLI.Unit__c</elementReference>
            </defaultValue>
            <fieldText>Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Additional_Service_Items_0_0</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Additional_Service_Items</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Add_Service_Item_0_0</name>
        <label>Add Service Line Item</label>
        <locationX>1049</locationX>
        <locationY>1046</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Additional_SLI_TO_Add</targetReference>
        </connector>
        <fields>
            <name>Header_SLI_0_0</name>
            <fieldText>&lt;p&gt;Add SLI&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Product_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>thisProduct.Name</elementReference>
            </defaultValue>
            <fieldText>Product</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Quantity_0_0</name>
            <dataType>Number</dataType>
            <fieldText>Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Additional_Service_Items_0_0_0</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Additional_Service_Items</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>543</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Facility_Account_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AddOneMoreSLI</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assignedFacility</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>BreakdownAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>Calculated_Cost</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ChoiceProdName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>costForSLI</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ExistingServiceLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSL_Service_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>Header_Text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IteratedLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContractLineItem</objectType>
    </variables>
    <variables>
        <name>NameofProduct</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewServiceLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSL_Service_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>PId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Pname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Price</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ProdId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductName_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>ProvidedLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ContractLineItem</objectType>
    </variables>
    <variables>
        <name>QuantityForSLI</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SearchedSLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSL_Service_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>SelectedProd</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sliId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>territoryID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>thisProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>thisServiceContract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceContract</objectType>
    </variables>
    <variables>
        <name>Toggle</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Type_Selection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>1</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>workOrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
