unpackaged/main/default/flows/Get_SLI_Prices_On_REST_AutoLaunched.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Apply_Clear_Code_Logic</name>
        <label>Apply Clear Code Logic</label>
        <locationX>290</locationX>
        <locationY>566</locationY>
        <actionName>AAAWorkOrderClearCodeLogicInvokable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_ALL_SLIs3</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Apply_Clear_Code_Logic_exception</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sliList</name>
            <value>
                <elementReference>lstServiceLineItems</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>workOrder</name>
            <value>
                <elementReference>workOrder</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AAAWorkOrderClearCodeLogicInvokable</nameSegment>
        <outputParameters>
            <assignToReference>lstServiceLineItems</assignToReference>
            <name>outputList</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>woIsUpdated</assignToReference>
            <name>woIsUpdated</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>workOrder</assignToReference>
            <name>workOrder</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Apply_Tax_Logic</name>
        <label>Apply Tax Logic</label>
        <locationX>554</locationX>
        <locationY>1964</locationY>
        <actionName>AAAFlowInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_ALL_SLIs1</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Apply_Tax_Logic_exception</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowAPIName</name>
            <value>
                <stringValue>Taxation_Autolaunched_Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sliList</name>
            <value>
                <elementReference>lstSLIWithCost</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>wo</name>
            <value>
                <elementReference>workOrder</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AAAFlowInvocable</nameSegment>
        <outputParameters>
            <assignToReference>lstSLIWithTax</assignToReference>
            <name>sliList</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Price_SLIs</name>
        <label>Price SLIs</label>
        <locationX>554</locationX>
        <locationY>1556</locationY>
        <actionName>AAACalcSvcItemCost</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Priced_SLIs</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Price_SLIs_exception</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sliList</name>
            <value>
                <elementReference>lstSLIToPrice</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>wo</name>
            <value>
                <elementReference>workOrder</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AAACalcSvcItemCost</nameSegment>
        <outputParameters>
            <assignToReference>lstAuditLogsToInsert</assignToReference>
            <name>auditList</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>lstSLIToPrice</assignToReference>
            <name>outputList</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Round_Up_Units_NE</name>
        <label>Round Up Units (NE)</label>
        <locationX>1182</locationX>
        <locationY>134</locationY>
        <actionName>AAAFlowInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>WO_Status_Check</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Round_Up_Units_NE_exception</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowAPIName</name>
            <value>
                <stringValue>Round Up Units NE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sliList</name>
            <value>
                <elementReference>lstServiceLineItems</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AAAFlowInvocable</nameSegment>
        <outputParameters>
            <assignToReference>lstServiceLineItems</assignToReference>
            <name>sliList</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_lstSLIToPrice</name>
        <label>Add to lstSLIToPrice</label>
        <locationX>906</locationX>
        <locationY>1172</locationY>
        <assignmentItems>
            <assignToReference>lstSLIToPrice</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_ALL_SLIs3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_ALL_SLIs3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_lstSLIWithCost1</name>
        <label>Add to lstSLIWithCost</label>
        <locationX>642</locationX>
        <locationY>1280</locationY>
        <assignmentItems>
            <assignToReference>lstSLIWithCost</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_ALL_SLIs3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_ALL_SLIs3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_lstSLIWithCost2</name>
        <label>Add to lstSLIWithCost</label>
        <locationX>642</locationX>
        <locationY>1772</locationY>
        <assignmentItems>
            <assignToReference>lstSLIWithCost</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Priced_SLIs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Priced_SLIs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_To_Update_Insert_Loop</name>
        <label>Add To Update / Insert Loop</label>
        <locationX>294</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>lstSLIWithTax</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_ALL_SLIs2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_ALL_SLIs2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_lstSLIWithCost_to_lstSLIWithTax</name>
        <label>Assign lstSLIWithCost to lstSLIWithTax</label>
        <locationX>994</locationX>
        <locationY>2180</locationY>
        <assignmentItems>
            <assignToReference>lstSLIWithTax</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lstSLIWithCost</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Loop_ALL_SLIs1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_To_Insert_List</name>
        <label>Assign To Insert List</label>
        <locationX>666</locationX>
        <locationY>2678</locationY>
        <assignmentItems>
            <assignToReference>lstSLIsToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_ALL_SLIs1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_ALL_SLIs1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_To_Update_List</name>
        <label>Assign To Update List</label>
        <locationX>402</locationX>
        <locationY>2678</locationY>
        <assignmentItems>
            <assignToReference>lstSLIsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_ALL_SLIs1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_ALL_SLIs1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Zero_Cost_And_Tax</name>
        <label>Assign Zero Cost And Tax</label>
        <locationX>162</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Loop_ALL_SLIs2.Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_ALL_SLIs2.Tax__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_ALL_SLIs2.Ready_for_Invoicing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Update_Insert_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Mark_SLI_Ready_for_Invoicing</name>
        <label>Mark SLI Ready for Invoicing</label>
        <locationX>642</locationX>
        <locationY>1172</locationY>
        <assignmentItems>
            <assignToReference>Loop_ALL_SLIs3.Ready_for_Invoicing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_lstSLIWithCost1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Apply_Clear_Code_Logic_Maybe</name>
        <label>Apply Clear Code Logic?</label>
        <locationX>554</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Loop_ALL_SLIs3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Apply</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>callClearCodeLogic</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Apply_Clear_Code_Logic</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Update_Is_Needed</name>
        <label>Check If Update Is Needed</label>
        <locationX>314</locationX>
        <locationY>3170</locationY>
        <defaultConnector>
            <targetReference>Was_WO_Clearing_Code_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>updateCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SLIs_with_Cost</targetReference>
            </connector>
            <label>Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_SLI_Have_Non_Zero_Total</name>
        <label>Does SLI Have Non-Zero Total?</label>
        <locationX>294</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Add_To_Update_Insert_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Has</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_ALL_SLIs2.Total_Price__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Assign_Zero_Cost_And_Tax</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_WO_Clearing_Code_XX</name>
        <label>Is WO Clearing Code &#39;XX&#39;?</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Apply_Clear_Code_Logic_Maybe</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_XX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>workOrder.Clearing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>XX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_ALL_SLIs2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_SLI_Directly_to_Tax</name>
        <label>Send SLI Directly to Tax?</label>
        <locationX>774</locationX>
        <locationY>1064</locationY>
        <defaultConnector>
            <targetReference>Add_to_lstSLIToPrice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Send</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_ALL_SLIs3.Override_Pricing__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_ALL_SLIs3.Cost__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mark_SLI_Ready_for_Invoicing</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SLI_Has_Id</name>
        <label>SLI Has Id?</label>
        <locationX>534</locationX>
        <locationY>2570</locationY>
        <defaultConnector>
            <targetReference>Assign_To_Insert_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_ALL_SLIs1.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_To_Update_List</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_WO_Clearing_Code_Updated</name>
        <label>Was WO Clearing Code Updated?</label>
        <locationX>314</locationX>
        <locationY>3710</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>woIsUpdated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_WO</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>WO_Status_Check</name>
        <label>WO Status Check</label>
        <locationX>1182</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Call_Pricing_Engine</name>
            <conditionLogic>1 AND (2 OR (3 AND 4))</conditionLogic>
            <conditions>
                <leftValueReference>workOrder.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cleared</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>workOrder.Call_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>RAP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>workOrder.Call_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RAP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>workOrder.RAP_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RAP Cleared</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_WO_Clearing_Code_XX</targetReference>
            </connector>
            <label>Call Pricing Engine</label>
        </rules>
    </decisions>
    <description>05/06/2024: v1 PR893288-4925</description>
    <environments>Default</environments>
    <interviewLabel>Get SLI Prices On REST AutoLaunched {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get SLI Prices On REST AutoLaunched</label>
    <loops>
        <name>Loop_ALL_SLIs1</name>
        <label>Loop ALL SLIs 1</label>
        <locationX>314</locationX>
        <locationY>2462</locationY>
        <collectionReference>lstSLIWithTax</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SLI_Has_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Audit_Logs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_ALL_SLIs2</name>
        <label>Loop ALL SLIs 2</label>
        <locationX>74</locationX>
        <locationY>458</locationY>
        <collectionReference>lstServiceLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Does_SLI_Have_Non_Zero_Total</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_ALL_SLIs1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_ALL_SLIs3</name>
        <label>Loop ALL SLIs 3</label>
        <locationX>554</locationX>
        <locationY>956</locationY>
        <collectionReference>lstServiceLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Send_SLI_Directly_to_Tax</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Price_SLIs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Priced_SLIs</name>
        <label>Loop Priced SLIs</label>
        <locationX>554</locationX>
        <locationY>1664</locationY>
        <collectionReference>lstSLIToPrice</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_lstSLIWithCost2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Apply_Tax_Logic</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Apply_Clear_Code_Logic_exception</name>
        <label>&quot;Apply Clear Code Logic&quot; exception</label>
        <locationX>554</locationX>
        <locationY>674</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Loop_ALL_SLIs3</targetReference>
        </connector>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operation__c</field>
            <value>
                <stringValue>Get SLI Prices On REST AutoLaunched &quot;Apply Clear Code Logic&quot;</stringValue>
            </value>
        </inputAssignments>
        <object>FSL_Application_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Apply_Tax_Logic_exception</name>
        <label>&quot;Apply Tax Logic&quot; exception</label>
        <locationX>994</locationX>
        <locationY>2072</locationY>
        <connector>
            <targetReference>Assign_lstSLIWithCost_to_lstSLIWithTax</targetReference>
        </connector>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operation__c</field>
            <value>
                <stringValue>Get SLI Prices On REST AutoLaunched &quot;Apply Tax Logic&quot;</stringValue>
            </value>
        </inputAssignments>
        <object>FSL_Application_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Insert_Audit_Logs</name>
        <label>Insert Audit Logs</label>
        <locationX>314</locationX>
        <locationY>2954</locationY>
        <connector>
            <targetReference>Insert_SLIs_with_Cost</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Insert_Audit_Logs_exception</targetReference>
        </faultConnector>
        <inputReference>lstAuditLogsToInsert</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Audit_Logs_exception</name>
        <label>&quot;Insert Audit Logs&quot; exception</label>
        <locationX>1786</locationX>
        <locationY>3062</locationY>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operation__c</field>
            <value>
                <stringValue>Get SLI Prices On REST AutoLaunched &quot;Insert Audit Logs&quot;</stringValue>
            </value>
        </inputAssignments>
        <object>FSL_Application_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Insert_SLIs_with_Cost</name>
        <label>Insert SLIs with Cost</label>
        <locationX>314</locationX>
        <locationY>3062</locationY>
        <connector>
            <targetReference>Check_If_Update_Is_Needed</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Insert_SLIs_with_Cost_exception</targetReference>
        </faultConnector>
        <inputReference>lstSLIsToInsert</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_SLIs_with_Cost_exception</name>
        <label>&quot;Insert SLIs with Cost&quot; exception</label>
        <locationX>1522</locationX>
        <locationY>3170</locationY>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operation__c</field>
            <value>
                <stringValue>Get SLI Prices On REST AutoLaunched &quot;Insert SLIs with Cost&quot;</stringValue>
            </value>
        </inputAssignments>
        <object>FSL_Application_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Price_SLIs_exception</name>
        <label>&quot;Price SLIs&quot; exception</label>
        <locationX>1258</locationX>
        <locationY>1664</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Loop_Priced_SLIs</targetReference>
        </connector>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operation__c</field>
            <value>
                <stringValue>Get SLI Prices On REST AutoLaunched &quot;Price SLIs&quot;</stringValue>
            </value>
        </inputAssignments>
        <object>FSL_Application_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Round_Up_Units_NE_exception</name>
        <label>&quot;Round Up Units (NE)&quot; exception</label>
        <locationX>2314</locationX>
        <locationY>242</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>WO_Status_Check</targetReference>
        </connector>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operation__c</field>
            <value>
                <stringValue>Get SLI Prices On REST AutoLaunched &quot;Round Up Units (NE)&quot;</stringValue>
            </value>
        </inputAssignments>
        <object>FSL_Application_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Update_SLIs_with_Cost_exception</name>
        <label>&quot;Update SLIs with Cost&quot; exception</label>
        <locationX>314</locationX>
        <locationY>3386</locationY>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operation__c</field>
            <value>
                <stringValue>Get SLI Prices On REST AutoLaunched &quot;Update SLIs with Cost&quot;</stringValue>
            </value>
        </inputAssignments>
        <object>FSL_Application_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Update_WO_exception</name>
        <label>&quot;Update WO&quot; exception</label>
        <locationX>314</locationX>
        <locationY>3926</locationY>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operation__c</field>
            <value>
                <stringValue>Get SLI Prices On REST AutoLaunched &quot;Update WO&quot;</stringValue>
            </value>
        </inputAssignments>
        <object>FSL_Application_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_SLIs_with_Cost</name>
        <label>Update SLIs with Cost</label>
        <locationX>50</locationX>
        <locationY>3278</locationY>
        <connector>
            <targetReference>Was_WO_Clearing_Code_Updated</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_SLIs_with_Cost_exception</targetReference>
        </faultConnector>
        <inputReference>lstSLIsToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WO</name>
        <label>Update WO</label>
        <locationX>50</locationX>
        <locationY>3818</locationY>
        <faultConnector>
            <targetReference>Update_WO_exception</targetReference>
        </faultConnector>
        <inputReference>workOrder</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>1056</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Round_Up_Units_NE</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>callClearCodeLogic</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>lstAuditLogsToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Audit_Log__c</objectType>
    </variables>
    <variables>
        <name>lstServiceLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>FSL_Service_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>lstSLIsToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSL_Service_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>lstSLIsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSL_Service_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>lstSLIToPrice</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSL_Service_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>lstSLIWithCost</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>FSL_Service_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>lstSLIWithTax</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>FSL_Service_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>updateCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>woIsUpdated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>workOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
