unpackaged/main/default/flows/In_Tow_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Tow_Destination</name>
        <label>Set Tow Destination</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>TowAppointmentToUpdate.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TowAppointmentToUpdate.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TowAppointmentToUpdate.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TowAppointmentToUpdate.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Postal_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TowAppointmentToUpdate.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>United States</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TowAppointmentToUpdate.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tow Complete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TowAppointmentToUpdate.Tow_Destination_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Destination_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TowAppointmentToUpdate.Tow_Complete_Timestamp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Tow_Destination</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No_Choice</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tow_Complete</name>
        <choiceText>Tow Complete</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tow Complete</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_Choice</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Is_Resource_At_Tow_Destination</name>
        <label>Is Resource At Tow Destination</label>
        <locationX>468</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tow_Dest_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TowAppointmentToUpdate.Distance__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validate_Tow_Destination_0</targetReference>
            </connector>
            <label>Tow Dest Changed</label>
        </rules>
        <rules>
            <name>Reached_Tow_Dest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TowAppointmentToUpdate.Distance__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Status_From_In_Tow</targetReference>
            </connector>
            <label>Reached Tow Dest</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Tow_Destination_Choice</name>
        <label>Update Tow Destination Choice</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Update_To_Tow_Complete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Tow_Dest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Update_Tow_Destination_Radio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validate_Tow_Destination</targetReference>
            </connector>
            <label>Update Tow Dest</label>
        </rules>
    </decisions>
    <description>Simplified Flow</description>
    <interviewLabel>Tow Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>In Tow flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordUpdates>
        <name>Update_To_Tow_Complete</name>
        <label>Update To Tow Complete</label>
        <locationX>468</locationX>
        <locationY>1190</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TowAppointmentToUpdate.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Tow Complete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tow_Complete_Timestamp__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Tow_Destination</name>
        <label>Update Tow Destination</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <inputReference>TowAppointmentToUpdate</inputReference>
    </recordUpdates>
    <screens>
        <name>Change_Status_From_In_Tow</name>
        <label>Change Status From In Tow</label>
        <locationX>490</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_To_Tow_Complete</targetReference>
        </connector>
        <fields>
            <name>Header</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(0, 56, 147); font-size: 16px;&quot;&gt;{!Header_Text_Input}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Status</name>
            <choiceReferences>Tow_Complete</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Tow_Complete</defaultSelectedChoiceReference>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Validate_Tow_Destination</name>
        <label>Provide Tow Destination</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Tow_Destination</targetReference>
        </connector>
        <fields>
            <name>Header_Input</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px; color: rgb(0, 56, 147);&quot;&gt;{!Header_Text_Input}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Resource_Not_At_Tow_Destination</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(235, 236, 240); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;When Resource is not at Tow Destination:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Street</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>TowAppointmentToUpdate.Street</elementReference>
            </defaultValue>
            <fieldText>Street</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>City</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>TowAppointmentToUpdate.City</elementReference>
            </defaultValue>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>State</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>TowAppointmentToUpdate.State</elementReference>
            </defaultValue>
            <fieldText>State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Postal_Code</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>TowAppointmentToUpdate.PostalCode</elementReference>
            </defaultValue>
            <fieldText>Postal Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Destination_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>TowAppointmentToUpdate.Tow_Destination_Name__c</elementReference>
            </defaultValue>
            <fieldText>Destination Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Validate_Tow_Destination_0</name>
        <label>Update Tow Destination?</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Tow_Destination_Choice</targetReference>
        </connector>
        <fields>
            <name>Header_Input_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px; color: rgb(0, 56, 147);&quot;&gt;{!Header_Text_Input}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Tow_Destination_Info</name>
            <fieldText>&lt;p&gt;Your current location does not match the tow destination&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Update_Tow_Destination_Radio</name>
            <choiceReferences>Yes_Choice</choiceReferences>
            <choiceReferences>No_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Update Tow Destination?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>342</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Resource_At_Tow_Destination</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>FALSE</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>False</stringValue>
        </value>
    </variables>
    <variables>
        <name>Header_Text_Input</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LKL_Resource_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>Returned_Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TowAppointmentToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>TRUE</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>workOrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
