unpackaged/main/default/flows/KMI_Light_Service_SA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Status_After_30_Min</name>
        <label>Check Status After 30 Min and Landline Shop</label>
        <locationX>380</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_is_not_En_Route_30</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>current_service_appointment_after_30min.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spotted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>current_service_appointment_after_30min.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>current_service_appointment_after_30min.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dispatched</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>current_service_appointment_after_30min.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Declined</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>current_service_appointment_after_30min.ServiceTerritory.Dispatch_Method__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Landline</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Phone_Number_Populated_40</targetReference>
            </connector>
            <label>Status is not En Route 30</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Status_After_45_Min</name>
        <label>Check Status After 45 Min and Landline Shop</label>
        <locationX>1172</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_is_not_En_Route_45</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>Current_Service_Appointment_after_45min.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spotted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Current_Service_Appointment_after_45min.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Current_Service_Appointment_after_45min.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dispatched</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Current_Service_Appointment_after_45min.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Declined</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Current_Service_Appointment_after_45min.ServiceTerritory.Dispatch_Method__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Landline</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Phone_Number_Populated_70</targetReference>
            </connector>
            <label>Status is not En Route 45</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is Phone_Number__c Populated?</description>
        <name>Phone_Number_Populated_40</name>
        <label>Phone Number Populated?</label>
        <locationX>182</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_40</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>current_service_appointment_after_30min.Phone_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Plataform_Event</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is Phone_Number__c Populated?</description>
        <name>Phone_Number_Populated_70</name>
        <label>Phone Number Populated?</label>
        <locationX>974</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_70</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Current_Service_Appointment_after_45min.Phone_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Platform_Event_45min</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Creating platform events for mulesoft to engage replicant.</description>
    <environments>Default</environments>
    <formulas>
        <name>CurrentTimeMinus60</name>
        <dataType>DateTime</dataType>
        <expression>NOW() - (1/24)</expression>
    </formulas>
    <formulas>
        <name>CurrentTimePlus60</name>
        <dataType>DateTime</dataType>
        <expression>Now() + (1/24)</expression>
    </formulas>
    <interviewLabel>KMI Light Service {!$Flow.CurrentDateTime}</interviewLabel>
    <label>KMI</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>If the PTA is in the future, the first message goes out.</description>
        <name>Create_Plataform_Event</name>
        <label>Create Plataform Event 30min</label>
        <locationX>50</locationX>
        <locationY>600</locationY>
        <inputAssignments>
            <field>Call_External_Id__c</field>
            <value>
                <elementReference>current_service_appointment_after_30min.Work_Order__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Call_Id__c</field>
            <value>
                <elementReference>current_service_appointment_after_30min.D3_Call_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Code__c</field>
            <value>
                <elementReference>current_service_appointment_after_30min.T_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETA__c</field>
            <value>
                <elementReference>current_service_appointment_after_30min.ETA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Facility_Number__c</field>
            <value>
                <elementReference>current_service_appointment_after_30min.ServiceTerritory.Facility_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PTA__c</field>
            <value>
                <elementReference>CurrentTimePlus60</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_Number__c</field>
            <value>
                <elementReference>current_service_appointment_after_30min.Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority__c</field>
            <value>
                <elementReference>$Record.Work_Order__r.Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SMS_Opt_In__c</field>
            <value>
                <elementReference>current_service_appointment_after_30min.SMS_Opt_In__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Address_City__c</field>
            <value>
                <elementReference>current_service_appointment_after_30min.City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Address_PostalCode__c</field>
            <value>
                <elementReference>current_service_appointment_after_30min.PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Address_StateCode__c</field>
            <value>
                <elementReference>current_service_appointment_after_30min.StateCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Appointment_Street__c</field>
            <value>
                <elementReference>current_service_appointment_after_30min.Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Type__c</field>
            <value>
                <elementReference>current_service_appointment_after_30min.Work_Order__r.Service_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>current_service_appointment_after_30min.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tow_Destination__c</field>
            <value>
                <elementReference>current_service_appointment_after_30min.Tow_Destination__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Truck_Type__c</field>
            <value>
                <elementReference>current_service_appointment_after_30min.Service_Resource__r.Vehicle_Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>Service_Appointment_Creation_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>If the PTA is in the past, the second message goes out.</description>
        <name>Create_Platform_Event_45min</name>
        <label>Create Platform Event 45min</label>
        <locationX>842</locationX>
        <locationY>600</locationY>
        <inputAssignments>
            <field>Call_External_Id__c</field>
            <value>
                <elementReference>Current_Service_Appointment_after_45min.Work_Order__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Call_Id__c</field>
            <value>
                <elementReference>Current_Service_Appointment_after_45min.D3_Call_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Code__c</field>
            <value>
                <elementReference>Current_Service_Appointment_after_45min.T_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETA__c</field>
            <value>
                <elementReference>Current_Service_Appointment_after_45min.ETA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Facility_Number__c</field>
            <value>
                <elementReference>Current_Service_Appointment_after_45min.ServiceTerritory.Facility_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PTA__c</field>
            <value>
                <elementReference>CurrentTimeMinus60</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_Number__c</field>
            <value>
                <elementReference>Current_Service_Appointment_after_45min.Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority__c</field>
            <value>
                <elementReference>$Record.Work_Order__r.Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SMS_Opt_In__c</field>
            <value>
                <elementReference>Current_Service_Appointment_after_45min.SMS_Opt_In__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Address_City__c</field>
            <value>
                <elementReference>Current_Service_Appointment_after_45min.City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Address_PostalCode__c</field>
            <value>
                <elementReference>Current_Service_Appointment_after_45min.PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Address_StateCode__c</field>
            <value>
                <elementReference>Current_Service_Appointment_after_45min.StateCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Appointment_Street__c</field>
            <value>
                <elementReference>Current_Service_Appointment_after_45min.Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Type__c</field>
            <value>
                <elementReference>Current_Service_Appointment_after_45min.Work_Order__r.Service_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Current_Service_Appointment_after_45min.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tow_Destination__c</field>
            <value>
                <elementReference>Current_Service_Appointment_after_45min.Tow_Destination__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Truck_Type__c</field>
            <value>
                <elementReference>Current_Service_Appointment_after_45min.Service_Resource__r.Vehicle_Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>Service_Appointment_Creation_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>current_service_appointment_after_30min</name>
        <label>Current Service Appointment after 30min</label>
        <locationX>380</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Status_After_30_Min</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Current_Service_Appointment_after_45min</name>
        <label>Current Service Appointment after 45min</label>
        <locationX>1172</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Status_After_45_Min</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>353</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>isBreakdown__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>X30_min_delay</name>
            <connector>
                <targetReference>current_service_appointment_after_30min</targetReference>
            </connector>
            <label>30 min delay</label>
            <offsetNumber>30</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X45_min_delay</name>
            <connector>
                <targetReference>Current_Service_Appointment_after_45min</targetReference>
            </connector>
            <label>45 min delay</label>
            <offsetNumber>45</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
