unpackaged/main/default/flows/Link_Feedback_and_Service_Contracts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Count_IB_Reciprocal_rows</name>
        <label>Count IB Reciprocal rows</label>
        <locationX>908</locationX>
        <locationY>566</locationY>
        <actionName>ReciprocalServiceContractLookup</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Number_of_rows_greater_than_50k</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>method</name>
            <value>
                <stringValue>getNumIBReciprocals</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ReciprocalServiceContractLookup</nameSegment>
        <outputParameters>
            <assignToReference>countIBRows</assignToReference>
            <name>numIBRecs</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Data_Table_linking</name>
        <label>Data Table linking</label>
        <locationX>908</locationX>
        <locationY>1382</locationY>
        <actionName>ReciprocalServiceContractLookup</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Has_general_error</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Apex_error_screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>method</name>
            <value>
                <stringValue>selIBRecBatch</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>reciprocals</name>
            <value>
                <elementReference>ib_reciprocals_data_table.selectedRows</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ReciprocalServiceContractLookup</nameSegment>
        <outputParameters>
            <assignToReference>apexError</assignToReference>
            <name>error</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>apexResult</assignToReference>
            <name>result</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Default_linking</name>
        <label>Default linking</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <actionName>ReciprocalServiceContractLookup</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Has_general_error</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Apex_error_screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>method</name>
            <value>
                <stringValue>allIBRecBatch</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ReciprocalServiceContractLookup</nameSegment>
        <outputParameters>
            <assignToReference>apexError</assignToReference>
            <name>error</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>apexResult</assignToReference>
            <name>result</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Query_first_50k_IB_Reciprocals</name>
        <label>Query first 50k IB Reciprocals</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <actionName>ReciprocalServiceContractLookup</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Display_queried_IB_Reciprocals_screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>method</name>
            <value>
                <stringValue>queryFirstIBReciprocals</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ReciprocalServiceContractLookup</nameSegment>
        <outputParameters>
            <assignToReference>ibRecList</assignToReference>
            <name>reciprocals</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Query_last_50k_IB_Reciprocals</name>
        <label>Query last 50k IB Reciprocals</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <actionName>ReciprocalServiceContractLookup</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Display_queried_IB_Reciprocals_screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>method</name>
            <value>
                <stringValue>queryLastIBReciprocals</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ReciprocalServiceContractLookup</nameSegment>
        <outputParameters>
            <assignToReference>ibRecList</assignToReference>
            <name>reciprocals</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>radioAllIBRecs</name>
        <choiceText>Select all Inbound Reciprocals with missing Feedback / Service Contract</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>radioAllIBRecs</stringValue>
        </value>
    </choices>
    <choices>
        <name>radioFirst50kRows</name>
        <choiceText>Oldest records first</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>radioFirst50kRows</stringValue>
        </value>
    </choices>
    <choices>
        <name>radioIBDataTable</name>
        <choiceText>Select from Data Table</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>radioIBDataTable</stringValue>
        </value>
    </choices>
    <choices>
        <name>radioLast50kRows</name>
        <choiceText>Most recent records first</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>radioLast50kRows</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Decide_Link_Method</name>
        <label>Decide Link Method</label>
        <locationX>798</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Select_all</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Radio_Link_Options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>radioAllIBRecs</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Default_linking</targetReference>
            </connector>
            <label>Select all</label>
        </rules>
        <rules>
            <name>Select_from_Data_Table</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Radio_Link_Options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>radioIBDataTable</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Count_IB_Reciprocal_rows</targetReference>
            </connector>
            <label>Select from Data Table</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_general_error</name>
        <label>Has general error?</label>
        <locationX>798</locationX>
        <locationY>1622</locationY>
        <defaultConnector>
            <targetReference>Result_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>apexError</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>apexError</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>General_error_screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Number_of_rows_greater_than_50k</name>
        <label>Number of rows greater than 50k?</label>
        <locationX>908</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Display_queried_IB_Reciprocals_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_50k</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countIBRows</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>50000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>More_than_50k_screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Query_oldest_IB_Reciprocals_first</name>
        <label>Query oldest IB Reciprocals first?</label>
        <locationX>710</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Query_last_50k_IB_Reciprocals</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Oldest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_the_following_options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>radioFirst50kRows</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Query_first_50k_IB_Reciprocals</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>06/28/2024: v7 PR893288-5160</description>
    <environments>Default</environments>
    <interviewLabel>Link Feedback and Service Contracts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Link Feedback and Service Contracts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_AAALinkFBAndSvcKBatch_Apex_Class_Id</name>
        <label>Get AAALinkFBAndSvcKBatch Apex Class Id</label>
        <locationX>798</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Batch_Job_Statuses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AAALinkFBAndSvcKBatch</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ApexClass</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Batch_Job_Statuses</name>
        <label>Get Batch Job Statuses</label>
        <locationX>798</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Link_Options</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ApexClassId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_AAALinkFBAndSvcKBatch_Apex_Class_Id.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AsyncApexJob</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Apex_error_screen</name>
        <label>Apex error screen</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_AAALinkFBAndSvcKBatch_Apex_Class_Id</targetReference>
        </connector>
        <fields>
            <name>apex_error_text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_queried_IB_Reciprocals_screen</name>
        <label>Display queried IB Reciprocals screen</label>
        <locationX>908</locationX>
        <locationY>1274</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Data_Table_linking</targetReference>
        </connector>
        <fields>
            <name>ib_reciprocals_data_table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Reciprocal__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Inbound Reciprocals</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>ibRecList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-a4be&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Reciprocal ID&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Service_Facility_ID__c&quot;,&quot;guid&quot;:&quot;column-5b9d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Service Facility ID&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Work_Order__c&quot;,&quot;guid&quot;:&quot;column-deee&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Work Order&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Service_Call_Date__c&quot;,&quot;guid&quot;:&quot;column-f76a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Service Call Date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;Member_ID__c&quot;,&quot;guid&quot;:&quot;column-b603&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Member ID&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Member_Last_Name__c&quot;,&quot;guid&quot;:&quot;column-e95b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Member Last Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Member_First_Name__c&quot;,&quot;guid&quot;:&quot;column-3265&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;Member First Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>General_error_screen</name>
        <label>General error screen</label>
        <locationX>666</locationX>
        <locationY>1730</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_AAALinkFBAndSvcKBatch_Apex_Class_Id</targetReference>
        </connector>
        <fields>
            <name>general_error_text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!apexError}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Link_Options</name>
        <label>Link Options</label>
        <locationX>798</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decide_Link_Method</targetReference>
        </connector>
        <fields>
            <name>Batch_Job_Status</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>AsyncApexJob</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Batch Job Status</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Batch_Job_Statuses</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Status&quot;,&quot;guid&quot;:&quot;column-d77c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;CreatedDate&quot;,&quot;guid&quot;:&quot;column-2a46&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Created Date&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;CompletedDate&quot;,&quot;guid&quot;:&quot;column-9594&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Completion Date&quot;,&quot;type&quot;:&quot;customDateTime&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Radio_Link_Options</name>
            <choiceReferences>radioAllIBRecs</choiceReferences>
            <choiceReferences>radioIBDataTable</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>radioAllIBRecs</defaultSelectedChoiceReference>
            <fieldText>Link Options for linking Feedback / Service Contract to Inbound Reciprocals</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>More_than_50k_screen</name>
        <label>More than 50k screen</label>
        <locationX>710</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Query_oldest_IB_Reciprocals_first</targetReference>
        </connector>
        <fields>
            <name>num_of_ib_rows_found_text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Found more than 50,000 records ({!countIBRows}). &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Data Table option can only handle 50,000 rows at most.﻿&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Please go back and use the default option or specify which records you would like to see displayed.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Please_select_the_following_options</name>
            <choiceReferences>radioFirst50kRows</choiceReferences>
            <choiceReferences>radioLast50kRows</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>radioFirst50kRows</defaultSelectedChoiceReference>
            <fieldText>Please select the following options (returns 50,000 records):</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Result_screen</name>
        <label>Result screen</label>
        <locationX>930</locationX>
        <locationY>1730</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_AAALinkFBAndSvcKBatch_Apex_Class_Id</targetReference>
        </connector>
        <fields>
            <name>result_text</name>
            <fieldText>&lt;p&gt;{!apexResult}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>672</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_AAALinkFBAndSvcKBatch_Apex_Class_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>apexError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>apexResult</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>countIBRows</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ibRecList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Reciprocal__c</objectType>
    </variables>
</Flow>
