unpackaged/main/default/flows/Member_Scheduled_Appointment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Reset_Error_Flag</name>
        <label>Reset Error Flag</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>correctAppointmentTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_User_Offset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Appointment_Error_Flag</name>
        <label>Set Appointment Error Flag</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>correctAppointmentTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Schedule_Appointment</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choice00</name>
        <choiceText>00</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>00</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice01</name>
        <choiceText>01</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>01</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice02</name>
        <choiceText>02</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>02</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice03</name>
        <choiceText>03</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>03</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice04</name>
        <choiceText>04</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>04</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice05</name>
        <choiceText>05</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>05</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice06</name>
        <choiceText>06</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>06</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice07</name>
        <choiceText>07</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>07</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice08</name>
        <choiceText>08</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>08</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice09</name>
        <choiceText>09</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>09</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice10</name>
        <choiceText>10</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>10</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice11</name>
        <choiceText>11</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>11</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice12</name>
        <choiceText>12</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>00</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice30</name>
        <choiceText>30</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>30</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceAM</name>
        <choiceText>AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AM</stringValue>
        </value>
    </choices>
    <choices>
        <name>choicePM</name>
        <choiceText>PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PM</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Is_Appointment_Time_Valid</name>
        <label>Is Appointment Time Valid</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Update_Case_with_Appointment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_a_valid_appointment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checkRequestedTime</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>checkAppointmentTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Appointment_Error_Flag</targetReference>
            </connector>
            <label>Not a valid appointment</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>apptConverted</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!apptDateText})</expression>
    </formulas>
    <formulas>
        <name>apptDateText</name>
        <dataType>String</dataType>
        <expression>IF(
{!AM_PM}=&quot;PM&quot;,
TEXT({!Appointment_Date}) &amp; &quot; &quot; &amp; TEXT(VALUE(IF({!Appointment_Hour}=&quot;12&quot;,&quot;0&quot;,{!Appointment_Hour}))+12) &amp; &quot;:&quot; &amp; {!Appointment_Minutes} &amp; &quot;:00&quot;,
TEXT({!Appointment_Date}) &amp; &quot; &quot; &amp; IF({!Appointment_Hour}=&quot;12&quot;,&quot;0&quot;,{!Appointment_Hour}) &amp; &quot;:&quot; &amp; {!Appointment_Minutes} &amp; &quot;:00&quot;)</expression>
    </formulas>
    <formulas>
        <name>apptDueDate</name>
        <dataType>DateTime</dataType>
        <expression>{!newAppointmentTime} + (180/1440)</expression>
    </formulas>
    <formulas>
        <name>apptForSAupdate</name>
        <dataType>String</dataType>
        <expression>IF({!Appointment_Hour} = &quot;12&quot;,
&quot;12:&quot; &amp; {!Appointment_Minutes} &amp; &quot; &quot; &amp; {!AM_PM},
{!Appointment_Hour} &amp; &quot;:&quot; &amp; {!Appointment_Minutes} &amp; &quot; &quot; &amp; {!AM_PM}
)</expression>
    </formulas>
    <formulas>
        <name>calculateOffset</name>
        <dataType>Number</dataType>
        <expression>IF(ABS({!userGmtOffset}) &lt; {!memberOffset},
(ABS({!userGmtOffset}) - ( {!memberOffset} - ABS({!userGmtOffset}) )),
({!memberOffset} + 2*( ABS({!userGmtOffset}) - {!memberOffset} ))
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>checkAppointmentTime</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} - ({!memberOffset}/24) + (ABS({!userGmtOffset})/24) + (45/1440)</expression>
    </formulas>
    <formulas>
        <name>checkRequestedTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!apptDateText})+(ABS({!userGmtOffset})/24)</expression>
    </formulas>
    <formulas>
        <name>memberOffset</name>
        <dataType>Number</dataType>
        <expression>VALUE(MID({!Get_Parent_Case.Member_Location_TZ_Offset__c},5,IF(LEN({!Get_Parent_Case.Member_Location_TZ_Offset__c})=8,1,2)))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>newAppointmentTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!apptDateText})+({!calculateOffset}/24)</expression>
    </formulas>
    <interviewLabel>Member Scheduled Appointment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Member Scheduled Appointment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Parent_Case</name>
        <label>Get Parent Case</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Schedule_Appointment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_with_Appointment</name>
        <label>Update Case with Appointment</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ACG_Requested_Appointment_Date__c</field>
            <value>
                <elementReference>Appointment_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ACG_Requested_Appointment_Time__c</field>
            <value>
                <elementReference>createAppointmentTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Appointment_Requested__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PTA__c</field>
            <value>
                <elementReference>newAppointmentTime</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Schedule_Appointment</name>
        <label>Schedule Appointment</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Reset_Error_Flag</targetReference>
        </connector>
        <fields>
            <name>appointmentErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 16px;&quot;&gt;Appointments must be scheduled more than 60 minutes in advance.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 16px;&quot;&gt;Please select a new appointment time.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>correctAppointmentTime</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>displayCurrentAppointment</name>
            <fieldText>&lt;p&gt;Appointment currently scheduled for &lt;strong&gt;{!Get_Parent_Case.ACG_Requested_Appointment_Date__c}&lt;/strong&gt; @ &lt;strong&gt;{!Get_Parent_Case.ACG_Requested_Appointment_Time__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Parent_Case.ACG_Requested_Appointment_Date__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Parent_Case.ACG_Requested_Appointment_Time__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>currentTimeDisplay</name>
            <fieldText>&lt;p&gt;Current Time: {!$Flow.CurrentDateTime}&lt;/p&gt;&lt;p&gt;Member Time: {!Get_Parent_Case.Local_Member_Time_Text__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Schedule_Appointment_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Schedule_Appointment_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Appointment_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDate</elementReference>
                    </defaultValue>
                    <fieldText>Appointment Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Appointment cannot be scheduled further than 4 days from today.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Appointment_Date} &lt; TODAY()+4</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Schedule_Appointment_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Appointment_Hour</name>
                    <choiceReferences>choice01</choiceReferences>
                    <choiceReferences>choice02</choiceReferences>
                    <choiceReferences>choice03</choiceReferences>
                    <choiceReferences>choice04</choiceReferences>
                    <choiceReferences>choice05</choiceReferences>
                    <choiceReferences>choice06</choiceReferences>
                    <choiceReferences>choice07</choiceReferences>
                    <choiceReferences>choice08</choiceReferences>
                    <choiceReferences>choice09</choiceReferences>
                    <choiceReferences>choice10</choiceReferences>
                    <choiceReferences>choice11</choiceReferences>
                    <choiceReferences>choice12</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Appointment Hour</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Schedule_Appointment_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Appointment_Minutes</name>
                    <choiceReferences>choice00</choiceReferences>
                    <choiceReferences>choice30</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Appointment Minutes</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Schedule_Appointment_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AM_PM</name>
                    <choiceReferences>choiceAM</choiceReferences>
                    <choiceReferences>choicePM</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>AM/PM</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Parent_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_User_Offset</name>
        <label>Get User Offset</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Is_Appointment_Time_Valid</targetReference>
        </connector>
        <flowName>User_GMT_Offset_Subflow</flowName>
        <inputAssignments>
            <name>inputDate</name>
            <value>
                <elementReference>Appointment_Date</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>userGmtOffset</assignToReference>
            <name>userGmtOffset</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>createAppointmentTime</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!apptForSAupdate}</text>
    </textTemplates>
    <variables>
        <name>correctAppointmentTime</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>userGmtOffset</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
