unpackaged/main/default/flows/Membership_Flow_When_FSL_is_SOR.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Return_Record</name>
        <label>Assign Return Record</label>
        <locationX>389</locationX>
        <locationY>291</locationY>
        <assignmentItems>
            <assignToReference>InternalContactRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Members</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>Reduced Flow to just the query for Internal Contact</description>
    <dynamicChoiceSets>
        <name>ReturnedMembers</name>
        <dataType>String</dataType>
        <displayField>External_ID__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>External_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <valueField>External_ID__c</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Membership Flow When FSL is SOR {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Membership Flow When FSL is SOR</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Returns the members with the matching membership number from the variable input box.</description>
        <name>Get_Members</name>
        <label>Get Members</label>
        <locationX>193</locationX>
        <locationY>291</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Return_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Member_Card_Num__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MemberShipNumberInput</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>61</locationX>
        <locationY>141</locationY>
        <connector>
            <targetReference>Get_Members</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Accept_Internal_Assignment</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InternalContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Member_Number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MemberShipNumberInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
