unpackaged/main/default/flows/On_Location_Sub_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_skip_flag</name>
        <label>Assign skip flag</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>v_skipLS</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Call_Subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Skip_Go_NoGo_To_True</name>
        <label>Set Skip Go NoGo To True</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Skip_Go_NoGo</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Call_Subflow</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CannotComplete</name>
        <choiceText>No Service</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Canceled</stringValue>
        </value>
    </choices>
    <choices>
        <name>InTow</name>
        <choiceText>In Tow</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In Tow</stringValue>
        </value>
    </choices>
    <choices>
        <name>LightService</name>
        <choiceText>Light Service</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cleared</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_For_Status</name>
        <label>Check For Status</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Onlocation_To_Intow_Selec</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Selects_Intow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>InTow</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validate_Tow_Destination</targetReference>
            </connector>
            <label>If Selects Intow</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Work_Type</name>
        <label>Check Work Type</label>
        <locationX>842</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Change_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tow_Work_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isTowWorkType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Status_From_On_Location</targetReference>
            </connector>
            <label>Tow Work Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Onlocation_To_Intow_Selec</name>
        <label>Onlocation To Intow Selec</label>
        <locationX>446</locationX>
        <locationY>650</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>To_Clear_Call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LightService</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Skip_Go_NoGo_To_True</targetReference>
            </connector>
            <label>To Clear Call LS</label>
        </rules>
        <rules>
            <name>Is_In_Tow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>InTow</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Breakdown_Appointment</targetReference>
            </connector>
            <label>Is In Tow</label>
        </rules>
        <rules>
            <name>If_Can_not_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CannotComplete</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cannot_Complete_Sub_Flow</targetReference>
            </connector>
            <label>If Can not Complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Selection_LS</name>
        <label>Selection_LS</label>
        <locationX>1238</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Cannot_Complete_Sub_Flow_skip_to_NSR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Clear_Call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status_LS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LightService</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_skip_flag</targetReference>
            </connector>
            <label>Clear Call</label>
        </rules>
    </decisions>
    <description>Changed Clear Call - to &quot;Light Service or Cancel Call&quot;
Changed Clear Call - to &quot;Light Service &quot; AGB 3/4/25 for SSFI-768
Updated &quot;No Service&quot; choice for SSFI-945, added skip logic for LS clearing 945</description>
    <environments>Default</environments>
    <interviewLabel>On Location Sub Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>On Location Sub Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordUpdates>
        <name>Update_Breakdown_Appointment</name>
        <label>Update Breakdown Appointment</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Update_Tow_Appointment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BreakdownAppointment.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>In_Tow_Timestamp__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Tow Loaded</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Tow_Appointment</name>
        <label>Update Tow Appointment</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TowAppointment.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>In_Tow_Timestamp__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Tow</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <screens>
        <name>Change_Status</name>
        <label>Change Status</label>
        <locationX>1238</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Selection_LS</targetReference>
        </connector>
        <fields>
            <name>Header_LS</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px; color: rgb(0, 56, 147);&quot;&gt;{!Header_Text_Input}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Status_LS</name>
            <choiceReferences>LightService</choiceReferences>
            <choiceReferences>CannotComplete</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>LightService</defaultSelectedChoiceReference>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Change_Status_From_On_Location</name>
        <label>Change Status From On Location</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_For_Status</targetReference>
        </connector>
        <fields>
            <name>Header_Tow</name>
            <fieldText>&lt;p&gt;{!Header_Text_Input}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Status</name>
            <choiceReferences>InTow</choiceReferences>
            <choiceReferences>LightService</choiceReferences>
            <choiceReferences>CannotComplete</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>InTow</defaultSelectedChoiceReference>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Work_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Cannot_Complete_Sub_Flow</name>
        <label>Cannot Complete Sub Flow</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <flowName>Cannot_Complete_Sub_Flow</flowName>
        <inputAssignments>
            <name>CurrentStatus</name>
            <value>
                <stringValue>On Location</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Header_Text_Input</name>
            <value>
                <elementReference>Header_Text_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UpdateServiceAppointment</name>
            <value>
                <elementReference>BreakdownAppointment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>v_skipToNSR</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Cannot_Complete_Sub_Flow_skip_to_NSR</name>
        <label>Cannot Complete Sub Flow - Skip to NSR</label>
        <locationX>1370</locationX>
        <locationY>458</locationY>
        <flowName>Cannot_Complete_Sub_Flow</flowName>
        <inputAssignments>
            <name>Header_Text_Input</name>
            <value>
                <elementReference>Header_Text_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UpdateServiceAppointment</name>
            <value>
                <elementReference>BreakdownAppointment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>v_skipToNSR</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Clear_Call_Subflow</name>
        <label>Clear Call Subflow</label>
        <locationX>842</locationX>
        <locationY>1250</locationY>
        <flowName>Clear_Call_Flow</flowName>
        <inputAssignments>
            <name>BreakdownAppointment</name>
            <value>
                <elementReference>BreakdownAppointment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Go_NoGo_Skip</name>
            <value>
                <elementReference>Skip_Go_NoGo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Header_Text_Input</name>
            <value>
                <elementReference>Header_Text_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>v_skipLS</name>
            <value>
                <elementReference>v_skipLS</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Validate_Tow_Destination</name>
        <label>Validate Tow Destination Sub Flow</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Onlocation_To_Intow_Selec</targetReference>
        </connector>
        <flowName>Validate_Tow_Destination</flowName>
        <inputAssignments>
            <name>towAppointment</name>
            <value>
                <elementReference>TowAppointment</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>BreakdownAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>Header_Text_Input</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inboundId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>isTowWorkType</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Skip_Go_NoGo</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>TowAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <description>passed into clear call subflow to skip to LS resolution codes</description>
        <name>v_skipLS</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>workOrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrderStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>On Location</stringValue>
        </value>
    </variables>
</Flow>
