unpackaged/main/default/flows/Partial_Search_for_Internal_Contacts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Return_Contact</name>
        <label>Return Contact</label>
        <locationX>888</locationX>
        <locationY>226</locationY>
        <assignmentItems>
            <assignToReference>ReturnContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Selected_Contact</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <dynamicChoiceSets>
        <name>MatchingContactChoices</name>
        <dataType>String</dataType>
        <displayField>Display_Details__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FirstNameInput</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LastNameInput</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <valueField>Member_Card_Num__c</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Partial Search for Internal Contacts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Partial Search for Internal Contacts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Selected_Contact</name>
        <label>Get Selected Contact</label>
        <locationX>687</locationX>
        <locationY>227</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Return_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Member_Card_Num__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MatchingContactChoices</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Internal_Contact_Results</name>
        <label>Internal Contact Results</label>
        <locationX>423</locationX>
        <locationY>234</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Selected_Contact</targetReference>
        </connector>
        <fields>
            <name>Matching_Contacts</name>
            <choiceReferences>MatchingContactChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Matching Contacts</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Internal_Contact_Results</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>FirstNameInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LastNameInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReturnContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
