unpackaged/main/default/flows/RAP_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>False</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>OnDemand</name>
        <choiceText>Customer wants on-demand service</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OnDemand</stringValue>
        </value>
    </choices>
    <choices>
        <name>Prepaid</name>
        <choiceText>Customer will contact RAP for pre-paid option</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Prepaid</stringValue>
        </value>
    </choices>
    <choices>
        <name>True</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Agent_Advise_Service</name>
        <label>Agent Advise Service?</label>
        <locationX>1192</locationX>
        <locationY>579</locationY>
        <defaultConnector>
            <targetReference>Service_Advised_Proceed_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Service_not_advised</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Did_agent_advise_to_continue_service</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Member_Options</targetReference>
            </connector>
            <label>Service not advised</label>
        </rules>
    </decisions>
    <decisions>
        <name>Member_Decision</name>
        <label>Member Decision</label>
        <locationX>1442</locationX>
        <locationY>683</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Prepaid_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>How_will_the_member_proceed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Prepaid</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prepaid_Message_Screen</targetReference>
            </connector>
            <label>Prepaid Decision</label>
        </rules>
        <rules>
            <name>OnDemand_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>How_will_the_member_proceed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OnDemand</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_to_Cash_Call_Screen</targetReference>
            </connector>
            <label>OnDemand Decision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Program_Requirements</name>
        <label>Program Requirements</label>
        <locationX>860</locationX>
        <locationY>181</locationY>
        <defaultConnector>
            <targetReference>Mark_as_RAP_Verified</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>VIN_Odometer_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VIN_Required_Const</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>workOrderRecord.Goodwill_Indicator__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Member_Vehicle.Maximum_Mileage__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Member_Vehicle.Maximum_Mileage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>999999.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VIN_Odometer_Check_Screen</targetReference>
            </connector>
            <label>VIN &amp; Odometer Required</label>
        </rules>
        <rules>
            <name>VIN_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VIN_Required_Const</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VIN_Check_Screen</targetReference>
            </connector>
            <label>VIN Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Program_Requirements_Met</name>
        <label>Program Requirements Met?</label>
        <locationX>941</locationX>
        <locationY>894</locationY>
        <defaultConnector>
            <targetReference>Mark_as_RAP_Verified</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Program_Requirements_Not_Met</name>
            <conditionLogic>1 AND 4 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>VIN_Required_Const</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VIN_Odo_VIN_Match</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VIN_Odo_Odo_within_max</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>workOrderRecord.Goodwill_Indicator__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_RAP_Agent</targetReference>
            </connector>
            <label>Program Requirements Not Met</label>
        </rules>
        <rules>
            <name>VIN_Requirement_Not_Met</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VIN_Required_Const</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VIN_Match</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VIN_Odo_Odo_within_max</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_RAP_Agent</targetReference>
            </connector>
            <label>VIN Requirement Not Met</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the flow has already been executed</description>
        <name>RAP_Requirements_need_verification</name>
        <label>RAP Requirements need verification?</label>
        <locationX>490</locationX>
        <locationY>413</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Needs_Verification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>workOrderRecord.RAP_Verified__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>workOrderRecord.Call_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RAP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Member_Vehicle_Details</targetReference>
            </connector>
            <label>Needs Verification</label>
        </rules>
    </decisions>
    <description>Updated verbiage of screens to display &quot;customer&quot; in the place of &quot;member&quot;
Removed references to RAP Case Number, RAP center phone number -- technician is now instructed to call dispatch</description>
    <interviewLabel>RAP subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RAP Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>332</locationX>
        <locationY>289</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RAP_Requirements_need_verification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>workOrderRecord.ContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>ContactRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Membership_Org_Phone__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Member_Vehicle_Details</name>
        <label>Get Member Vehicle Details</label>
        <locationX>533</locationX>
        <locationY>168</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Program_Requirements</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>workOrderId</elementReference>
            </value>
        </filters>
        <object>FSL_Member_Vehicle__c</object>
        <outputReference>Member_Vehicle</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>VIN_Encrypted__c</queriedFields>
        <queriedFields>Maximum_Mileage__c</queriedFields>
        <queriedFields>Vehicle_Odometer__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>workOrder</name>
        <label>workOrder</label>
        <locationX>176</locationX>
        <locationY>222</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>workOrderId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>workOrderRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Program_Description__c</queriedFields>
        <queriedFields>Vehicle_Profile__c</queriedFields>
        <queriedFields>Resolution_Code__c</queriedFields>
        <queriedFields>RAP_Verified__c</queriedFields>
        <queriedFields>RAP_Case_Number__c</queriedFields>
        <queriedFields>Call_Type__c</queriedFields>
        <queriedFields>Goodwill_Indicator__c</queriedFields>
        <queriedFields>ContactId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Clear_with_Cancel_En_Route</name>
        <label>Clear with Cancel En Route</label>
        <locationX>1938</locationX>
        <locationY>811</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>workOrderId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Breakdown Appointment</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Cleared_Timestamp__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RAP_Verified__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resolution_Code__c</field>
            <value>
                <stringValue>X002</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Cleared</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <description>Sets RAP_Verified__c to true so that the flow is not re-launched</description>
        <name>Mark_as_RAP_Verified</name>
        <label>Mark as RAP Verified</label>
        <locationX>2412</locationX>
        <locationY>578</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>workOrderId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Breakdown Appointment</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>RAP_Verified__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_to_Cash_Call</name>
        <label>Update to Cash Call</label>
        <locationX>1976</locationX>
        <locationY>626</locationY>
        <connector>
            <targetReference>Mark_as_RAP_Verified</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>workOrderId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Breakdown Appointment</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Payment_Required__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <screens>
        <name>Contact_RAP_Agent</name>
        <label>Contact RAP Agent</label>
        <locationX>1174</locationX>
        <locationY>792</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Agent_Advise_Service</targetReference>
        </connector>
        <fields>
            <name>Header2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(0, 56, 147); font-size: 16px;&quot;&gt;{!Header_Text_Input}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Agent_Contact_Message</name>
            <fieldText>&lt;p&gt;RAP coverage requirements were not satisfied. Please call Dispatch to verify if service can be provided. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Did_agent_advise_to_continue_service</name>
            <choiceReferences>True</choiceReferences>
            <choiceReferences>False</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>False</defaultSelectedChoiceReference>
            <fieldText>Did agent advise to continue service?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Member_Options</name>
        <label>Customer Options</label>
        <locationX>1362</locationX>
        <locationY>762</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Member_Decision</targetReference>
        </connector>
        <fields>
            <name>Header3</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px; color: rgb(0, 46, 157);&quot;&gt;{!Header_Text_Input}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Member_Option_Message</name>
            <fieldText>&lt;p&gt;The customer can either contact the RAP Center to make a pre-paid arrangement or request on-demand service/cash-call from AAA. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>How_will_the_member_proceed</name>
            <choiceReferences>Prepaid</choiceReferences>
            <choiceReferences>OnDemand</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How will the customer proceed?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Prepaid_Message_Screen</name>
        <label>Prepaid Message Screen</label>
        <locationX>1779</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Clear_with_Cancel_En_Route</targetReference>
        </connector>
        <fields>
            <name>Header4</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px; color: rgb(0, 56, 147);&quot;&gt;{!Header_Text_Input}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Prepaid_Advisory</name>
            <fieldText>&lt;p&gt;Advise the customer to call the RAP Center to arrange pre-paid service. If the customer is in a safe area, proceed to your next call.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Service_Advised_Proceed_Screen</name>
        <label>Service Advised Proceed Screen</label>
        <locationX>1344</locationX>
        <locationY>381</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Mark_as_RAP_Verified</targetReference>
        </connector>
        <fields>
            <name>Header8</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px; color: rgb(0, 56, 147);&quot;&gt;{!Header_Text_Input}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Service_Advised_Proceed</name>
            <fieldText>&lt;p&gt;Proceed with servicing the RAP customer. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Update_to_Cash_Call_Screen</name>
        <label>Update to Cash Call Screen</label>
        <locationX>1816</locationX>
        <locationY>647</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_to_Cash_Call</targetReference>
        </connector>
        <fields>
            <name>Header9</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px; color: rgb(0, 56, 147);&quot;&gt;{!Header_Text_Input}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Cash_Call_Message</name>
            <fieldText>&lt;p&gt;Payment is now required for this call prior to clearing&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>VIN_Check_Screen</name>
        <label>VIN Check Screen</label>
        <locationX>770</locationX>
        <locationY>404</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Program_Requirements_Met</targetReference>
        </connector>
        <fields>
            <name>Header6</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px; color: rgb(0, 56, 147);&quot;&gt;{!Header_Text_Input}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>VIN_VIN_Check</name>
            <fieldText>&lt;p&gt;Does the VIN of the {!workOrderRecord.Vehicle_Profile__c} match {!Member_Vehicle.VIN_Encrypted__c}?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>VIN_Match</name>
            <choiceReferences>True</choiceReferences>
            <choiceReferences>False</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>False</defaultSelectedChoiceReference>
            <fieldText>VIN Match?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>VIN_Odometer_Check_Screen</name>
        <label>VIN &amp; Odometer Check Screen</label>
        <locationX>1124</locationX>
        <locationY>382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Program_Requirements_Met</targetReference>
        </connector>
        <fields>
            <name>Header5</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px; color: rgb(0, 56, 147);&quot;&gt;{!Header_Text_Input}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>VIN_Odometer_VIN_Check</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Does the VIN of the {!workOrderRecord.Vehicle_Profile__c} match {!Member_Vehicle.VIN_Encrypted__c}?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>VIN_Odo_VIN_Match</name>
            <choiceReferences>True</choiceReferences>
            <choiceReferences>False</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>False</defaultSelectedChoiceReference>
            <fieldText>VIN Match?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>VIN_Odometer_Odo_Check</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Is the odometer mileage less than &lt;/span&gt;{!Member_Vehicle.Maximum_Mileage__c}&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>VIN_Odo_Odo_within_max</name>
            <choiceReferences>True</choiceReferences>
            <choiceReferences>False</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>False</defaultSelectedChoiceReference>
            <fieldText>Odometer within max?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>workOrder</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Header_Text_Input</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Member_Vehicle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSL_Member_Vehicle__c</objectType>
    </variables>
    <variables>
        <name>RAP_Matrix_Item</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSL_RAP_Matrix__c</objectType>
    </variables>
    <variables>
        <name>VIN_Required_Const</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>workOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>workOrderRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
