unpackaged/main/default/flows/Reimbursement_Auto_Fill_Account_Details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Member_Id</name>
        <label>Assign Member Id</label>
        <locationX>182</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.ACG_Member_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Mbr_Street_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Account.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Mbr_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Account.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Mbr_State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Account.BillingStateCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Mbr_Zip__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Account.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Active_Service_Contract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Connect_Service_Contract_to_Reimbursement</name>
        <label>Connect Service Contract to Reimbursement</label>
        <locationX>50</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.Service_Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Active_Service_Contract.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Account_exists</name>
        <label>Account exists</label>
        <locationX>380</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>No Account</defaultConnectorLabel>
        <rules>
            <name>Account_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Member_Id</targetReference>
            </connector>
            <label>Account is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Active_Service_Contract</name>
        <label>Has Active Service Contract</label>
        <locationX>182</locationX>
        <locationY>719</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Active_Service_Contract</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Connect_Service_Contract_to_Reimbursement</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>03/07/2024: Addresses PR893288-4589</description>
    <environments>Default</environments>
    <interviewLabel>Reimbursement - Auto Fill Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reimbursement - Auto Fill Account Details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Account</name>
        <label>Find Account</label>
        <locationX>380</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Member_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Member_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Active_Service_Contract</name>
        <label>Get Active Service Contract</label>
        <locationX>182</locationX>
        <locationY>611</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Active_Service_Contract</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AAA_ACA_Member_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>AAA_ACA_Membership_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceContract</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Find_Account</targetReference>
        </connector>
        <filterFormula>{!$Record.Member_Id__c}!=NULL &amp;&amp; {!$Record.Member_Id__c}!=&#39;&#39; &amp;&amp; (ISNEW() || ISCHANGED({!$Record.Member_Id__c}))</filterFormula>
        <object>ACG_Reimbursement__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
