unpackaged/main/default/flows/Retry_WorkOrder_Clear.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Close_case</name>
        <label>Close case</label>
        <locationX>314</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>Get_Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Clear_Queue_Item_State</name>
        <label>Update Clear Queue Item State</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Get_Clear_Queue_Item.State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Clear_Queue_Item</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Clear_Queue_Item_Exists</name>
        <label>Clear Queue Item Exists</label>
        <locationX>248</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Clear_Queue_Item_Status_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Not Null</defaultConnectorLabel>
        <rules>
            <name>Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Clear_Queue_Item</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_not_in_queue_screen</targetReference>
            </connector>
            <label>Is Null</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checking if the Status of the Clear Queue Item is &#39;Error&#39;. If not, it is already scheduled for processing or in progress.</description>
        <name>Clear_Queue_Item_Status_Check</name>
        <label>Clear Queue Item Status Check</label>
        <locationX>446</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Call_is_not_in_Case_Created_state_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Case Created</defaultConnectorLabel>
        <rules>
            <name>Case_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Clear_Queue_Item.State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case Created</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Clear_Queue_Item_State</targetReference>
            </connector>
            <label>Case Created</label>
        </rules>
    </decisions>
    <interviewLabel>Retry WorkOrder Clear {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Retry WorkOrder Clear</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_case_comment_not_in_queue</name>
        <label>Create case comment not in queue</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <inputAssignments>
            <field>CommentBody</field>
            <value>
                <stringValue>The call does not exist in the queue. A manual clear may be necessary.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CaseComment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_case_comment_not_retried</name>
        <label>Create case comment not retried</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <inputAssignments>
            <field>CommentBody</field>
            <value>
                <stringValue>The call was not in the Case Created state. It may already be scheduled for clearing retry.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CaseComment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_case_comment_retry</name>
        <label>Create case comment retry</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Close_case</targetReference>
        </connector>
        <inputAssignments>
            <field>CommentBody</field>
            <value>
                <stringValue>The call is scheduled for clearing retry</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CaseComment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>248</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Clear_Queue_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Clear_Queue_Item</name>
        <label>Get Clear Queue Item</label>
        <locationX>248</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Clear_Queue_Item_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.FSL_Work_Order__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FSLClearQueuedCall__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_case</name>
        <label>Update case</label>
        <locationX>314</locationX>
        <locationY>1238</locationY>
        <inputReference>Get_Case</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Clear_Queue_Item</name>
        <label>Update Clear Queue Item</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Call_in_pending_state_screen</targetReference>
        </connector>
        <inputReference>Get_Clear_Queue_Item</inputReference>
    </recordUpdates>
    <screens>
        <name>Call_in_pending_state_screen</name>
        <label>Call in pending state screen</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_case_comment_retry</targetReference>
        </connector>
        <fields>
            <name>Call_in_pending_state_text</name>
            <fieldText>&lt;p&gt;The call is placed back in the queue for clearing.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Call_is_not_in_Case_Created_state_screen</name>
        <label>Call is not in Case Created state screen</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_case_comment_not_retried</targetReference>
        </connector>
        <fields>
            <name>Call_is_not_in_Case_Created_state_text</name>
            <fieldText>&lt;p&gt;The call is not in the status &quot;Case Created&quot;. This is probably because it has already been scheduled for clear retry.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Call_not_in_queue_screen</name>
        <label>Call not in queue screen</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_case_comment_not_in_queue</targetReference>
        </connector>
        <fields>
            <name>Call_is_not_in_queue_text</name>
            <fieldText>&lt;p&gt;This call does not exist in the clear queue, so it cannot be retried.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Case Id (input from quick action)</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
