unpackaged/main/default/flows/SA_Status_and_WorkAcceptance_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_values_to_Call_Assigned_to_Driver_Event_PE</name>
        <label>Assign values to Call_Assigned_to_Driver_Event PE</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>varCallAssignedDriverEvent.SA_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCallAssignedDriverEvent.SA_Work_Acceptance_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Work_Acceptance_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCallAssignedDriverEvent.Call_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Work_Order__r.Call_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCallAssignedDriverEvent.SA_Call_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.D3_Call_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCallAssignedDriverEvent.UpdateCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Resolution_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCallAssignedDriverEvent.FacilityID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Service_Resource__r.Facility_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCallAssignedDriverEvent.TruckID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Service_Resource__r.Vehicle_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCallAssignedDriverEvent.DriverID_text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Service_Resource__r.Driver_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCallAssignedDriverEvent.DriverName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!$Record.Service_Resource__r.RelatedRecord.FirstName} {!$Record.Service_Resource__r.RelatedRecord.LastName}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCallAssignedDriverEvent.AutoAssigned__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AutoScheduled_Power_of_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCallAssignedDriverEvent.UserName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!$Record.Owner:User.FirstName} {!$Record.Owner:User.LastName}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCallAssignedDriverEvent.EventTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCallAssignedDriverEvent.EventType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WorkType.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCallAssignedDriverEvent.Reason_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Decline_Reason__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCallAssignedDriverEvent.SA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AppointmentNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Call_Assigned_to_Driver_Event_Record</targetReference>
        </connector>
    </assignments>
    <description>This flow is fired to send out notification to ODS on Status updates on Service Appointment.</description>
    <environments>Default</environments>
    <interviewLabel>SA Status and WorkAcceptance Status Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SA Status and WorkAcceptance Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Call_Assigned_to_Driver_Event_Record</name>
        <label>Create Call_Assigned_to_Driver_Event  Record</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <inputReference>varCallAssignedDriverEvent</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_values_to_Call_Assigned_to_Driver_Event_PE</targetReference>
        </connector>
        <filterLogic>3 And (1 OR 2)</filterLogic>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Work_Acceptance_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>isBreakdown__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varCallAssignedDriverEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Call_Assigned_to_Driver_Event__e</objectType>
    </variables>
    <variables>
        <name>varVehicle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Location</objectType>
    </variables>
</Flow>
