unpackaged/main/default/flows/SchedStartTime_PTA_Case_creation_from_SA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_new_SA_s_PTA_Violation_Detail_value</name>
        <label>Add new SA&#39;s &quot;PTA Violation Detail&quot; value</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>New_SAs_PTA_Violation_Detail_value</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;PTA+59</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_In_Jeopardy_flag_Reason_and_PTA_Violation_Detail_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_new_SA_s_PTA_Violation_Detail_value_0</name>
        <label>Add new SA&#39;s &quot;PTA Violation Detail&quot; value</label>
        <locationX>754</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>New_SAs_PTA_Violation_Detail_value</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;PTA+44</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_In_Jeopardy_flag_Reason_and_PTA_Violation_Detail_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_new_SA_s_PTA_Violation_Detail_value_0_0</name>
        <label>Add new SA&#39;s &quot;PTA Violation Detail&quot; value</label>
        <locationX>1282</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>New_SAs_PTA_Violation_Detail_value</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;PTA+29</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_In_Jeopardy_flag_Reason_and_PTA_Violation_Detail_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_new_SA_s_PTA_Violation_Detail_value_0_0_0</name>
        <label>Add new SA&#39;s &quot;PTA Violation Detail&quot; value</label>
        <locationX>1810</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>New_SAs_PTA_Violation_Detail_value</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;PTA+14</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_In_Jeopardy_flag_Reason_and_PTA_Violation_Detail_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Whether_cur_SchedStartTime_is_larger_than_PTA_14_29_44_59_mins_0_0</name>
        <label>Whether cur. SchedStartTime is larger than PTA + 14/29/44/59 mins</label>
        <locationX>1304</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Cur. SchedStartTime is less or equal than PTA+14 mins</defaultConnectorLabel>
        <rules>
            <name>Cur_SchedStartTime_is_larger_than_PTA_59_mins</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SchedStartTime</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>SA_PTA_plus_59_mins</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Whether_first_time_PTA_59_violation_or_SchedStartTime_is_larger_than_prev_SchedS</targetReference>
            </connector>
            <label>Cur. SchedStartTime is larger than PTA + 59 mins</label>
        </rules>
        <rules>
            <name>Cur_SchedStartTime_is_larger_than_PTA_44_mins</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SchedStartTime</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>SA_PTA_plus_44_mins</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SchedStartTime</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>SA_PTA_plus_59_mins</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Whether_PTA_44_mins_violation_is_valid</targetReference>
            </connector>
            <label>Cur. SchedStartTime is larger than PTA + 44 mins</label>
        </rules>
        <rules>
            <name>Cur_SchedStartTime_is_larger_than_PTA_29_mins</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SchedStartTime</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>SA_PTA_plus_29_mins</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SchedStartTime</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>SA_PTA_plus_44_mins</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Whether_PTA_29_mins_violation_is_valid</targetReference>
            </connector>
            <label>Cur. SchedStartTime is larger than PTA + 29 mins</label>
        </rules>
        <rules>
            <name>Cur_SchedStartTime_is_larger_than_PTA_14_mins</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SchedStartTime</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>SA_PTA_plus_14_mins</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SchedStartTime</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>SA_PTA_plus_29_mins</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Whether_PTA_14_mins_violation_is_valid</targetReference>
            </connector>
            <label>Cur. SchedStartTime is larger than PTA + 14 mins</label>
        </rules>
    </decisions>
    <decisions>
        <name>Whether_first_time_PTA_59_violation_or_SchedStartTime_is_larger_than_prev_SchedS</name>
        <label>Whether first time PTA+59 violation or SchedStartTime is larger than prev. SchedStartTime + 14 mins</label>
        <locationX>270</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>No violation</defaultConnectorLabel>
        <rules>
            <name>First_time_violation</name>
            <conditionLogic>NOT 1</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PTA_Violation_Detail__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>PTA+59</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_new_SA_s_PTA_Violation_Detail_value</targetReference>
            </connector>
            <label>First time violation</label>
        </rules>
        <rules>
            <name>Cur_SchedStartTime_is_larger_than_prev_SchedStartTime_14_mins</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SchedStartTime</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>SA_prev_SchedStartTime_plus_14_mins</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spotted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_In_Jeopardy_flag_Reason_and_PTA_Violation_Detail_0</targetReference>
            </connector>
            <label>Cur. SchedStartTime is larger than prev. SchedStartTime + 14 mins</label>
        </rules>
    </decisions>
    <decisions>
        <name>Whether_open_PTA_Case_exists</name>
        <label>Whether open PTA Case exists</label>
        <locationX>1304</locationX>
        <locationY>1127</locationY>
        <defaultConnector>
            <targetReference>Get_Owner_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No PTA Case</defaultConnectorLabel>
        <rules>
            <name>Open_PTA_Case_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Open_PTA_Case</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Open PTA Case exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Whether_PTA_14_mins_violation_is_valid</name>
        <label>Whether PTA+14 mins violation is valid</label>
        <locationX>1942</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PTA_14_mins_violation_is_valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PTA_Violation_Detail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_new_SA_s_PTA_Violation_Detail_value_0_0_0</targetReference>
            </connector>
            <label>PTA+14 mins violation is valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Whether_PTA_29_mins_violation_is_valid</name>
        <label>Whether PTA+29 mins violation is valid</label>
        <locationX>1414</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PTA_29_mins_violation_is_valid</name>
            <conditionLogic>NOT (1 OR 2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PTA_Violation_Detail__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>PTA+29</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PTA_Violation_Detail__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>PTA+44</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PTA_Violation_Detail__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>PTA+59</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_new_SA_s_PTA_Violation_Detail_value_0_0</targetReference>
            </connector>
            <label>PTA+29 mins violation is valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Whether_PTA_44_mins_violation_is_valid</name>
        <label>Whether PTA+44 mins violation is valid</label>
        <locationX>886</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PTA_44_mins_violation_is_valid</name>
            <conditionLogic>NOT (1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PTA_Violation_Detail__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>PTA+44</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PTA_Violation_Detail__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>PTA+59</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_new_SA_s_PTA_Violation_Detail_value_0</targetReference>
            </connector>
            <label>PTA+44 mins violation is valid</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>New_Case_subject</name>
        <dataType>String</dataType>
        <expression>&#39;WO#&#39; + {!$Record.Work_Order__r.WorkOrderNumber} + &#39; - &#39; + TEXT({!$Record.FSL__InJeopardyReason__c})</expression>
    </formulas>
    <formulas>
        <name>SA_prev_SchedStartTime_plus_14_mins</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record__Prior.SchedStartTime} + (14/1440)</expression>
    </formulas>
    <formulas>
        <name>SA_PTA_plus_14_mins</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.PTA__c} + (14/1440)</expression>
    </formulas>
    <formulas>
        <name>SA_PTA_plus_29_mins</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.PTA__c} + (29/1440)</expression>
    </formulas>
    <formulas>
        <name>SA_PTA_plus_44_mins</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.PTA__c} + (44/1440)</expression>
    </formulas>
    <formulas>
        <name>SA_PTA_plus_59_mins</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.PTA__c} + (59/1440)</expression>
    </formulas>
    <interviewLabel>SchedStartTime PTA Case creation from SA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SchedStartTime PTA Case creation from SA</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_PTA_Case_0</name>
        <label>Create PTA Case</label>
        <locationX>1436</locationX>
        <locationY>1487</locationY>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL_In_Jeopardy_Reason__c</field>
            <value>
                <stringValue>PTA Violation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL_Service_Appointment_Territory__c</field>
            <value>
                <elementReference>$Record.ServiceTerritoryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL_Service_Appointment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL_Service_Resource__c</field>
            <value>
                <elementReference>$Record.Service_Resource__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL_Work_Order__c</field>
            <value>
                <elementReference>$Record.Work_Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Automation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Owner_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Violation_Resolution_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>New_Case_subject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Open_PTA_Case</name>
        <label>Get Open PTA Case</label>
        <locationX>1304</locationX>
        <locationY>1007</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Whether_open_PTA_Case_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FSL_Service_Appointment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>FSL_In_Jeopardy_Reason__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PTA Violation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Owner_Queue</name>
        <label>Get Owner Queue</label>
        <locationX>1436</locationX>
        <locationY>1247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Violation_Resolution_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FSL_Violation_Handlers</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Violation_Resolution_Record_Type</name>
        <label>Get Violation Resolution Record Type</label>
        <locationX>1436</locationX>
        <locationY>1367</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_PTA_Case_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Violation_Resolution</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_In_Jeopardy_flag_Reason_and_PTA_Violation_Detail_0</name>
        <label>Set &quot;In Jeopardy&quot; flag, Reason and &quot;PTA Violation Detail&quot;</label>
        <locationX>1304</locationX>
        <locationY>887</locationY>
        <connector>
            <targetReference>Get_Open_PTA_Case</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FSL__Related_Service__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FSL__InJeopardyReason__c</field>
            <value>
                <stringValue>PTA Violation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__InJeopardy__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PTA_Violation_Detail__c</field>
            <value>
                <elementReference>New_SAs_PTA_Violation_Detail_value</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <start>
        <locationX>1178</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Whether_cur_SchedStartTime_is_larger_than_PTA_14_29_44_59_mins_0_0</targetReference>
        </connector>
        <filterFormula>AND(
OR(ISPICKVAL({!$Record.Status},&quot;Dispatched&quot;),ISPICKVAL({!$Record.Status},&quot;Scheduled&quot;),ISPICKVAL({!$Record.Status},&quot;En Route&quot;)),
OR(ISCHANGED({!$Record.SchedStartTime}),ISCHANGED({!$Record.Status})),
{!$Record.Subject}=&quot;Breakdown Appointment&quot;,
NOT(ISBLANK({!$Record.SchedStartTime})),
NOT(ISBLANK({!$Record.PTA__c})),
NOT({!$Record.Work_Order__r.Servicing_Technology_Type__c} = &quot;Landline&quot;),
NOT(ISBLANK({!$Record.Work_Order__r.Priority_Code__c})),
CONTAINS({!$Label.PTA_Case_Priorities},{!$Record.Work_Order__r.Priority_Code__c})
)</filterFormula>
        <object>ServiceAppointment</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>New_SAs_PTA_Violation_Detail_value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>{!$Record.PTA_Violation_Detail__c} </stringValue>
        </value>
    </variables>
</Flow>
