unpackaged/main/default/flows/Screen_Flow_Clone_Reimbursement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Navigate_to_clone</name>
        <label>Navigate to clone</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>v_clonedReimb.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_to_var</name>
        <label>Assign to var</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>v_clonedReimb</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Reimbursement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_status</name>
        <label>Update status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>v_clonedReimb.ACG_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_clonedReimb.Name</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_clonedReimb.ACG_Pay_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Create_clone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_this_allocation</name>
        <label>Update this allocation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_allocations.Reimbursement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>v_clonedReimb.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_allocations.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_allocInserts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_allocations</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_allocations</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Allocations_to_inesrt</name>
        <label>Allocations to insert?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Navigate_to_clone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_insert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_allocInserts</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>v_allocInserts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_allocations</targetReference>
            </connector>
            <label>yes insert</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_id_not_null</name>
        <label>Record id not null</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_proceed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Reimbursement</targetReference>
            </connector>
            <label>yes proceed</label>
        </rules>
    </decisions>
    <description>SSFI-1214 - Clones reimbursement record but sets Manager Status to New
2025-08-01: Update to null Pay Date during clone (JWO SSFI-1333)</description>
    <environments>Default</environments>
    <interviewLabel>Screen Flow - Clone Reimbursement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen Flow - Clone Reimbursement</label>
    <loops>
        <name>Loop_allocations</name>
        <label>Loop allocations</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_allocations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_this_allocation</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Allocations_to_inesrt</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_allocations</name>
        <label>Create allocations</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Navigate_to_clone</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Navigate_to_clone</targetReference>
        </faultConnector>
        <inputReference>v_allocInserts</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_clone</name>
        <label>Create clone</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_allocations</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>v_clonedReimb</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_allocations</name>
        <label>Get allocations</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_allocations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Reimbursement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Allocations__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Reimbursement</name>
        <label>Get Reimbursement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Press_Next_to_Clone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ACG_Reimbursement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Errortext</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Unable to create cloned record. This may be because you do not have permission to create a Reimbursement record. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Press_Next_to_Clone</name>
        <label>Press &#39;Next&#39; to Clone</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_to_var</targetReference>
        </connector>
        <fields>
            <name>FinishText</name>
            <fieldText>&lt;p&gt;Press &#39;Next&#39; to clone record &lt;strong&gt;{!Get_Reimbursement.Name}.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Record_id_not_null</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_allocations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Allocations__c</objectType>
    </variables>
    <variables>
        <name>v_allocInserts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Allocations__c</objectType>
    </variables>
    <variables>
        <name>v_clonedReimb</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ACG_Reimbursement__c</objectType>
    </variables>
</Flow>
