unpackaged/main/default/flows/Service_Line_Item_Delete_History_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_values_to_SLIDHrec</name>
        <label>Assign values to SLIDHrec</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignmentItems>
            <assignToReference>SLIDHrec.Work_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Work_Order__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SLIDHrec.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Product__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SLIDHrec.Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Cost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SLIDHrec.Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Unit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SLIDHrec.SLI_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_SLIDH</targetReference>
        </connector>
    </assignments>
    <description>SSFI-490 Record deletes of Service Line Items for Audit History</description>
    <environments>Default</environments>
    <interviewLabel>Service Line Item Delete History Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Line Item Delete History Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_SLIDH</name>
        <label>Create SLIDH</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <inputReference>SLIDHrec</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_values_to_SLIDHrec</targetReference>
        </connector>
        <object>FSL_Service_Line_Item__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>SLIDHrec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_Line_Item_Delete_History__c</objectType>
    </variables>
</Flow>
