unpackaged/main/default/flows/Taxation_Autolaunched_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_BDown_City_Variable</name>
        <label>Assign BDown City Variable</label>
        <locationX>2877</locationX>
        <locationY>3074</locationY>
        <assignmentItems>
            <assignToReference>TaxRateByBreakDownCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Tax_Rate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Tax_Rate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Breakdown_State</name>
        <label>Assign Breakdown State</label>
        <locationX>2877</locationX>
        <locationY>1874</locationY>
        <assignmentItems>
            <assignToReference>TaxRateByBreakdownState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Tax_Rate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Checking_Service_Teritory_County</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_City_Variable</name>
        <label>Assign City Variable</label>
        <locationX>2877</locationX>
        <locationY>2774</locationY>
        <assignmentItems>
            <assignToReference>TaxRateByCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Tax_Rate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Breakdown_City_Condition</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_County_Variable</name>
        <label>Assign County Variable</label>
        <locationX>2877</locationX>
        <locationY>2474</locationY>
        <assignmentItems>
            <assignToReference>TaxRateByCounty</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Tax_Rate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>City_Condition</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Facility_City_Tax</name>
        <label>Assign Facility City Tax</label>
        <locationX>3009</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>TaxCityByCountyFacilityCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Tax_City_By_County</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Also_WO_City</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Facility_County_Variable</name>
        <label>Assign Facility County Variable</label>
        <locationX>2877</locationX>
        <locationY>2174</locationY>
        <assignmentItems>
            <assignToReference>TaxrateByFacilityCounty</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Tax_Rate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>County_Condition</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_State_Variable</name>
        <label>Assign State Variable</label>
        <locationX>2877</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>TaxRateByState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Tax_Rate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_by_Breakdown_State</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_WO_City</name>
        <label>Assign WO City</label>
        <locationX>3317</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>TaxCityByCountyWOCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Tax_City_By_County</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Tax_City_By_County</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_WO_City_Also</name>
        <label>Assign WO City Also</label>
        <locationX>2877</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>TaxCityByCountyWOCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Tax_City_By_County</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Tax_City_By_County</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignCalculatedTax</name>
        <label>AssignCalculatedTax</label>
        <locationX>138</locationX>
        <locationY>3782</locationY>
        <assignmentItems>
            <assignToReference>UpdateTaxValue.Tax__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalculateTax</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Populate_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignTaxRateForNY</name>
        <label>AssignTaxRateForNY</label>
        <locationX>50</locationX>
        <locationY>3566</locationY>
        <assignmentItems>
            <assignToReference>taxrate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TaxrateByFacilityCounty.Tax_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateTaxValue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GetTaxRateFromBreakdownCounty</name>
        <label>GetTaxRateFromBreakdownCounty</label>
        <locationX>5000</locationX>
        <locationY>4466</locationY>
        <assignmentItems>
            <assignToReference>taxrate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TaxRateByCounty.Tax_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>UpdateTaxValue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GetTaxRateFromBSState</name>
        <label>GetTaxRateFromBSState</label>
        <locationX>2789</locationX>
        <locationY>5192</locationY>
        <assignmentItems>
            <assignToReference>taxrate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TaxRateByBreakdownState.Tax_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>UpdateTaxValue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NJTroubleCodeMatched</name>
        <label>NJTroubleCodeMatched</label>
        <locationX>2074</locationX>
        <locationY>4106</locationY>
        <assignmentItems>
            <assignToReference>TroubleCodeMatched</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Trouble_Code_for_NJ</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>None_SD_OH_Matched</name>
        <label>None SD OH Matched</label>
        <locationX>4516</locationX>
        <locationY>3998</locationY>
        <assignmentItems>
            <assignToReference>TroubleCodeMatched</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Trouble_Code_For_None_SD_OH</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OH_Matched</name>
        <label>OH Matched</label>
        <locationX>5660</locationX>
        <locationY>3998</locationY>
        <assignmentItems>
            <assignToReference>TroubleCodeMatched</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OH_Loop_Trouble_Code</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_List</name>
        <label>Populate List</label>
        <locationX>138</locationX>
        <locationY>3890</locationY>
        <assignmentItems>
            <assignToReference>servLineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UpdateTaxValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateTaxValue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateMatchedCodeCondition</name>
        <label>UpdateMatchedCodeCondition</label>
        <locationX>3328</locationX>
        <locationY>3998</locationY>
        <assignmentItems>
            <assignToReference>TroubleCodeMatched</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Trouble_Code_for_Breakdown_State</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateTaxRateFacilityState</name>
        <label>UpdateTaxRateFacilityState</label>
        <locationX>1216</locationX>
        <locationY>4682</locationY>
        <assignmentItems>
            <assignToReference>taxrate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TaxRateByState.Tax_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>UpdateTaxValue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateTaxRateForBY</name>
        <label>UpdateTaxRateForBY</label>
        <locationX>2668</locationX>
        <locationY>4466</locationY>
        <assignmentItems>
            <assignToReference>taxrate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CityTaxPlusStateTax</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>UpdateTaxValue</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Breakdown_City_Condition</name>
        <label>Breakdown City Condition</label>
        <locationX>3009</locationX>
        <locationY>2966</locationY>
        <defaultConnector>
            <targetReference>Loop_Tax_Rate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Meet_BDown_City_Condition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Tax_Rate.County_City__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Work_Order_Details.City</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Tax_Rate.State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Work_Order_Details.State</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_BDown_City_Variable</targetReference>
            </connector>
            <label>Meet BDown City Condition</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_by_Breakdown_State</name>
        <label>Check by Breakdown State</label>
        <locationX>3009</locationX>
        <locationY>1766</locationY>
        <defaultConnector>
            <targetReference>Checking_Service_Teritory_County</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Breakdown_State</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Tax_Rate.State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Work_Order_Details.State</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Breakdown_State</targetReference>
            </connector>
            <label>Yes Breakdown State</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_by_Facility_State</name>
        <label>Check by Facility State</label>
        <locationX>3009</locationX>
        <locationY>1466</locationY>
        <defaultConnector>
            <targetReference>Check_by_Breakdown_State</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>State</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Tax_Rate.State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Work_Order_Details.ServiceTerritory.State</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_State_Variable</targetReference>
            </connector>
            <label>State</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Also_WO_City</name>
        <label>Check if Also WO City</label>
        <locationX>3009</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Loop_Tax_City_By_County</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Correct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Tax_City_By_County.City__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Work_Order_Details.City</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Tax_City_By_County.State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Work_Order_Details.State</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_WO_City_Also</targetReference>
            </connector>
            <label>Yes Correct</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Taxable</name>
        <label>Check If Taxable</label>
        <locationX>4290</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TaxFlagForFacility</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Taxation_City_by_County</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_None_SD_OH_Problem_Code</name>
        <label>Check None SD OH Problem Code</label>
        <locationX>4648</locationX>
        <locationY>3890</locationY>
        <defaultConnector>
            <targetReference>Loop_Trouble_Code_For_None_SD_OH</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Match_None_SD_OH_Problem_Code</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>None_SD_OH_Loop_Problem_Code.Problem_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Trouble_Code_For_None_SD_OH.Code__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>None_SD_OH_Loop_Problem_Code.State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Work_Order_Details.State</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>None_SD_OH_Matched</targetReference>
            </connector>
            <label>Match None SD OH Problem Code</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_WO_or_Facility_City</name>
        <label>Check WO or Facility City</label>
        <locationX>3295</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Loop_Tax_City_By_County</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Facility_City</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Tax_City_By_County.City__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Work_Order_Details.ServiceTerritory.City</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Tax_City_By_County.State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Work_Order_Details.ServiceTerritory.State</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Facility_City_Tax</targetReference>
            </connector>
            <label>Facility City</label>
        </rules>
        <rules>
            <name>WO_City</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Tax_City_By_County.City__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Work_Order_Details.City</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_WO_City</targetReference>
            </connector>
            <label>WO City</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckBYState</name>
        <label>CheckBYState</label>
        <locationX>2800</locationX>
        <locationY>4358</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckBY</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_problem_code_list.Problem_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Trouble_Code_for_Breakdown_State.Code__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateTaxRateForBY</targetReference>
            </connector>
            <label>CheckBY</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckFacilityTaxable</name>
        <label>CheckFacilityTaxable</label>
        <locationX>1348</locationX>
        <locationY>4574</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HasTaxable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TaxRateByState.Tax_Rate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Work_Order_Details.ServiceTerritory.Facility_Taxable__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateTaxRateFacilityState</targetReference>
            </connector>
            <label>HasTaxable</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckFSProblemCodeAndTroubleCode</name>
        <label>CheckFSProblemCodeAndTroubleCode</label>
        <locationX>1546</locationX>
        <locationY>4466</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckFSProblemCodeVSTroubleCode</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TroubleCodeMatched</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckFacilityTaxable</targetReference>
            </connector>
            <label>CheckFSProblemCodeVSTroubleCode</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_Service_Teritory_County</name>
        <label>Checking Service Teritory County</label>
        <locationX>3009</locationX>
        <locationY>2066</locationY>
        <defaultConnector>
            <targetReference>County_Condition</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checking_Facility_County</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Tax_Rate.County_City__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TaxCityByCountyFacilityCity.County__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Tax_Rate.State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Work_Order_Details.ServiceTerritory.State</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Facility_County_Variable</targetReference>
            </connector>
            <label>Checking Facility County</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckOHState</name>
        <label>CheckOHState</label>
        <locationX>5132</locationX>
        <locationY>4358</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckOHStateProblemCode</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TroubleCodeMatched</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetTaxRateFromBreakdownCounty</targetReference>
            </connector>
            <label>CheckOHStateProblemCode</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckProblemCodeFroSDAndOhio</name>
        <label>CheckProblemCodeFroSDAndOhio</label>
        <locationX>3988</locationX>
        <locationY>4358</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckProblemCodeFroSDVSOhio</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TroubleCodeMatched</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetTaxRateFromBSState</targetReference>
            </connector>
            <label>CheckProblemCodeFroSDVSOhio</label>
        </rules>
    </decisions>
    <decisions>
        <name>City_Condition</name>
        <label>City Condition</label>
        <locationX>3009</locationX>
        <locationY>2666</locationY>
        <defaultConnector>
            <targetReference>Breakdown_City_Condition</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Meets_City_Criteria</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Tax_Rate.County_City__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Work_Order_Details.ServiceTerritory.City</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Tax_Rate.State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Work_Order_Details.ServiceTerritory.State</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_City_Variable</targetReference>
            </connector>
            <label>Meets City Criteria</label>
        </rules>
    </decisions>
    <decisions>
        <name>County_Condition</name>
        <label>County Condition</label>
        <locationX>3009</locationX>
        <locationY>2366</locationY>
        <defaultConnector>
            <targetReference>City_Condition</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Meets_Criteria</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Tax_Rate.County_City__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TaxCityByCountyWOCity.County__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Tax_Rate.State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Work_Order_Details.State</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_County_Variable</targetReference>
            </connector>
            <label>Yes Meets Criteria</label>
        </rules>
    </decisions>
    <decisions>
        <name>Find_Out_Matched_Problem_Code_and_Trouble_Code</name>
        <label>Find Out Matched Problem Code and Trouble Code</label>
        <locationX>3460</locationX>
        <locationY>3890</locationY>
        <defaultConnector>
            <targetReference>Loop_Trouble_Code_for_Breakdown_State</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Match_Codes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_problem_code_list.Problem_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Trouble_Code_for_Breakdown_State.Code__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_problem_code_list.State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Work_Order_Details.State</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateMatchedCodeCondition</targetReference>
            </connector>
            <label>Match Codes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Find_Tax_Rate</name>
        <label>Find Tax Rate</label>
        <locationX>2789</locationX>
        <locationY>3458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckServiceTeritoryLocation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Order_Details.ServiceTerritory.State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TaxCityByCountyFacilityCity.County__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TaxrateByFacilityCounty.County_City__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignTaxRateForNY</targetReference>
            </connector>
            <label>CheckServiceTeritoryLocation</label>
        </rules>
        <rules>
            <name>CheckServiceTerritoryBS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Order_Details.State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetTaxRateFromBSState</targetReference>
            </connector>
            <label>CheckServiceTerritoryBS</label>
        </rules>
        <rules>
            <name>CheckServiceTerritoryFS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Order_Details.ServiceTerritory.State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NJ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsWorkOrderCancelled</targetReference>
            </connector>
            <label>CheckServiceTerritoryFS</label>
        </rules>
        <rules>
            <name>CheckServiceTerritoryBY</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Order_Details.State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Taxation_State_by_Breakdown_State</targetReference>
            </connector>
            <label>CheckServiceTerritoryBY</label>
        </rules>
        <rules>
            <name>CheckServiceTerrtorySDOhio</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Order_Details.State</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>SD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Work_Order_Details.State</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>OH</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Problem_Code_for_not_SD_OH</targetReference>
            </connector>
            <label>CheckServiceTerrtorySDOhio</label>
        </rules>
        <rules>
            <name>CheckServiceTerritoryOH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Order_Details.State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OH</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OH_Get_Problem_Code</targetReference>
            </connector>
            <label>CheckServiceTerritoryOH</label>
        </rules>
    </decisions>
    <decisions>
        <description>&quot;If the call is canceled, Res code X001/X002 - regardless of problem code, the call is not taxable.&quot; - PR893288-4023</description>
        <name>IsWorkOrderCancelled</name>
        <label>IsWorkOrderCancelled</label>
        <locationX>1018</locationX>
        <locationY>3566</locationY>
        <defaultConnector>
            <targetReference>Get_Problem_Code_for_NJ</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CheckProblemCode</defaultConnectorLabel>
        <rules>
            <name>WorkOrderCancelled</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Order_Details.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Work_Order_Details.Resolution_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>X001</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Work_Order_Details.Resolution_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>X002</stringValue>
                </rightValue>
            </conditions>
            <label>WorkOrderCancelled</label>
        </rules>
    </decisions>
    <decisions>
        <name>NJTroubleCodeMatch</name>
        <label>NJTroubleCodeMatch</label>
        <locationX>2206</locationX>
        <locationY>3998</locationY>
        <defaultConnector>
            <targetReference>Loop_Trouble_Code_for_NJ</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NJProblemCodeMatch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Problem_Code_for_NJ.Problem_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Trouble_Code_for_NJ.Code__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Problem_Code_for_NJ.State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Work_Order_Details.ServiceTerritory.State</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NJTroubleCodeMatched</targetReference>
            </connector>
            <label>NJProblemCodeMatch</label>
        </rules>
    </decisions>
    <decisions>
        <name>OH_Check_Problem_Code</name>
        <label>OH Check Problem Code</label>
        <locationX>5792</locationX>
        <locationY>3890</locationY>
        <defaultConnector>
            <targetReference>OH_Loop_Trouble_Code</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OH_Matched_Problem_Code</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OH_Loop_Problem_Code.Problem_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OH_Loop_Trouble_Code.Code__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OH_Loop_Problem_Code.State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Work_Order_Details.State</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OH_Matched</targetReference>
            </connector>
            <label>OH Matched Problem Code</label>
        </rules>
    </decisions>
    <description>1/24/2024</description>
    <environments>Default</environments>
    <formulas>
        <name>CalculateTax</name>
        <dataType>Currency</dataType>
        <expression>({!taxrate} * {!UpdateTaxValue.Cost__c} )/ 100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CityTaxPlusStateTax</name>
        <dataType>Currency</dataType>
        <expression>{!TaxRateByBreakdownState.Tax_Rate__c} + {!TaxRateByBreakDownCity.Tax_Rate__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TaxFlagForFacility</name>
        <dataType>Boolean</dataType>
        <expression>{!Get_Work_Order_Details.ServiceTerritory.Facility_Taxable__c}</expression>
    </formulas>
    <interviewLabel>Taxation Autolaunched Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Taxation Autolaunched Flow</label>
    <loops>
        <name>Loop_Problem_Code_for_NJ</name>
        <label>Loop Problem Code for NJ</label>
        <locationX>1546</locationX>
        <locationY>3782</locationY>
        <collectionReference>Get_Problem_Code_for_NJ</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_Trouble_Code_for_NJ</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CheckFSProblemCodeAndTroubleCode</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_problem_code_list</name>
        <label>Loop problem code list</label>
        <locationX>2800</locationX>
        <locationY>3674</locationY>
        <collectionReference>Get_Taxation_State_by_Breakdown_State</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_Trouble_Code_for_Breakdown_State</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CheckBYState</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Tax_City_By_County</name>
        <label>Loop Tax City By County</label>
        <locationX>2789</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_Taxation_City_by_County</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_WO_or_Facility_City</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Taxation_Tax_Rate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Tax_Rate</name>
        <label>Loop Tax Rate</label>
        <locationX>2789</locationX>
        <locationY>1358</locationY>
        <collectionReference>Get_Taxation_Tax_Rate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_by_Facility_State</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Trouble_Code_by_Breakdown_State</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Trouble_Code_for_Breakdown_State</name>
        <label>Loop Trouble Code for Breakdown State</label>
        <locationX>3240</locationX>
        <locationY>3782</locationY>
        <collectionReference>Get_Trouble_Code_by_Breakdown_State</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Find_Out_Matched_Problem_Code_and_Trouble_Code</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_problem_code_list</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Trouble_Code_for_NJ</name>
        <label>Loop Trouble Code for NJ</label>
        <locationX>1986</locationX>
        <locationY>3890</locationY>
        <collectionReference>Get_Trouble_Code_by_Breakdown_State</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>NJTroubleCodeMatch</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Problem_Code_for_NJ</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Trouble_Code_For_None_SD_OH</name>
        <label>Loop Trouble Code For None SD OH</label>
        <locationX>4428</locationX>
        <locationY>3782</locationY>
        <collectionReference>Get_Trouble_Code_by_Breakdown_State</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_None_SD_OH_Problem_Code</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>None_SD_OH_Loop_Problem_Code</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>None_SD_OH_Loop_Problem_Code</name>
        <label>None SD OH Loop Problem Code</label>
        <locationX>3988</locationX>
        <locationY>3674</locationY>
        <collectionReference>Get_Problem_Code_for_not_SD_OH</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_Trouble_Code_For_None_SD_OH</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CheckProblemCodeFroSDAndOhio</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>OH_Loop_Problem_Code</name>
        <label>OH Loop Problem Code</label>
        <locationX>5132</locationX>
        <locationY>3674</locationY>
        <collectionReference>OH_Get_Problem_Code</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>OH_Loop_Trouble_Code</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CheckOHState</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>OH_Loop_Trouble_Code</name>
        <label>OH Loop Trouble Code</label>
        <locationX>5572</locationX>
        <locationY>3782</locationY>
        <collectionReference>Get_Trouble_Code_by_Breakdown_State</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>OH_Check_Problem_Code</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>OH_Loop_Problem_Code</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>UpdateTaxValue</name>
        <label>UpdateTaxValue</label>
        <locationX>50</locationX>
        <locationY>3674</locationY>
        <collectionReference>listInputSLI</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignCalculatedTax</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Problem_Code_for_NJ</name>
        <label>Get Problem Code for NJ</label>
        <locationX>1546</locationX>
        <locationY>3674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Problem_Code_for_NJ</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>State__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Work_Order_Details.ServiceTerritory.State</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Taxation_State_by_Problem_Codes__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Problem_Code_for_not_SD_OH</name>
        <label>Get Problem Code for not SD OH</label>
        <locationX>3988</locationX>
        <locationY>3566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>None_SD_OH_Loop_Problem_Code</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>State__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Work_Order_Details.State</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Taxation_State_by_Problem_Codes__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Taxation_City_by_County</name>
        <label>Get Taxation - City by County</label>
        <locationX>2789</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Tax_City_By_County</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>City__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Work_Order_Details.ServiceTerritory.City</elementReference>
            </value>
        </filters>
        <filters>
            <field>City__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Work_Order_Details.City</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Taxation_City_by_County_Mapping__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Taxation_State_by_Breakdown_State</name>
        <label>Get Taxation State by Breakdown State</label>
        <locationX>2800</locationX>
        <locationY>3566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_problem_code_list</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>State__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Work_Order_Details.State</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Taxation_State_by_Problem_Codes__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Taxation_Tax_Rate</name>
        <label>Get Taxation - Tax Rate</label>
        <locationX>2789</locationX>
        <locationY>1250</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Tax_Rate</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Taxation_City_by_County__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Trouble_Code_by_Breakdown_State</name>
        <label>Get Trouble Code by Breakdown State</label>
        <locationX>2789</locationX>
        <locationY>3350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Tax_Rate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>workOrderId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PROBLEM</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FSL_TroubleCode__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order_Details</name>
        <label>Get Work Order Details</label>
        <locationX>4290</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Taxable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>workOrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>OH_Get_Problem_Code</name>
        <label>OH Get Problem Code</label>
        <locationX>5132</locationX>
        <locationY>3566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OH_Loop_Problem_Code</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>State__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Work_Order_Details.State</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Taxation_State_by_Problem_Codes__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>4164</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Work_Order_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>listInputSLI</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>FSL_Service_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>myEmail</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceTeritoryCounty</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AAA_Club_Details__mdt</objectType>
    </variables>
    <variables>
        <name>servLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>FSL_Service_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>TaxCityByCountyFacilityCity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Taxation_City_by_County_Mapping__mdt</objectType>
    </variables>
    <variables>
        <name>TaxCityByCountyWOCity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Taxation_City_by_County_Mapping__mdt</objectType>
    </variables>
    <variables>
        <name>taxrate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TaxRateByBreakDownCity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Taxation_City_by_County__mdt</objectType>
    </variables>
    <variables>
        <name>TaxRateByBreakdownState</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Taxation_City_by_County__mdt</objectType>
    </variables>
    <variables>
        <name>TaxRateByCity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Taxation_City_by_County__mdt</objectType>
    </variables>
    <variables>
        <name>TaxRateByCounty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Taxation_City_by_County__mdt</objectType>
    </variables>
    <variables>
        <name>TaxrateByFacilityCounty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Taxation_City_by_County__mdt</objectType>
    </variables>
    <variables>
        <name>TaxRateByState</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Taxation_City_by_County__mdt</objectType>
    </variables>
    <variables>
        <name>testingRes</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>TroubleCodeMatched</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>workOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
