unpackaged/main/default/flows/Tow_Service_Appointment_Calculated_Mileage.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Calculate_Mileage</name>
        <label>Calculate Mileage</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <actionName>FSL_MileageCalculatedUtility</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationLatitude</name>
            <value>
                <elementReference>DestinationLatitude</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationLongitude</name>
            <value>
                <elementReference>DestinationLongitude</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>originLatitude</name>
            <value>
                <elementReference>OriginLatitude</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>originLongitude</name>
            <value>
                <elementReference>OriginLongitude</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>productCode</name>
            <value>
                <stringValue>CT</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>workOrderId</name>
            <value>
                <elementReference>$Record.Work_Order__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FSL_MileageCalculatedUtility</nameSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Latitude_and_Longitude</name>
        <label>Assign Latitude and Longitude</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>OriginLatitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.FSL__Related_Service__r.FSL__InternalSLRGeolocation__Latitude__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OriginLongitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.FSL__Related_Service__r.FSL__InternalSLRGeolocation__Longitude__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DestinationLatitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.FSL__InternalSLRGeolocation__Latitude__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DestinationLongitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.FSL__InternalSLRGeolocation__Longitude__s</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calculate_Mileage</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_For_Address_Update</name>
        <label>Check For Address Update</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Address_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ServiceTerritory.Enable_Calculate_Mileage__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Latitude_and_Longitude</targetReference>
            </connector>
            <label>Address Changed</label>
        </rules>
    </decisions>
    <interviewLabel>FSL Tow Service Appointment Calculated Mileage {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Tow Service Appointment Calculated Mileage</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_For_Address_Update</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tow Appointment</stringValue>
            </value>
        </filters>
        <filters>
            <field>FSL__InternalSLRGeolocation__Latitude__s</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FSL__InternalSLRGeolocation__Longitude__s</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>DestinationLatitude</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>9</scale>
    </variables>
    <variables>
        <name>DestinationLongitude</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>9</scale>
    </variables>
    <variables>
        <name>OriginLatitude</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>9</scale>
    </variables>
    <variables>
        <name>OriginLongitude</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>9</scale>
    </variables>
</Flow>
