unpackaged/main/default/flows/Tracker_Declined_Call.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Values_from_SA</name>
        <label>Values from SA</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>RetrievedWorkOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Appointment.ParentRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RetrievedServiceAppointment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Appointment.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RetrievedTowAppointment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Appointment.FSL__Related_Service__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RetrievedServiceTerritory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Appointment.ServiceTerritoryId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Work_Order</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_there_an_assigned_resource</name>
        <label>Is there an assigned resource?</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Update_Work_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>There_is</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Assigned_Resource.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Assigned_Resource</targetReference>
            </connector>
            <label>There is</label>
        </rules>
    </decisions>
    <interviewLabel>Trac {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Tracker - Declined Call</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Remove_Assigned_Resource</name>
        <label>Remove Assigned Resource</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Update_Work_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Assigned_Resource.Id</elementReference>
            </value>
        </filters>
        <object>AssignedResource</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Assigned_Resource</name>
        <label>Get Assigned Resource</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_an_assigned_resource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceAppointmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RetrievedServiceAppointment</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AssignedResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Appointment</name>
        <label>Get Service Appointment</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Values_from_SA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Assigned_Resource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RetrievedWorkOrder</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Service_Appointment</name>
        <label>Update Service Appointment</label>
        <locationX>182</locationX>
        <locationY>1094</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RetrievedServiceAppointment</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FSL__InJeopardyReason__c</field>
            <value>
                <stringValue>Facility Declined</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__InJeopardy__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Work_Order</name>
        <label>Update Work Order</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Update_Service_Appointment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RetrievedWorkOrder</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Decline_Work_Reason__c</field>
            <value>
                <stringValue>SMS Declined</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>In_Jeopardy__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Resource__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Service_Appointment</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>CaseSubjectText</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>WO# {!Get_Work_Order.WorkOrderNumber} has been declined</text>
    </textTemplates>
    <textTemplates>
        <name>ChatterTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$User.FirstName} {!$User.LastName} from {!Get_Work_Order.ServiceTerritory.Name} has declined this Work Order. A Case has been created!</text>
    </textTemplates>
    <variables>
        <name>CollectionServiceAppointments</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RetrievedQueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RetrievedRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RetrievedServiceAppointment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RetrievedServiceTerritory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RetrievedTowAppointment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RetrievedWorkOrder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
