unpackaged/main/default/flows/Tracker_Outbound_Notifications_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>myRule_11_A1</name>
        <label>Send Notification</label>
        <locationX>578</locationX>
        <locationY>1055</locationY>
        <actionName>liveMessageNotificationNotFound</actionName>
        <actionType>liveMessageNotification</actionType>
        <connector>
            <targetReference>myRule_11_A2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>templateDeveloperName</name>
            <value>
                <stringValue>Tracker_Dispatched</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelDeveloperName</name>
            <value>
                <stringValue>TEXT_US_12072808687</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientRecordId</name>
            <value>
                <elementReference>$Record.Tracker_Assigned_Resource_Contact__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientPhone</name>
            <value>
                <elementReference>$Record.Tracker_Assigned_Resource_Contact__r.MobilePhone</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>myRule_16_A1</name>
        <label>Send Notification</label>
        <locationX>842</locationX>
        <locationY>1163</locationY>
        <actionName>liveMessageNotificationNotFound</actionName>
        <actionType>liveMessageNotification</actionType>
        <connector>
            <targetReference>myRule_16_A2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>templateDeveloperName</name>
            <value>
                <stringValue>Tracker_OnSite</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelDeveloperName</name>
            <value>
                <stringValue>TEXT_US_12072808687</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientRecordId</name>
            <value>
                <elementReference>$Record.Tracker_Assigned_Resource_Contact__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientPhone</name>
            <value>
                <elementReference>$Record.Tracker_Assigned_Resource_Contact__r.MobilePhone</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>myRule_1_A1</name>
        <label>Update Display StartTime</label>
        <locationX>177</locationX>
        <locationY>539</locationY>
        <actionName>Tracker_UpdateDisplayStartTime</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>myRule_4</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>saID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>starttime</name>
            <value>
                <elementReference>$Record.SchedStartTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>territoryId</name>
            <value>
                <elementReference>$Record.ServiceTerritoryId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Tracker_UpdateDisplayStartTime</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>myRule_21_A1</name>
        <label>Send Notification</label>
        <locationX>1106</locationX>
        <locationY>1271</locationY>
        <actionName>liveMessageNotificationNotFound</actionName>
        <actionType>liveMessageNotification</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>templateDeveloperName</name>
            <value>
                <stringValue>Tracker_Completed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelDeveloperName</name>
            <value>
                <stringValue>TEXT_US_12072808687</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientRecordId</name>
            <value>
                <elementReference>$Record.Tracker_Assigned_Resource_Contact__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientPhone</name>
            <value>
                <elementReference>$Record.Tracker_Assigned_Resource_Contact__r.MobilePhone</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>myRule_26_A1</name>
        <label>Send Notification</label>
        <locationX>1370</locationX>
        <locationY>1379</locationY>
        <actionName>liveMessageNotificationNotFound</actionName>
        <actionType>liveMessageNotification</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>templateDeveloperName</name>
            <value>
                <stringValue>Tracker_Canceled</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelDeveloperName</name>
            <value>
                <stringValue>TEXT_US_12072808687</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientRecordId</name>
            <value>
                <elementReference>$Record.Tracker_Assigned_Resource_Contact__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientPhone</name>
            <value>
                <elementReference>$Record.Tracker_Assigned_Resource_Contact__r.MobilePhone</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>myRule_4_A1</name>
        <label>Send Notification</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <actionName>liveMessageNotificationNotFound</actionName>
        <actionType>liveMessageNotification</actionType>
        <connector>
            <targetReference>myRule_4_A2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>templateDeveloperName</name>
            <value>
                <stringValue>Tracker_Unscheduled</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelDeveloperName</name>
            <value>
                <stringValue>TEXT_US_12072808687</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientRecordId</name>
            <value>
                <elementReference>$Record.Tracker_Assigned_Resource_Contact__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientPhone</name>
            <value>
                <elementReference>$Record.Tracker_Assigned_Resource_Contact__r.MobilePhone</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>myRule_6_A1</name>
        <label>Send Notification</label>
        <locationX>314</locationX>
        <locationY>947</locationY>
        <actionName>liveMessageNotificationNotFound</actionName>
        <actionType>liveMessageNotification</actionType>
        <connector>
            <targetReference>myRule_6_A2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>templateDeveloperName</name>
            <value>
                <stringValue>Tracker_Scheduled</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelDeveloperName</name>
            <value>
                <stringValue>TEXT_US_12072808687</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientRecordId</name>
            <value>
                <elementReference>$Record.Tracker_Assigned_Resource_Contact__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientPhone</name>
            <value>
                <elementReference>$Record.Tracker_Assigned_Resource_Contact__r.MobilePhone</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>myRule_1</name>
        <label>Update StartTime Display String</label>
        <locationX>309</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>myRule_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Update StartTime Display String</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SchedStartTime</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>TRUE_Update StartTime Display String</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_11</name>
        <label>Dispatched</label>
        <locationX>825</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>myRule_16</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Dispatched</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_11</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StatusCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dispatched</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tracker_Assigned_Resource_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tracker_Assigned_Resource_Contact__r.MobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StatusCategory</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SchedStartTime</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tracker_Assigned_Resource_Contact__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_11_A1</targetReference>
            </connector>
            <label>TRUE_Dispatched</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_16</name>
        <label>OnSite</label>
        <locationX>1073</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>myRule_21</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_OnSite</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_16</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StatusCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>InProgress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tracker_Assigned_Resource_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tracker_Assigned_Resource_Contact__r.MobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StatusCategory</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SchedStartTime</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tracker_Assigned_Resource_Contact__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_16_A1</targetReference>
            </connector>
            <label>TRUE_OnSite</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_21</name>
        <label>Completed</label>
        <locationX>1304</locationX>
        <locationY>1163</locationY>
        <defaultConnector>
            <targetReference>myRule_26</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Completed</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_21</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StatusCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tracker_Assigned_Resource_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tracker_Assigned_Resource_Contact__r.MobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StatusCategory</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SchedStartTime</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tracker_Assigned_Resource_Contact__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_21_A1</targetReference>
            </connector>
            <label>TRUE_Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_26</name>
        <label>Canceled</label>
        <locationX>1502</locationX>
        <locationY>1271</locationY>
        <defaultConnectorLabel>FALSE_Canceled</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_26</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StatusCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tracker_Assigned_Resource_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tracker_Assigned_Resource_Contact__r.MobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StatusCategory</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SchedStartTime</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tracker_Assigned_Resource_Contact__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_26_A1</targetReference>
            </connector>
            <label>TRUE_Canceled</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_4</name>
        <label>None (Clear AR)</label>
        <locationX>309</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>myRule_6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_None (Clear AR)</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StatusCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tracker_Assigned_Resource_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_4_A1</targetReference>
            </connector>
            <label>TRUE_None (Clear AR)</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_6</name>
        <label>Scheduled</label>
        <locationX>569</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>myRule_11</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Scheduled</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_6</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StatusCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tracker_Assigned_Resource_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tracker_Assigned_Resource_Contact__r.MobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StatusCategory</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SchedStartTime</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tracker_Assigned_Resource_Contact__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_6_A1</targetReference>
            </connector>
            <label>TRUE_Scheduled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skip_Automation_Logic</name>
        <label>Skip Automation Logic</label>
        <locationX>1103</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>no_do_not_bypass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Skip_Automation_Logic</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1</targetReference>
            </connector>
            <label>no, do not bypass</label>
        </rules>
    </decisions>
    <description>Migrated from the Tracker - Outbound Notifications process using multiple criteria.
v3  AGB Dev Ops</description>
    <environments>Default</environments>
    <interviewLabel>Tracker - Outbound Notifications_1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Tracker - Outbound Notifications_1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>myRule_11_A2</name>
        <label>Set Context</label>
        <locationX>578</locationX>
        <locationY>1163</locationY>
        <inputAssignments>
            <field>Tracker_BotContext__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Tracker_Assigned_Resource_Contact__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_16_A2</name>
        <label>Set Context</label>
        <locationX>842</locationX>
        <locationY>1271</locationY>
        <inputAssignments>
            <field>Tracker_BotContext__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Tracker_Assigned_Resource_Contact__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_4_A2</name>
        <label>Clear AR</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <inputAssignments>
            <field>Tracker_Assigned_Resource_Contact__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_6_A2</name>
        <label>Set Context</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <inputAssignments>
            <field>Tracker_BotContext__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Tracker_Assigned_Resource_Contact__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>977</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Skip_Automation_Logic</targetReference>
        </connector>
        <object>ServiceAppointment</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
