unpackaged/main/default/flows/Tracker_Update_Appointment_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Copy_1_of_Set_Error_Text</name>
        <label>Copy 1 of Set Error Text</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>strError</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error: {!$Flow.FaultMessage}</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Error_Text</name>
        <label>Set Error Text</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>strError</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error: {!$Flow.FaultMessage}</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>setStatus</name>
        <label>setStatus</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>objSA.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>strStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckIfStatusCleared</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>statusResolution</name>
        <label>statusResolution</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>objSA.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>strStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objSA.Resolution_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>strStoreResCodes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objSA.ParentRecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Update_SA</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckIfStatusCleared</name>
        <label>CheckIfStatusCleared</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Update_SA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>StatusCleared</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>strStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cleared</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>statusResolution</targetReference>
            </connector>
            <label>StatusCleared</label>
        </rules>
    </decisions>
    <description>Added workOrder WOID and get records using WOID.</description>
    <environments>Default</environments>
    <interviewLabel>Tracker - Update Appointment Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Tracker - Update Appointment Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_WO_Id</name>
        <label>Get WO Id</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_WO_Res_Code</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_SA</name>
        <label>Copy 1 of Update SA</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Get_WO_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objSA.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cleared_Timestamp__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Cleared__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resolution_Code__c</field>
            <value>
                <elementReference>strStoreResCodes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>strStatus</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SA</name>
        <label>Update SA</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <faultConnector>
            <targetReference>Set_Error_Text</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objSA.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>strStatus</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WO_Res_Code</name>
        <label>Update WO Res Code</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <faultConnector>
            <targetReference>Copy_1_of_Set_Error_Text</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objSA.ParentRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cleared_Timestamp__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resolution_Code__c</field>
            <value>
                <elementReference>objSA.Resolution_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Cleared</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>setStatus</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>objSA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>storeResCode</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The Status to update the Service Appointment to</description>
        <name>strStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strStoreResCodes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WOID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
