unpackaged/main/default/flows/Tracker_Update_ETA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Error_Text_0</name>
        <label>Set Error Text</label>
        <locationX>842</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>strError</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error: {!$Flow.FaultMessage}</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Error_Text_0_0</name>
        <label>Set Error Text</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>strError</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error: {!$Flow.FaultMessage}</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Start_and_End</name>
        <label>Set Start and End</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>objSA.SchedStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalcStartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objSA.SchedEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalcEndTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objSA.Work_Acceptance_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Accept</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Breakdown_SA</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_there_a_related_service</name>
        <label>Is there a related service</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tow_Appointment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objSA.FSL__Related_Service__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Tow_Appointment</targetReference>
            </connector>
            <label>Tow Appointment</label>
        </rules>
    </decisions>
    <description>Update Start/End Times</description>
    <formulas>
        <name>CalcEndTime</name>
        <dataType>DateTime</dataType>
        <expression>({!$Flow.CurrentDateTime}+(({!EnteredETA}+20)/1440))</expression>
    </formulas>
    <formulas>
        <name>CalcStartTime</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + ({!EnteredETA} / 1440)</expression>
    </formulas>
    <formulas>
        <name>CalcTowEnd</name>
        <dataType>DateTime</dataType>
        <expression>({!$Flow.CurrentDateTime}+({!EnteredETA}/1440))+(40/1440)</expression>
    </formulas>
    <formulas>
        <name>CalcTowStart</name>
        <dataType>DateTime</dataType>
        <expression>({!$Flow.CurrentDateTime}+({!EnteredETA}/1440))+(20/1440)</expression>
    </formulas>
    <interviewLabel>Tracker - Update ETA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Tracker - Update ETA</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Breakdown_SA</name>
        <label>Update Breakdown SA</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Is_there_a_related_service</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error_Text_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objSA.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SchedEndTime</field>
            <value>
                <elementReference>CalcEndTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SchedStartTime</field>
            <value>
                <elementReference>CalcStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Acceptance_Status__c</field>
            <value>
                <stringValue>Accept</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Tow_Appointment</name>
        <label>Update Tow Appointment</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <faultConnector>
            <targetReference>Set_Error_Text_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTowAppointment</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SchedEndTime</field>
            <value>
                <elementReference>CalcTowEnd</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SchedStartTime</field>
            <value>
                <elementReference>CalcTowStart</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Acceptance_Status__c</field>
            <value>
                <stringValue>Accept</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Start_and_End</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>emailmevalues</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>START: {!CalcStartTime}
END: {!CalcEndTime}
ENTERED: {!EnteredETA}
ERROR: {!strError}</text>
    </textTemplates>
    <variables>
        <name>EnteredETA</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>objSA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>strError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTowAppointment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>objSA.FSL__Related_Service__c</elementReference>
        </value>
    </variables>
</Flow>
