unpackaged/main/default/flows/Trigger_Robocall.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_WO_Id</name>
        <label>Add WO Id</label>
        <locationX>270</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>WOIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Add_Ids_to_Collection.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Ids_to_Collection</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>DriverOnLocationUpdate</name>
        <choiceText>Driver on Location Update</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Driver on Location Update</stringValue>
        </value>
    </choices>
    <choices>
        <name>x15minupdate</name>
        <choiceText>15 minute update</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>15 minute update</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Breakdown_SA_Exists</name>
        <label>Breakdown SA Exists?</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>NoBreakdwon</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No breakdown</defaultConnectorLabel>
        <rules>
            <name>Yes_Breakdown</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SA</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Choose_Robocall_Type</targetReference>
            </connector>
            <label>Yes Breakdown</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Trigger Robocall {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Trigger Robocall</label>
    <loops>
        <name>Add_Ids_to_Collection</name>
        <label>Add WO Ids to Collection</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <collectionReference>Work_Order</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_WO_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_SA</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Robocall_Platform_Event</name>
        <label>Create Robocall Platform Event</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <inputAssignments>
            <field>Call_Id__c</field>
            <value>
                <elementReference>Get_SA.D3_Call_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETA__c</field>
            <value>
                <elementReference>Get_SA.SchedStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Facility_Name__c</field>
            <value>
                <elementReference>Get_SA.ServiceTerritory.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Member_Phone__c</field>
            <value>
                <elementReference>Get_SA.Contact.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>Robocall_Type</elementReference>
            </value>
        </inputAssignments>
        <object>Robocall_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_SA</name>
        <label>Get SA</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Breakdown_SA_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>In</operator>
            <value>
                <elementReference>WOIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>isBreakdown__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Work_Order</name>
        <label>Work Order</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Ids_to_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrder</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Choose_Robocall_Type</name>
        <label>Choose Robocall Type</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Robocall_Platform_Event</targetReference>
        </connector>
        <fields>
            <name>Robocall_Type</name>
            <choiceReferences>x15minupdate</choiceReferences>
            <choiceReferences>DriverOnLocationUpdate</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Robocall Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoBreakdwon</name>
        <label>NoBreakdwon</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Nobreakdowntext</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;No breakdown Service Appointment exists for this case.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Work_Order</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WOIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
