unpackaged/main/default/flows/Uncheck_Charged_Entitlement_for_Reimbursements_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_service_contract_to_collection</name>
        <label>Add service contract to collection</label>
        <locationX>1799</locationX>
        <locationY>2321</locationY>
        <assignmentItems>
            <assignToReference>v_svcContractsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>svcContract</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Service_Contract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Battery_Consumed_true</name>
        <label>Battery Consumed = true</label>
        <locationX>578</locationX>
        <locationY>1853</locationY>
        <assignmentItems>
            <assignToReference>svcContract.AAA_Battery_Consumed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateServiceContract</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Service_Contract_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Long_Tow_Consumed_true</name>
        <label>Long Tow Consumed = false</label>
        <locationX>1722</locationX>
        <locationY>1745</locationY>
        <assignmentItems>
            <assignToReference>v_parentServiceContract.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Service_Contract__r.ParentServiceContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_parentServiceContract.AAA_Long_Tow_Consumed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_svcContractsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>v_parentServiceContract</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateServiceContract</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Service_Contract_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Decrement total calls consumed field by 1</description>
        <name>Decrease_Total_Call_Consumption</name>
        <label>Decrease Total Call Consumption</label>
        <locationX>1854</locationX>
        <locationY>1529</locationY>
        <assignmentItems>
            <assignToReference>svcContract.AAA_Total_of_Calls_Consumed__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateServiceContract</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateReimbursement</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Call_Consumed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Long_Tow_Not_Consumed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Home_Lockout_Consumed_true</name>
        <label>Home Lockout Consumed = true</label>
        <locationX>842</locationX>
        <locationY>1853</locationY>
        <assignmentItems>
            <assignToReference>svcContract.AAA_Home_Lockout_Consumed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateServiceContract</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Service_Contract_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increase_Total_Call_Consumption</name>
        <label>Increase Total Call Consumption</label>
        <locationX>1260</locationX>
        <locationY>1529</locationY>
        <assignmentItems>
            <assignToReference>svcContract.AAA_Total_of_Calls_Consumed__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateServiceContract</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateReimbursement</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Call_Consumed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Consumed_picklist_values_selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Long_Tow_Consumed_true</name>
        <label>Long Tow Consumed = true</label>
        <locationX>1106</locationX>
        <locationY>1853</locationY>
        <assignmentItems>
            <assignToReference>v_parentServiceContract.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Service_Contract__r.ParentServiceContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_parentServiceContract.AAA_Long_Tow_Consumed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_svcContractsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>v_parentServiceContract</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateServiceContract</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Service_Contract_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Service_Contract_into_svcContract</name>
        <label>Store Service Contract into &quot;svcContract&quot;</label>
        <locationX>1056</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>svcContract</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Related_Service_Contract</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_ACA_org</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Uncheck_Charge_Entitlement</name>
        <label>Uncheck &quot;Charge Entitlement&quot;</label>
        <locationX>1909</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>$Record.ACG_Charge_Entitlement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateReimbursement</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Was_the_call_consumed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Add_or_Subtract_Call</name>
        <label>Add or Subtract Call?</label>
        <locationX>2063</locationX>
        <locationY>1421</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add</name>
            <conditionLogic>((1 AND (2 OR 3) AND 4) OR (1 AND 5 AND (2 OR 3 ))) AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ACG_Charge_Entitlement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ACG_Decision__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ACG_Decision__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partially Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ACG_Decision__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ACG_Charge_Entitlement__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Call_Consumed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increase_Total_Call_Consumption</targetReference>
            </connector>
            <label>Add</label>
        </rules>
        <rules>
            <name>Subtract</name>
            <conditionLogic>(( 4 AND (1 OR 3) AND 2 ) OR ( 5 AND (1 OR 3) AND 2 )) AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ACG_Decision__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ACG_Charge_Entitlement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ACG_Decision__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partially Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ACG_Decision__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ACG_Charge_Entitlement__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Call_Consumed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decrease_Total_Call_Consumption</targetReference>
            </connector>
            <label>Subtract</label>
        </rules>
        <rules>
            <name>Consume_Long_Tow_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Entitlement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PIX</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ACG_Decision__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ACG_Decision__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Entitlement__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ACG_Charge_Entitlement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Long_Tow_Consumed_true</targetReference>
            </connector>
            <label>Consume Long Tow Only</label>
        </rules>
        <rules>
            <name>Restore_Long_Tow_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Entitlement__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Entitlement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PIX</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ACG_Decision__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ACG_Charge_Entitlement__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ACG_Charge_Entitlement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Copy_1_of_Long_Tow_Consumed_true</targetReference>
            </connector>
            <label>Restore Long Tow Only</label>
        </rules>
        <rules>
            <name>Just_update_Reimbursement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>updateReimbursement</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Service_Contract_1</targetReference>
            </connector>
            <label>Just update Reimbursement</label>
        </rules>
    </decisions>
    <decisions>
        <name>Add_or_Subtract_Call_ACA</name>
        <label>Add or Subtract Call?</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_ACA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Call_Consumed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ACG_Charge_Entitlement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ACG_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Decision Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Increase_Total_Call_Consumption</targetReference>
            </connector>
            <label>Add</label>
        </rules>
        <rules>
            <name>Subtract_ACA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Call_Consumed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ACG_Charge_Entitlement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ACG_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Decision Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Decrease_Total_Call_Consumption</targetReference>
            </connector>
            <label>Subtract</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Consumed_picklist_values_selected</name>
        <label>Check if Consumed picklist values selected</label>
        <locationX>1260</locationX>
        <locationY>1637</locationY>
        <defaultConnector>
            <targetReference>Update_Service_Contract_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Consumed_Selected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Entitlement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Entitlement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PB</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Entitlement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PIX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Consume_Specific_Entitlement</targetReference>
            </connector>
            <label>Consumed Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Consume_Specific_Entitlement</name>
        <label>Consume Specific Entitlement</label>
        <locationX>974</locationX>
        <locationY>1745</locationY>
        <defaultConnector>
            <targetReference>Update_Service_Contract_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Consume_PB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Entitlement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PB</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Battery_Consumed_true</targetReference>
            </connector>
            <label>Consume PB</label>
        </rules>
        <rules>
            <name>Consume_HL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Entitlement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Home_Lockout_Consumed_true</targetReference>
            </connector>
            <label>Consume HL</label>
        </rules>
        <rules>
            <name>Consume_PIX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Entitlement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PIX</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Contract__r.ParentServiceContractId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Long_Tow_Consumed_true</targetReference>
            </connector>
            <label>Consume PIX</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_ACA_org</name>
        <label>Is ACA org?</label>
        <locationX>1056</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Is_Decision_Denied</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_ACA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.BackOffice_Settings__c.Club_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>212</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_or_Subtract_Call_ACA</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Data_Migration_User</name>
        <label>Is Data Migration User?</label>
        <locationX>807</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Get_Related_Service_Contract</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Skip_Automation_Logic</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Decision_Denied</name>
        <label>Is &quot;Decision&quot; &#39;Denied&#39;?</label>
        <locationX>2063</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Add_or_Subtract_Call</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Denied</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ACG_Decision__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Denied</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ACG_Charge_Entitlement__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Uncheck_Charge_Entitlement</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service_Contract_Exists</name>
        <label>Service Contract Exists</label>
        <locationX>2093</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Service_Contract_for_Reimbursement_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Service_Contract</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_Service_Contract_into_svcContract</targetReference>
            </connector>
            <label>Service Contract for Reimbursement Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_Long_Tow_Not_Consumed</name>
        <label>Set Long Tow Not Consumed</label>
        <locationX>1854</locationX>
        <locationY>1637</locationY>
        <defaultConnector>
            <targetReference>Update_Service_Contract_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_long_tow_NOT_consumed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Entitlement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PIX</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Entitlement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PIX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Long_Tow_Consumed_true</targetReference>
            </connector>
            <label>yes long tow NOT consumed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Reimbursement_1</name>
        <label>Update Reimbursement?</label>
        <locationX>2063</locationX>
        <locationY>2861</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_Reimbursement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>updateReimbursement</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Reimbursement</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Service_Contract_1</name>
        <label>Update Service Contract?</label>
        <locationX>2063</locationX>
        <locationY>2213</locationY>
        <defaultConnector>
            <targetReference>Update_Reimbursement_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>updateServiceContract</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_service_contract_to_collection</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_the_call_consumed</name>
        <label>Was the call consumed?</label>
        <locationX>1909</locationX>
        <locationY>1079</locationY>
        <defaultConnector>
            <targetReference>Add_or_Subtract_Call</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Call_consumed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Call_Consumed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Decrease_Total_Call_Consumption</targetReference>
            </connector>
            <label>Call consumed</label>
        </rules>
    </decisions>
    <description>05/30/2024: PR893288-4102
3/19/2025: SSFI-744 AGB
06/30/2025: Update logic for consuming/returning long tow</description>
    <environments>Default</environments>
    <interviewLabel>Uncheck Charged Entitlement for Reimbursements Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Uncheck Charged Entitlement for Reimbursements Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Update_Reimbursement_exception</name>
        <label>&quot;Update Reimbursement&quot; exception</label>
        <locationX>2063</locationX>
        <locationY>3077</locationY>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operation__c</field>
            <value>
                <stringValue>Uncheck Charged Entitlement for Reimbursements Flow &quot;Update Reimbursement&quot;</stringValue>
            </value>
        </inputAssignments>
        <object>FSL_Application_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Update_Service_Contract_exception</name>
        <label>&quot;Update Service Contract&quot; exception</label>
        <locationX>2063</locationX>
        <locationY>2537</locationY>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operation__c</field>
            <value>
                <stringValue>Uncheck Charged Entitlement for Reimbursements Flow &quot;Update Service Contract&quot;</stringValue>
            </value>
        </inputAssignments>
        <object>FSL_Application_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get related service contract</description>
        <name>Get_Related_Service_Contract</name>
        <label>Get Related Service Contract</label>
        <locationX>2093</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Service_Contract_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Service_Contract__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceContract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Reimbursement</name>
        <label>Update Reimbursement</label>
        <locationX>1799</locationX>
        <locationY>2969</locationY>
        <faultConnector>
            <targetReference>Update_Reimbursement_exception</targetReference>
        </faultConnector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Save the changes made to total reciprocals</description>
        <name>Update_Service_Contract</name>
        <label>Update Service Contract</label>
        <locationX>1799</locationX>
        <locationY>2429</locationY>
        <connector>
            <targetReference>Update_Reimbursement_1</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Service_Contract_exception</targetReference>
        </faultConnector>
        <inputReference>v_svcContractsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>681</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Data_Migration_User</targetReference>
        </connector>
        <filterLogic>((1 OR 2)) OR 3</filterLogic>
        <filters>
            <field>ACG_Decision__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>ACG_Decision__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Partially Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>ACG_Decision__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Denied</stringValue>
            </value>
        </filters>
        <object>ACG_Reimbursement__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>svcContract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceContract</objectType>
    </variables>
    <variables>
        <name>updateReimbursement</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>updateServiceContract</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>v_parentServiceContract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceContract</objectType>
    </variables>
    <variables>
        <name>v_svcContractsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceContract</objectType>
    </variables>
</Flow>
