unpackaged/main/default/flows/Update_Deferred_Invoice_To_New_Statement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Statement_Values</name>
        <label>Assign Statement Values</label>
        <locationX>248</locationX>
        <locationY>1871</locationY>
        <assignmentItems>
            <assignToReference>newStatement.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newStatement.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>statementEndDateFinal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newStatement.Statement_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StatementName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newStatement.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unreconciled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newStatement.Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Service_Territory__r.Group__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newStatement.Service_Territory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Service_Territory__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Statement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_To_finalStatement</name>
        <label>Assign To finalStatement</label>
        <locationX>248</locationX>
        <locationY>2087</locationY>
        <assignmentItems>
            <assignToReference>finalStatement</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newStatement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Invoice_To_New_Statement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_To_finalStatement_1</name>
        <label>Assign To finalStatement</label>
        <locationX>842</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>finalStatement</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Date_Active_Statement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Invoice_To_New_Statement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_To_finalStatement_2</name>
        <label>Assign To finalStatement</label>
        <locationX>1106</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>finalStatement</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cleared_Date_Active_Statement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Invoice_To_New_Statement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Dec_31st_End_Date</name>
        <label>Dec 31st End Date</label>
        <locationX>314</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>statementEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EndDate31stDec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Monthly_Payment_Schedule_Calc</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Dec_Assignment</name>
        <label>Dec Assignment</label>
        <locationX>116</locationX>
        <locationY>1679</locationY>
        <assignmentItems>
            <assignToReference>statementEndDateMonthly</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EndDate31stDec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Statement_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>End_Date_is_15th</name>
        <label>End Date is 15th</label>
        <locationX>50</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>statementEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>endDate15th</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Monthly_Payment_Schedule_Calc</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EndDateLastDayOfMonth</name>
        <label>EndDateLastDayOfMonth</label>
        <locationX>578</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>statementEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LastDayOfMonth</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Monthly_Payment_Schedule_Calc</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Is_New_Statement</name>
        <label>Is New Statement</label>
        <locationX>248</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>isNewStatement</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decide_End_Date_Path</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Month_End_Assignment</name>
        <label>Month End Assignment</label>
        <locationX>380</locationX>
        <locationY>1679</locationY>
        <assignmentItems>
            <assignToReference>statementEndDateMonthly</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LastDayOfMonth</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Statement_Values</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Cleared_Date_Statement_Exists</name>
        <label>Check if Cleared Date Statement Exists</label>
        <locationX>825</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Assign_To_finalStatement_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Does_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cleared_Date_Active_Statement</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Current_Date_Active_Statement</targetReference>
            </connector>
            <label>Does Not Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Current_Statement_Exists</name>
        <label>Check If Current Statement Exists</label>
        <locationX>545</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Assign_To_finalStatement_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Does_Not_Exist_Current</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Current_Date_Active_Statement</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_New_Statement</targetReference>
            </connector>
            <label>Does Not Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decide_End_Date_Path</name>
        <label>Decide End Date Path</label>
        <locationX>248</locationX>
        <locationY>1079</locationY>
        <defaultConnector>
            <targetReference>End_Date_Not_15th</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X15th_End_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DayInNumber</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>15.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>End_Date_is_15th</targetReference>
            </connector>
            <label>15th End Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>End_Date_Not_15th</name>
        <label>End Date Not 15th</label>
        <locationX>446</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>EndDateLastDayOfMonth</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Last_Date_Dec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MonthInNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>12.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dec_31st_End_Date</targetReference>
            </connector>
            <label>Last Date Dec</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Data_Migration_User</name>
        <label>Is Data Migration User?</label>
        <locationX>441</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Was_Updated_From_Deferred_And_Current_Statement_Processed_And_Reconciled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Skip_Automation_Logic</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Monthly_Payment_Schedule_Calc</name>
        <label>Monthly Payment Schedule Calc</label>
        <locationX>248</locationX>
        <locationY>1571</locationY>
        <defaultConnector>
            <targetReference>Month_End_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Month_Is_Dec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MonthInNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>12.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dec_Assignment</targetReference>
            </connector>
            <label>Month Is Dec</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Updated_From_Deferred_And_Current_Statement_Processed_And_Reconciled</name>
        <label>Was Updated From Deferred And Current Statement Processed And Reconciled?</label>
        <locationX>1097</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Deferred</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deferred</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready for Processing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Statement__r.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reconciled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Cleared_Date_Active_Statement</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>04/05/2024: v3 PR893288-4778</description>
    <environments>Default</environments>
    <formulas>
        <name>ClearedDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Record.Work_Order__r.Cleared_Timestamp__c})</expression>
    </formulas>
    <formulas>
        <name>DayInNumber</name>
        <dataType>Number</dataType>
        <expression>DAY({!Today})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>endDate15th</name>
        <dataType>Date</dataType>
        <expression>DATE({!Year},{!MonthInNumber},15)</expression>
    </formulas>
    <formulas>
        <name>EndDate31stDec</name>
        <dataType>Date</dataType>
        <expression>DATE({!Year},12,31)</expression>
    </formulas>
    <formulas>
        <name>LastDayOfMonth</name>
        <dataType>Date</dataType>
        <expression>{!NextMonthStartDate} - 1</expression>
    </formulas>
    <formulas>
        <name>MonthInNumber</name>
        <dataType>Number</dataType>
        <expression>MONTH({!Today})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>NextMonthInNumber</name>
        <dataType>Number</dataType>
        <expression>{!MonthInNumber} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>NextMonthStartDate</name>
        <dataType>Date</dataType>
        <expression>DATE({!Year},{!NextMonthInNumber},1)</expression>
    </formulas>
    <formulas>
        <name>statementEndDateFinal</name>
        <dataType>Date</dataType>
        <expression>IF(
TEXT({!$Record.Service_Territory__r.Payment_Schedule__c}) = &#39;Monthly&#39;, 
{!statementEndDateMonthly}, 
{!statementEndDate}
)</expression>
    </formulas>
    <formulas>
        <name>StatementName</name>
        <dataType>String</dataType>
        <expression>IF(
TEXT({!$Record.Service_Territory__r.Payment_Schedule__c}) = &#39;Monthly&#39;, 
{!$Record.Service_Territory__r.Name} + &#39; &#39; +  &#39;(&#39; + TEXT({!Today}) + &#39; - &#39;+ TEXT({!statementEndDateMonthly}) + &#39;)&#39;, 
{!$Record.Service_Territory__r.Name} + &#39; &#39; +  &#39;(&#39; + TEXT({!Today}) + &#39; - &#39;+ TEXT({!statementEndDate}) + &#39;)&#39;
)</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}</expression>
    </formulas>
    <formulas>
        <name>Year</name>
        <dataType>Number</dataType>
        <expression>YEAR({!Today})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Update Deferred Invoice To New Statement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Deferred Invoice To New Statement</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Statement</name>
        <label>Create Statement</label>
        <locationX>248</locationX>
        <locationY>1979</locationY>
        <connector>
            <targetReference>Assign_To_finalStatement</targetReference>
        </connector>
        <inputReference>newStatement</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Current_Date_Active_Statement</name>
        <label>Current Date Active Statement</label>
        <locationX>545</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Current_Statement_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Unreconciled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Territory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Service_Territory__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Statement__c</object>
        <sortField>Start_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cleared_Date_Active_Statement</name>
        <label>Cleared Date Active Statement</label>
        <locationX>825</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Cleared_Date_Statement_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Unreconciled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>ClearedDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>ClearedDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Territory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Work_Order__r.ServiceTerritoryId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Statement__c</object>
        <sortField>Start_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Invoice_To_New_Statement</name>
        <label>Update Invoice To New Statement</label>
        <locationX>825</locationX>
        <locationY>2363</locationY>
        <inputAssignments>
            <field>Statement__c</field>
            <value>
                <elementReference>finalStatement.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>315</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Data_Migration_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Invoice__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>finalStatement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Statement__c</objectType>
    </variables>
    <variables>
        <name>isNewStatement</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>newStatement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Statement__c</objectType>
    </variables>
    <variables>
        <name>statementEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>statementEndDateMonthly</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
