unpackaged/main/default/flows/Update_ERS_Case_to_Work_Type_Mapping.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Update_CMD</name>
        <label>Update CMD</label>
        <locationX>176</locationX>
        <locationY>1616</locationY>
        <actionName>UpdateCMD</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__data</typeName>
            <typeValue>ERS_Case_to_Work_Type_Mapping__mdt</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>data</name>
            <value>
                <elementReference>v_CMDCollection</elementReference>
            </value>
        </inputParameters>
        <nameSegment>UpdateCMD</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>add_to_collection</name>
        <label>add to collection</label>
        <locationX>836</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>v_CMDCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>v_currentCMD</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_to_access_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_single_CMD_record</name>
        <label>Assign single CMD record values</label>
        <locationX>836</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>v_currentCMD.DeveloperName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_screen_elements.DeveloperName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_currentCMD.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_screen_elements.Label</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_currentCMD.Breakdown_Location_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_screen_elements.Breakdown_Location_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_currentCMD.Case_to_Work_Type_Mapping_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_screen_elements.Case_to_Work_Type_Mapping_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_currentCMD.Breakdown_Location_State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_screen_elements.Breakdown_Location_State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_currentCMD.BSP_Available__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_screen_elements.BSP_Available</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_currentCMD.Enter_Home_during_Lockout__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_screen_elements.Enter_home_during_lockout</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_currentCMD.Member_Needs_Air__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_screen_elements.Member_needs_air</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_currentCMD.Won_t_Go_in_Gear__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_screen_elements.Won_t_go_in_gear</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_currentCMD.Flat_Tire_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_screen_elements.Flat_tire_status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_currentCMD.Vehicle_Lockout_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_screen_elements.Vehicle_lockout_reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_currentCMD.PCC_DISP_CODE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_screen_elements.PCC_Disp_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_currentCMD.Battery_Service_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_screen_elements.Battery_Service_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_currentCMD.Total_Mileage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_screen_elements.Total_Mileage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_currentCMD.Special_Equipment_Selection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_screen_elements.Special_equipment_selection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_currentCMD.Vehicle_Drivetrain__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_screen_elements.Vehicle_drivetrain</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_currentCMD.Vehicle_Fuel_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_screen_elements.Vehicle_fuel_type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_currentCMD.Membership_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_screen_elements.Membership_level</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_currentCMD.Tow_Request_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_screen_elements.Tow_request_reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_currentCMD.Type_of_Issue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_screen_elements.Type_of_issue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_currentCMD.Service_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_screen_elements.Service_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_currentCMD.Priority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_screen_elements.Priority</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_currentCMD.T_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_screen_elements.T_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_currentCMD.Vehicle_Location_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_screen_elements.Vehicle_location_type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_currentCMD.Vehicle_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_screen_elements.Vehicle_type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_currentCMD.Work_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_screen_elements.Work_Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_collection</name>
        <label>Assign to collection</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>v_recordCollectionForEditing</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_ERS_Case_to_Work_Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Edit_ERS_Case_to_Work_Type_Mapping</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Get_original_record</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get original record</label>
        <locationX>748</locationX>
        <locationY>782</locationY>
        <assignNextValueToReference>currentItem_Get_original_record</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_ERS_Case_to_Work_Type</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_original_record.DeveloperName</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_through_screen_elements.DeveloperName</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_to_access_record</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>New_record</name>
        <label>New record?</label>
        <locationX>1034</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Record_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no record exists</defaultConnectorLabel>
        <rules>
            <name>yes_new_record</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_to_access_record.DeveloperName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_to_access_record.DeveloperName</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_single_CMD_record</targetReference>
            </connector>
            <label>yes new record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_updated</name>
        <label>Record updated?</label>
        <locationX>1232</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Loop_to_access_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_record_updated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_screen_elements.BSP_Available</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Loop_to_access_record.BSP_Available__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_screen_elements.Battery_Service_Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Loop_to_access_record.Battery_Service_Type__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_screen_elements.Case_to_Work_Type_Mapping_Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Loop_to_access_record.Case_to_Work_Type_Mapping_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_screen_elements.Flat_tire_status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Loop_to_access_record.Flat_Tire_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_screen_elements.Member_needs_air</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Loop_to_access_record.Member_Needs_Air__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_screen_elements.Membership_level</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Loop_to_access_record.Membership_Level__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_screen_elements.PCC_Disp_Code</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Loop_to_access_record.PCC_DISP_CODE__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_screen_elements.Priority</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Loop_to_access_record.Priority__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_screen_elements.Special_equipment_selection</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Loop_to_access_record.Special_Equipment_Selection__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_screen_elements.T_Code</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Loop_to_access_record.T_Code__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_screen_elements.Total_Mileage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Loop_to_access_record.Total_Mileage__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_screen_elements.Tow_request_reason</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Loop_to_access_record.Tow_Request_Reason__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_screen_elements.Type_of_issue</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Loop_to_access_record.Type_of_Issue__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_screen_elements.Vehicle_drivetrain</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Loop_to_access_record.Vehicle_Drivetrain__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_screen_elements.Vehicle_fuel_type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Loop_to_access_record.Vehicle_Fuel_Type__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_screen_elements.Vehicle_location_type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Loop_to_access_record.Vehicle_Location_Type__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_screen_elements.Vehicle_lockout_reason</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Loop_to_access_record.Vehicle_Lockout_Reason__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_screen_elements.Vehicle_type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Loop_to_access_record.Vehicle_Type__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_screen_elements.Won_t_go_in_gear</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Loop_to_access_record.Won_t_Go_in_Gear__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_screen_elements.Work_Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Loop_to_access_record.Work_Type__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>f_locationCityChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>f_locationStateChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Assign_single_CMD_record</targetReference>
            </connector>
            <label>yes record updated</label>
        </rules>
    </decisions>
    <description>Update ERS Case to Work Type Mapping custom metadata</description>
    <dynamicChoiceSets>
        <name>pcs_batteryservicetype</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Battery_Service_Type__c</picklistField>
        <picklistObject>ERS_Case_to_Work_Type_Mapping__mdt</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcs_flattirestatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Flat_Tire_Status__c</picklistField>
        <picklistObject>ERS_Case_to_Work_Type_Mapping__mdt</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcs_membershiplevel</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Membership_Level__c</picklistField>
        <picklistObject>ERS_Case_to_Work_Type_Mapping__mdt</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcs_pccdispcode</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>PCC_DISP_CODE__c</picklistField>
        <picklistObject>ERS_Case_to_Work_Type_Mapping__mdt</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcs_ServiceType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Service_Type__c</picklistField>
        <picklistObject>Default_State_PTA__mdt</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcs_specialequipmentselection</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Special_Equipment_Selection__c</picklistField>
        <picklistObject>ERS_Case_to_Work_Type_Mapping__mdt</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcs_status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Case_to_Work_Type_Mapping_Status__c</picklistField>
        <picklistObject>ERS_Case_to_Work_Type_Mapping__mdt</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcs_tcode</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>T_Code__c</picklistField>
        <picklistObject>ERS_Case_to_Work_Type_Mapping__mdt</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcs_towrequestreason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Tow_Request_Reason__c</picklistField>
        <picklistObject>ERS_Case_to_Work_Type_Mapping__mdt</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcs_typeofissue</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Type_of_Issue__c</picklistField>
        <picklistObject>ERS_Case_to_Work_Type_Mapping__mdt</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcs_vehicledrivetrain</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Vehicle_Drivetrain__c</picklistField>
        <picklistObject>ERS_Case_to_Work_Type_Mapping__mdt</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcs_vehiclefueltype</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Vehicle_Fuel_Type__c</picklistField>
        <picklistObject>ERS_Case_to_Work_Type_Mapping__mdt</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcs_vehiclelocationtype</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Vehicle_Location_Type__c</picklistField>
        <picklistObject>ERS_Case_to_Work_Type_Mapping__mdt</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcs_vehiclelockoutreason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Vehicle_Lockout_Reason__c</picklistField>
        <picklistObject>ERS_Case_to_Work_Type_Mapping__mdt</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcs_vehicletype</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Vehicle_Type__c</picklistField>
        <picklistObject>ERS_Case_to_Work_Type_Mapping__mdt</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcs_yesno</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>BSP_Available__c</picklistField>
        <picklistObject>ERS_Case_to_Work_Type_Mapping__mdt</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StatePicklistValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>State__c</picklistField>
        <picklistObject>Default_State_PTA__mdt</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>f_locationCityChanged</name>
        <dataType>Boolean</dataType>
        <expression>AND(
NOT(
AND(ISBLANK({!Loop_through_screen_elements.Breakdown_Location_City}), ISBLANK({!Loop_to_access_record.Breakdown_Location_City__c}))
),
{!Loop_through_screen_elements.Breakdown_Location_City}!={!Loop_to_access_record.Breakdown_Location_City__c})</expression>
    </formulas>
    <formulas>
        <name>f_locationStateChanged</name>
        <dataType>Boolean</dataType>
        <expression>AND(
NOT(
AND(ISBLANK({!Loop_through_screen_elements.Breakdown_Location_State}), ISBLANK({!Loop_to_access_record.Breakdown_Location_State__c}))
),
{!Loop_through_screen_elements.Breakdown_Location_State}!={!Loop_to_access_record.Breakdown_Location_State__c})</expression>
    </formulas>
    <formulas>
        <name>f_recordChanged</name>
        <dataType>Boolean</dataType>
        <expression>OR(
{!Loop_through_screen_elements.Work_Type}!={!Loop_to_access_record.Work_Type__c},
{!Loop_through_screen_elements.BSP_Available}!=TEXT({!Loop_to_access_record.BSP_Available__c}),
{!Loop_through_screen_elements.Battery_Service_Type}!=TEXT({!Loop_to_access_record.Battery_Service_Type__c}),
{!Loop_through_screen_elements.Breakdown_Location_City}!={!Loop_to_access_record.Breakdown_Location_City__c},
{!Loop_through_screen_elements.Breakdown_Location_State}!={!Loop_to_access_record.Breakdown_Location_State__c},
{!Loop_through_screen_elements.Case_to_Work_Type_Mapping_Status}!=TEXT({!Loop_to_access_record.Case_to_Work_Type_Mapping_Status__c}),
{!Loop_through_screen_elements.Enter_home_during_lockout}!=TEXT({!Loop_to_access_record.Enter_Home_during_Lockout__c}),
{!Loop_through_screen_elements.Flat_tire_status}!=TEXT({!Loop_to_access_record.Flat_Tire_Status__c}),
{!Loop_through_screen_elements.Member_needs_air}!=TEXT({!Loop_to_access_record.Member_Needs_Air__c}),
{!Loop_through_screen_elements.Membership_level}!=TEXT({!Loop_to_access_record.Membership_Level__c}),
{!Loop_through_screen_elements.PCC_Disp_Code}!=TEXT({!Loop_to_access_record.PCC_DISP_CODE__c}),
{!Loop_through_screen_elements.Priority}!={!Loop_to_access_record.Priority__c},
{!Loop_through_screen_elements.Service_Type}!=TEXT({!Loop_to_access_record.Service_Type__c}),
{!Loop_through_screen_elements.T_Code}!=TEXT({!Loop_to_access_record.T_Code__c}),
{!Loop_through_screen_elements.Total_Mileage}!={!Loop_to_access_record.Total_Mileage__c},
{!Loop_through_screen_elements.Special_equipment_selection}!=TEXT({!Loop_to_access_record.Special_Equipment_Selection__c}),
{!Loop_through_screen_elements.Tow_request_reason}!=TEXT({!Loop_to_access_record.Tow_Request_Reason__c}),
{!Loop_through_screen_elements.Type_of_issue}!=TEXT({!Loop_to_access_record.Type_of_Issue__c}),
{!Loop_through_screen_elements.Vehicle_drivetrain}!=TEXT({!Loop_to_access_record.Vehicle_Drivetrain__c}),
{!Loop_through_screen_elements.Vehicle_fuel_type}!=TEXT({!Loop_to_access_record.Vehicle_Fuel_Type__c}),
{!Loop_through_screen_elements.Vehicle_location_type}!=TEXT({!Loop_to_access_record.Vehicle_Location_Type__c}),
{!Loop_through_screen_elements.Vehicle_lockout_reason}!=TEXT({!Loop_to_access_record.Vehicle_Lockout_Reason__c}),
{!Loop_through_screen_elements.Vehicle_type}!=TEXT({!Loop_to_access_record.Vehicle_Type__c}),
{!Loop_through_screen_elements.Won_t_go_in_gear}!=TEXT({!Loop_to_access_record.Won_t_Go_in_Gear__c})
)</expression>
    </formulas>
    <interviewLabel>Update ERS Case to Work Type Mapping {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update ERS Case to Work Type Mapping</label>
    <loops>
        <name>Loop_through_screen_elements</name>
        <label>Loop through screen elements</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <collectionReference>PTARecords.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_original_record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_CMD</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_to_access_record</name>
        <label>Loop to access record</label>
        <locationX>748</locationX>
        <locationY>890</locationY>
        <collectionReference>Get_original_record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>New_record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_through_screen_elements</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_ERS_Case_to_Work_Type</name>
        <label>Get Records</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_to_collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Service_Type_filter</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ERS_Case_to_Work_Type_Mapping__mdt</object>
        <sortField>Label</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Choose_Filter</name>
        <label>Choose Filter</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_ERS_Case_to_Work_Type</targetReference>
        </connector>
        <fields>
            <name>ChooseFilterText</name>
            <fieldText>&lt;p&gt;Choose the Service Type for the record(s) you want to update. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Service_Type_filter</name>
            <choiceReferences>pcs_ServiceType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Service Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Click_Next</name>
        <label>Click Next</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Choose_Filter</targetReference>
        </connector>
        <fields>
            <name>ClickNext</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Click &quot;Next&quot; to begin updating ERS Case to Work Type Mapping values.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Note: Updates may take 5-10 minutes to appear. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Edit_ERS_Case_to_Work_Type_Mapping</name>
        <label>Edit ERS Case to Work Type Mapping</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_through_screen_elements</targetReference>
        </connector>
        <fields>
            <name>PTARecords</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>Label</name>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>v_recordCollectionForEditing[$EachItem].Label</elementReference>
                </defaultValue>
                <fieldText>Label</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isReadOnly>
                    <booleanValue>true</booleanValue>
                </isReadOnly>
                <isRequired>false</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>DeveloperName</name>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>v_recordCollectionForEditing[$EachItem].DeveloperName</elementReference>
                </defaultValue>
                <fieldText>DeveloperName</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isReadOnly>
                    <booleanValue>true</booleanValue>
                </isReadOnly>
                <isRequired>false</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Breakdown_Location_City</name>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>v_recordCollectionForEditing[$EachItem].Breakdown_Location_City__c</elementReference>
                </defaultValue>
                <fieldText>Breakdown Location City</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Work_Type</name>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>v_recordCollectionForEditing[$EachItem].Work_Type__c</elementReference>
                </defaultValue>
                <fieldText>Work Type</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Breakdown_Location_State</name>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>v_recordCollectionForEditing[$EachItem].Breakdown_Location_State__c</elementReference>
                </defaultValue>
                <fieldText>Breakdown Location State</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Case_to_Work_Type_Mapping_Status</name>
                <choiceReferences>pcs_status</choiceReferences>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>v_recordCollectionForEditing[$EachItem].Case_to_Work_Type_Mapping_Status__c</elementReference>
                </defaultValue>
                <fieldText>Case to Work Type Mapping Status</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>BSP_Available</name>
                <choiceReferences>pcs_yesno</choiceReferences>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>v_recordCollectionForEditing[$EachItem].BSP_Available__c</elementReference>
                </defaultValue>
                <fieldText>BSP Available</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Enter_home_during_lockout</name>
                <choiceReferences>pcs_yesno</choiceReferences>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>v_recordCollectionForEditing[$EachItem].Enter_Home_during_Lockout__c</elementReference>
                </defaultValue>
                <fieldText>Enter home during lockout</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Member_needs_air</name>
                <choiceReferences>pcs_yesno</choiceReferences>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>v_recordCollectionForEditing[$EachItem].Member_Needs_Air__c</elementReference>
                </defaultValue>
                <fieldText>Member needs air</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Won_t_go_in_gear</name>
                <choiceReferences>pcs_yesno</choiceReferences>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>v_recordCollectionForEditing[$EachItem].Won_t_Go_in_Gear__c</elementReference>
                </defaultValue>
                <fieldText>Won&#39;t go in gear</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Flat_tire_status</name>
                <choiceReferences>pcs_flattirestatus</choiceReferences>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>v_recordCollectionForEditing[$EachItem].Flat_Tire_Status__c</elementReference>
                </defaultValue>
                <fieldText>Flat tire status</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Vehicle_lockout_reason</name>
                <choiceReferences>pcs_vehiclelockoutreason</choiceReferences>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>v_recordCollectionForEditing[$EachItem].Vehicle_Lockout_Reason__c</elementReference>
                </defaultValue>
                <fieldText>Vehicle lockout reason</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>PCC_Disp_Code</name>
                <choiceReferences>pcs_pccdispcode</choiceReferences>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>v_recordCollectionForEditing[$EachItem].PCC_DISP_CODE__c</elementReference>
                </defaultValue>
                <fieldText>PCC Disp Code</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Battery_Service_Type</name>
                <choiceReferences>pcs_batteryservicetype</choiceReferences>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>v_recordCollectionForEditing[$EachItem].Battery_Service_Type__c</elementReference>
                </defaultValue>
                <fieldText>Battery Service Type</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Total_Mileage</name>
                <dataType>Number</dataType>
                <defaultValue>
                    <elementReference>v_recordCollectionForEditing[$EachItem].Total_Mileage__c</elementReference>
                </defaultValue>
                <fieldText>Total Mileage</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <scale>0</scale>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Special_equipment_selection</name>
                <choiceReferences>pcs_specialequipmentselection</choiceReferences>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>v_recordCollectionForEditing[$EachItem].Special_Equipment_Selection__c</elementReference>
                </defaultValue>
                <fieldText>Special equipment selection</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Vehicle_drivetrain</name>
                <choiceReferences>pcs_vehicledrivetrain</choiceReferences>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>v_recordCollectionForEditing[$EachItem].Vehicle_Drivetrain__c</elementReference>
                </defaultValue>
                <fieldText>Vehicle drivetrain</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Vehicle_fuel_type</name>
                <choiceReferences>pcs_vehiclefueltype</choiceReferences>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>v_recordCollectionForEditing[$EachItem].Vehicle_Fuel_Type__c</elementReference>
                </defaultValue>
                <fieldText>Vehicle fuel type</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Membership_level</name>
                <choiceReferences>pcs_membershiplevel</choiceReferences>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>v_recordCollectionForEditing[$EachItem].Membership_Level__c</elementReference>
                </defaultValue>
                <fieldText>Membership level</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Tow_request_reason</name>
                <choiceReferences>pcs_towrequestreason</choiceReferences>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>v_recordCollectionForEditing[$EachItem].Tow_Request_Reason__c</elementReference>
                </defaultValue>
                <fieldText>Tow request reason</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Type_of_issue</name>
                <choiceReferences>pcs_typeofissue</choiceReferences>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>v_recordCollectionForEditing[$EachItem].Type_of_Issue__c</elementReference>
                </defaultValue>
                <fieldText>Type of issue</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Service_Type</name>
                <choiceReferences>pcs_ServiceType</choiceReferences>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>v_recordCollectionForEditing[$EachItem].Service_Type__c</elementReference>
                </defaultValue>
                <fieldText>Service Type</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Priority</name>
                <dataType>Number</dataType>
                <defaultValue>
                    <elementReference>v_recordCollectionForEditing[$EachItem].Priority__c</elementReference>
                </defaultValue>
                <fieldText>Priority</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <scale>0</scale>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>T_Code</name>
                <choiceReferences>pcs_tcode</choiceReferences>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>v_recordCollectionForEditing[$EachItem].T_Code__c</elementReference>
                </defaultValue>
                <fieldText>T-Code</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Vehicle_type</name>
                <choiceReferences>pcs_vehicletype</choiceReferences>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>v_recordCollectionForEditing[$EachItem].Vehicle_Type__c</elementReference>
                </defaultValue>
                <fieldText>Vehicle type</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Vehicle_location_type</name>
                <choiceReferences>pcs_vehiclelocationtype</choiceReferences>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>v_recordCollectionForEditing[$EachItem].Vehicle_Location_Type__c</elementReference>
                </defaultValue>
                <fieldText>Vehicle location type</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <inputParameters>
                <name>collection</name>
                <value>
                    <elementReference>v_recordCollectionForEditing</elementReference>
                </value>
            </inputParameters>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Update Records</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Click_Next</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Get_original_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ERS_Case_to_Work_Type_Mapping__mdt</objectType>
    </variables>
    <variables>
        <name>v_CMDCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ERS_Case_to_Work_Type_Mapping__mdt</objectType>
    </variables>
    <variables>
        <name>v_currentCMD</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ERS_Case_to_Work_Type_Mapping__mdt</objectType>
    </variables>
    <variables>
        <name>v_recordCollectionForEditing</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ERS_Case_to_Work_Type_Mapping__mdt</objectType>
    </variables>
</Flow>
