unpackaged/main/default/flows/UpdateFixedAmountonRLI_NoDayCode.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_if_RLI_is_Found</name>
        <label>Check if RLI is Found</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_UpdateFixedAmount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_RLI_is_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Old_Rate_Line_Item</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateFixedAmount</targetReference>
            </connector>
            <label>Yes RLI is Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>UpdateFixedAmountonRLI(NoDayCode) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateFixedAmountonRLI(NoDayCode)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Old_Rate_Line_Item</name>
        <label>Get Old Rate Line Item</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_RLI_is_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Type_Picklist__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Service_Type_Picklist__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Start_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.Start_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contract__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Min_Data_Range__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Min_Data_Range__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Max_Data_Range__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Max_Data_Range__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Rate_Line_Item__c</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_UpdateFixedAmount</name>
        <label>Copy 1 of UpdateFixedAmount</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Fixed_Amount_Adjusted_Value__c</field>
            <value>
                <elementReference>$Record.Fixed_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fixed_Amount_Changed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fixed_Amount__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateFixedAmount</name>
        <label>UpdateFixedAmount</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Fixed_Amount_Adjusted_Value__c</field>
            <value>
                <elementReference>$Record.Fixed_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fixed_Amount_Changed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fixed_Amount__c</field>
            <value>
                <elementReference>Get_Old_Rate_Line_Item.Fixed_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Old_Rate_Line_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Fixed_Amount__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Time_of_Day_Code__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Rate_Line_Item__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
