unpackaged/main/default/flows/Update_Scheduled_Time.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>isTowAssignment</name>
        <label>Is Tow Assignment</label>
        <locationX>562</locationX>
        <locationY>424</locationY>
        <assignmentItems>
            <assignToReference>isTow</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pick_Time</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Breakdown</name>
        <choiceText>Breakdown Appointment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Light_Service</stringValue>
        </value>
    </choices>
    <choices>
        <name>Fifteen</name>
        <choiceText>15 Minutes</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>15.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Five_Min</name>
        <choiceText>5 Minutes</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <description>Ten minutes</description>
        <name>Ten</name>
        <choiceText>10 Minutes</choiceText>
        <dataType>Number</dataType>
        <value>
            <elementReference>Ten_Miutes</elementReference>
        </value>
    </choices>
    <choices>
        <name>Thirty</name>
        <choiceText>30 Minutes</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>30.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Tow</name>
        <choiceText>Tow Appointment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tow</stringValue>
        </value>
    </choices>
    <choices>
        <name>Twenty</name>
        <choiceText>20 Minutes</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>20.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Twenty_Five</name>
        <choiceText>25 Minutes</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>25.0</numberValue>
        </value>
    </choices>
    <constants>
        <name>five</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>Five_Minutes</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>Select_Time</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Pick Time</stringValue>
        </value>
    </constants>
    <constants>
        <name>Ten_Miutes</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>10.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Found_Tow_Appointment</name>
        <label>Found Tow Appointment</label>
        <locationX>373</locationX>
        <locationY>318</locationY>
        <defaultConnector>
            <targetReference>Pick_Time</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_Tow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Tow_Appointment_ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isTowAssignment</targetReference>
            </connector>
            <label>Yes, Is Tow</label>
        </rules>
    </decisions>
    <description>Created for Omni Channel Juds Demo, includes new reschedule component</description>
    <formulas>
        <name>extendCounterFormula</name>
        <dataType>Number</dataType>
        <expression>{!servApp.Extend_Work_Time_Counter__c} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>SArecordtypeToUpdate</name>
        <dataType>String</dataType>
        <expression>IF( {!isTow} = TRUE &amp;&amp; {!Appointment} = &quot;Tow Appointment&quot;,
&quot;Tow&quot;,
&quot;Breakdown&quot;)</expression>
    </formulas>
    <formulas>
        <name>Updated_Scheduled_End_Time</name>
        <dataType>DateTime</dataType>
        <expression>{!servApp.SchedEndTime} + ({!minutesToUpdate}/1440)</expression>
    </formulas>
    <formulas>
        <name>Updated_Scheduled_Start</name>
        <dataType>DateTime</dataType>
        <expression>IF({!casewithSAID.FSL_In_Jeopardy_Reason__c} != &quot;On Location Violation&quot;,
{!servApp.SchedStartTime} + ({!minutesToUpdate}/1440),
{!servApp.SchedStartTime})</expression>
    </formulas>
    <interviewLabel>Update Scheduled Times {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Update Scheduled Time</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>192</locationX>
        <locationY>195</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Tow_Appointment_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>casewithSAID</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FSL_Work_Order__c</queriedFields>
        <queriedFields>FSL_Service_Appointment__c</queriedFields>
        <queriedFields>FSL_In_Jeopardy_Reason__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>881</locationX>
        <locationY>280</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SA_Scheduled_Start_and_End_Time</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SArecordtypeToUpdate</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ServiceAppointment</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>recordTypeVar</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_SA_Scheduled_Start_and_End_Time</name>
        <label>Get SA Scheduled Start and End Time</label>
        <locationX>1063</locationX>
        <locationY>385</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_SA_Scheduled_Start_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>casewithSAID.FSL_Work_Order__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordTypeVar.Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>servApp</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SchedStartTime</queriedFields>
        <queriedFields>SchedEndTime</queriedFields>
        <queriedFields>Schedule_Delta__c</queriedFields>
        <queriedFields>Extend_Work_Time_Counter__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Tow_Appointment_ID</name>
        <label>Get Tow Appointment ID</label>
        <locationX>190</locationX>
        <locationY>386</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Tow_Appointment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FSL__Related_Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>casewithSAID.FSL_Service_Appointment__c</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>towSA</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SchedStartTime</queriedFields>
        <queriedFields>SchedEndTime</queriedFields>
        <queriedFields>Schedule_Delta__c</queriedFields>
        <queriedFields>Extend_Work_Time_Counter__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_SA_Scheduled_Start_Date</name>
        <label>Update SA Scheduled Start Date</label>
        <locationX>1222</locationX>
        <locationY>276</locationY>
        <connector>
            <targetReference>Updated_Time</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>servApp.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Extend_Work_Time_Counter__c</field>
            <value>
                <elementReference>extendCounterFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SchedStartTime</field>
            <value>
                <elementReference>Updated_Scheduled_Start</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Schedule_Delta__c</field>
            <value>
                <elementReference>minutesToUpdate</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <screens>
        <name>Pick_Time</name>
        <label>Pick Time</label>
        <locationX>724</locationX>
        <locationY>313</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
        <fields>
            <name>Appointment</name>
            <choiceReferences>Breakdown</choiceReferences>
            <choiceReferences>Tow</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Appointment</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Minutes</name>
            <extensionName>c:FSL_Scheduled_Time</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>minutesToUpdate</assignToReference>
                <name>imgpicker</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Updated_Time</name>
        <label>Updated Time</label>
        <locationX>1462</locationX>
        <locationY>274</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Confirm_Text</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Scheduled Start and End Time have been updated successfully!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Scheduled_Start</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Scheduled Start Time: &lt;/b&gt;{!Updated_Scheduled_Start}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>End_Time</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Scheduled End Time: &lt;/b&gt;{!Updated_Scheduled_End_Time}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Case</startElementReference>
    <status>Active</status>
    <variables>
        <name>casewithSAID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>isTow</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>minutesToUpdate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentRecord</elementReference>
        </value>
    </variables>
    <variables>
        <name>recordTypeVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>SARecordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>servApp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>towSA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
</Flow>
