unpackaged/main/default/flows/Update_Invoices_To_Deferred.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Deferred_Count</name>
        <label>Assign Deferred Count</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>DeferredInvCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>lstDeferredInvToUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Deferred</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Deferred_to_List</name>
        <label>Assign Deferred to List</label>
        <locationX>270</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>lstDeferredInvToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Invoices</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Invoices</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Ready_For_Processing_Count</name>
        <label>Assign Ready For Processing Count</label>
        <locationX>974</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>ReadyForProcessingInvCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>lstReadyForProcessingInvToUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Ready_For_Processing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Ready_For_Processing_To_List</name>
        <label>Assign Ready For Processing To List</label>
        <locationX>1062</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>lstReadyForProcessingInvToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Status_to_Ready_for_Processing</name>
        <label>Change Status to Ready for Processing</label>
        <locationX>1062</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Loop_2.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ready for Processing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_2.Statement_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ACG_End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Ready_For_Processing_To_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Status_To_Deferred</name>
        <label>Update Status To Deferred</label>
        <locationX>270</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Invoices.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Deferred</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Deferred_to_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Deferred</name>
        <label>Deferred?</label>
        <locationX>754</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Get_Invoices_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Active</defaultConnectorLabel>
        <rules>
            <name>Is_Deferred</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ACG_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deferred</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Invoices</targetReference>
            </connector>
            <label>Is Deferred?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_Records_Exist</name>
        <label>Do Records Exist</label>
        <locationX>380</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Invoice_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Invoices</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Invoices</targetReference>
            </connector>
            <label>Invoice Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Deferred</name>
        <label>Has Deferred ?</label>
        <locationX>182</locationX>
        <locationY>1163</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Does</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DeferredInvCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Deferred</targetReference>
            </connector>
            <label>Yes Does</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Ready_For_Processing</name>
        <label>Has Ready For Processing ?</label>
        <locationX>974</locationX>
        <locationY>1163</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Has</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ReadyForProcessingInvCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Ready_For_Processing</targetReference>
            </connector>
            <label>Yes Has</label>
        </rules>
    </decisions>
    <decisions>
        <name>Invoices_Exist</name>
        <label>Invoices Exist</label>
        <locationX>1128</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Invoices</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Invoices_2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_2</targetReference>
            </connector>
            <label>Invoices?</label>
        </rules>
    </decisions>
    <description>Changed entry conditions</description>
    <environments>Default</environments>
    <interviewLabel>Update Invoices To Deferred {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Invoices To Deferred</label>
    <loops>
        <name>Loop_2</name>
        <label>Loop 2</label>
        <locationX>974</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Invoices_2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Change_Status_to_Ready_for_Processing</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Ready_For_Processing_Count</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Invoices</name>
        <label>Loop Through Invoices</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Invoices</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Status_To_Deferred</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Deferred_Count</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get related invoices</description>
        <name>Get_Invoices</name>
        <label>Get Invoices</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Do_Records_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Facility_Adjustment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Invoices_2</name>
        <label>Get Invoices 2</label>
        <locationX>1128</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Invoices_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Facility_Adjustment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Submitted for Payment</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Deferred</name>
        <label>Update Deferred</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <inputReference>lstDeferredInvToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Ready_For_Processing</name>
        <label>Update Ready For Processing</label>
        <locationX>842</locationX>
        <locationY>1271</locationY>
        <inputReference>lstReadyForProcessingInvToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>628</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Deferred</targetReference>
        </connector>
        <filterLogic>3 AND (1 OR 2)</filterLogic>
        <filters>
            <field>ACG_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>ACG_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Deferred</stringValue>
            </value>
        </filters>
        <filters>
            <field>ACG_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ACG_Facility_Adjustment__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>DeferredInvCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>lstDeferredInvToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice__c</objectType>
    </variables>
    <variables>
        <name>lstReadyForProcessingInvToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice__c</objectType>
    </variables>
    <variables>
        <name>ReadyForProcessingInvCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
