unpackaged/main/default/flows/Work_Order_Calculated_Mileage_on_Cleared.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Calculate_Mileage</name>
        <label>Calculate Mileage</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <actionName>FSL_MileageCalculatedUtility</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationLatitude</name>
            <value>
                <elementReference>Get_Service_Appointment_Status_Location.To_Latitude__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationLongitude</name>
            <value>
                <elementReference>Get_Service_Appointment_Status_Location.To_Longitude__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>originLatitude</name>
            <value>
                <elementReference>Get_Service_Appointment_Status_Location.From_Latitude__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>originLongitude</name>
            <value>
                <elementReference>Get_Service_Appointment_Status_Location.From_Longitude__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>productCode</name>
            <value>
                <stringValue>CE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>workOrderId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FSL_MileageCalculatedUtility</nameSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_For_Service_Territory_Setting</name>
        <label>Check For Service Territory Setting</label>
        <locationX>776</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Driver_Location</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ServiceTerritory.Enable_Calculate_Mileage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>From Driver Location</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrieve_Breakdown_Service_Appointment</targetReference>
            </connector>
            <label>Is Driver Location</label>
        </rules>
        <rules>
            <name>Is_Service_Territory_Location</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ServiceTerritory.Enable_Calculate_Mileage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>From Service Territory</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ServiceTerritory.Enable_Calculate_Mileage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Calculated Facility</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Product_Record_For_Service_Territory</targetReference>
            </connector>
            <label>Is Service Territory Location</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_To_And_From_Lat_Long</name>
        <label>Check For To And From Lat-Long</label>
        <locationX>182</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Update_Or_Insert_SLI_with_Zero_Quantity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Both_Lat_Long_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Service_Appointment_Status_Location.From_Latitude__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Service_Appointment_Status_Location.From_Longitude__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Service_Appointment_Status_Location.To_Latitude__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Service_Appointment_Status_Location.To_Longitude__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_Mileage</targetReference>
            </connector>
            <label>Both Lat-Long Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Service_Line_Item_Exist_For_Service_Territory</name>
        <label>Check If Service Line Item Exist For Service Territory</label>
        <locationX>842</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Service_Line_Is_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Service_Line_Item_Record_For_Service_Territory</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_CE_Service_Line_Item</targetReference>
            </connector>
            <label>Service Line Is Exist</label>
        </rules>
    </decisions>
    <interviewLabel>Work Order Calculated Mileage on Cleared {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Work Order Calculated Mileage on Cleared</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Application_Log_Using_Platform_Event</name>
        <label>Create Application Log Using Platform Event</label>
        <locationX>842</locationX>
        <locationY>935</locationY>
        <inputAssignments>
            <field>Error_Caught__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operation__c</field>
            <value>
                <stringValue>CalculatedMileage</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Application_Log_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Audit_Application_Log_with_Platform_Event</name>
        <label>Create Audit Application Log with Platform Event</label>
        <locationX>578</locationX>
        <locationY>935</locationY>
        <inputAssignments>
            <field>Error_Caught__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <stringValue>Remove by the system business rule ERS-224301</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operation__c</field>
            <value>
                <elementReference>Calculate_Mileage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Application_Log_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_CE_Service_Line_Item</name>
        <label>Delete CE Service Line Item</label>
        <locationX>578</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Create_Audit_Application_Log_with_Platform_Event</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Application_Log_Using_Platform_Event</targetReference>
        </faultConnector>
        <inputReference>Get_Service_Line_Item_Record_For_Service_Territory</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Product_Record_For_Service_Territory</name>
        <label>Get Product Record For Service Territory</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_Line_Item_Record_For_Service_Territory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CE</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Appointment_Status_Location</name>
        <label>Get Service Appointment Status Location</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_For_To_And_From_Lat_Long</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Appointment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Retrieve_Breakdown_Service_Appointment.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_States__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ER - Cancelled_Cleared</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service_Appointment_Status_Location__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Line_Item_Record_For_Service_Territory</name>
        <label>Get Service Line Item Record For Service Territory</label>
        <locationX>842</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Service_Line_Item_Exist_For_Service_Territory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Product_Record_For_Service_Territory.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FSL_Calculated_Mileage_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_Breakdown_Service_Appointment</name>
        <label>Retrieve Breakdown Service Appointment</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_the_To_Lat_Long_of_Service_Appointment_Location_SubFlow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Breakdown Appointment</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_For_Service_Territory_Setting</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cleared</stringValue>
            </value>
        </filters>
        <filters>
            <field>Resolution_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>X001</stringValue>
            </value>
        </filters>
        <filters>
            <field>Resolution_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>X002</stringValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Update_Or_Insert_SLI_with_Zero_Quantity</name>
        <label>Update Or Insert SLI with Zero Quantity</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <flowName>Update_Or_Insert_Service_Line_Item</flowName>
        <inputAssignments>
            <name>ProductCode</name>
            <value>
                <stringValue>CE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Quantity</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WorkOrderId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Update_the_To_Lat_Long_of_Service_Appointment_Location_SubFlow</name>
        <label>Update the To Lat-Long of Service Appointment Location SubFlow</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Get_Service_Appointment_Status_Location</targetReference>
        </connector>
        <flowName>CM_Update_To_Lat_Long_of_Service_Appointment_Location_SubFlow</flowName>
        <inputAssignments>
            <name>varWorkOrderId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Travel_Distance_In_Mile</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
