unpackaged/main/default/flows/Work_Order_Re_Trigger_Pricing_on_Clear_Resolution_Code_Change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_SLI_Prices_AUTO</name>
        <label>Get SLI Prices AUTO</label>
        <locationX>176</locationX>
        <locationY>755</locationY>
        <actionName>AAAFlowInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>callClearCodeLogic</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowAPIName</name>
            <value>
                <stringValue>Get_SLI_Prices_On_REST_AutoLaunched</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sliList</name>
            <value>
                <elementReference>Get_ALL_SLI_from_WO</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>wo</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AAAFlowInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_SLI_Prices_AUTO_2</name>
        <label>Get SLI Prices AUTO 2</label>
        <locationX>440</locationX>
        <locationY>755</locationY>
        <actionName>AAAFlowInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>callClearCodeLogic</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowAPIName</name>
            <value>
                <stringValue>Get_SLI_Prices_On_REST_AutoLaunched</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sliList</name>
            <value>
                <elementReference>Get_ALL_SLI_from_WO</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>wo</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AAAFlowInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_Data_Migration_User</name>
        <label>Is Data Migration User?</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Get_ALL_SLI_from_WO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_DM_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Skip_Automation_Logic</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Membership_Level_Changed</name>
        <label>Membership Level Changed?</label>
        <locationX>440</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BO_Editable_WO_Specific_Membership_Level__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BO_Editable_WO_Specific_Membership_Level__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Clearing_Code__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Resolution_Code__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_ALL_SLI_from_WO</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SLI_Prices_AUTO</targetReference>
            </connector>
            <label>Yes Changed</label>
        </rules>
        <rules>
            <name>No_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ALL_SLI_from_WO</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SLI_Prices_AUTO_2</targetReference>
            </connector>
            <label>No Change</label>
        </rules>
    </decisions>
    <description>10/02/2024: add pricing flag update to address recursion
09/11/2024: clear code logic called on both paths
08/28/2024: remove custom error based on invoice existing.
04/01/2024: v1 PR893288-4703</description>
    <environments>Default</environments>
    <interviewLabel>Work Order Re-Trigger Pricing on Clear/Resolution Code Change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Work Order Re-Trigger Pricing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_ALL_SLI_from_WO</name>
        <label>Get ALL SLI from WO</label>
        <locationX>440</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_pricing_flag</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FSL_Service_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_pricing_flag</name>
        <label>Update pricing flag</label>
        <locationX>440</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Membership_Level_Changed</targetReference>
        </connector>
        <inputAssignments>
            <field>WO_Pricing_In_Progress__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Data_Migration_User</targetReference>
        </connector>
        <filterLogic>((1 AND 2) OR (3 AND 4 AND 5)) AND ((6 AND 7) OR (8 AND 9) OR (12 AND 13)) AND 10 AND 11 AND 14</filterLogic>
        <filters>
            <field>Call_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>RAP</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cleared</stringValue>
            </value>
        </filters>
        <filters>
            <field>Call_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RAP</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cleared</stringValue>
            </value>
        </filters>
        <filters>
            <field>RAP_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RAP Cleared</stringValue>
            </value>
        </filters>
        <filters>
            <field>Clearing_Code__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Clearing_Code__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Resolution_Code__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Resolution_Code__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RAP_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BO_Editable_WO_Specific_Membership_Level__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BO_Editable_WO_Specific_Membership_Level__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>WO_Pricing_In_Progress__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>700</triggerOrder>
    <variables>
        <name>invoiceCollectionSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
